body {
	font-size: 0.80em;
	line-height: 1.5em;	
	margin: 0px;
	padding: 0px;
}

p {
}

b, strong {

}

/* Weblink CSS settings (Navigation container link settings are further down) */

a:link, a:visited {
	font-weight: normal;
	font-style: normal;
}

a:hover, a:active {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

img {
	border-style: none;
}

.image-right {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

.image-left {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

/* - CSS Layout Settings - */

#container {
	margin: 0;
	text-align: left;
}

.clearer {
	clear: both;
}

#pageHeader {
	height: auto;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	position: relative;
	padding: 0;
}

#pageHeader img {
	display: inline;
	float: left;
	margin-top: 2px;
}

#pageHeader h1 {
	display: inline;
	background: transparent;
	font-size: 2.25em;
	font-weight: bold;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
	text-decoration: none;
	padding: 0;
}

#pageHeader h2 {
	display: inline;
	background: transparent;
	font-size: 1.00em;
	font-weight: normal;
	letter-spacing: 0px;
	line-height: 1.25em;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	padding-bottom: 10px;
	padding-top: 0;
}

#contentContainer {
	padding: 15px 15px 0;
	margin: 0px 220px 0px 0px;
	position: relative;
	text-align: left;
	z-index: 10;
}

#contentContainer #content {
	padding: 0px;
	border: none;
}

#sidebarContainer {
	float: right;
	width: 200px;	
	position: relative;
}

#sidebarContainer #sidebar {
	padding-left: 15px;
	padding-right: 15px;
	line-height: 1.5em;
	
}

#sidebarContainer .sideHeader {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	padding-bottom: 0px;
	font-weight: bold;
	font-size: 1.25em;
}

#sidebarContainer .lastPublished {
	padding: 15px;
}

#footer {
	background: transparent;
	height: auto;
	padding: 15px;
}

#footer p {
	padding-left: 0px;
	padding-top: 5px;
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
	text-decoration: none;
}
	
/* Breadcrumb Container CSS Settings*/

#breadcrumbcontainer {
	background: transparent;
	height: auto;
	text-align: right;
	padding: 10px 15px;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0;
	padding: 0px;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#breadcrumbcontainer a:hover {
	font-weight: normal;
	font-style: normal;
	text-decoration: underline;
}

/* @group Horizontal Navigation */

#navigation {
	display: block;
}

#primaryNavigation {
	display: block;
	left: 0px;
	margin: 0;
	text-align: left;
	text-decoration: none;
	z-index: 10;
	padding: 2px 0;
}

#primaryNavigation ul {
	padding: 0;
	margin: 10px 5px;
}

#primaryNavigation li a {
	padding: 2px 10px;
	border-left: 1px solid #000;
}

#primaryNavigation li:first-child a {
	border-left: none;
}

#primaryNavigation .current {
	font-weight: bold;
	text-decoration: none;
}

#primaryNavigation .currentAncestor {
	font-weight: bold;
	text-decoration: none;
}

/* Parent - Level 0 */

#primaryNavigation li {
	display: inline;
	margin: 0;
	padding: 0;
}

#primaryNavigation a {
	text-decoration: none;
	display: inline;
	margin: 0;
	padding-right: 10px;
	padding-left: 10px;
	background: transparent;
	font-weight: normal;
	font-style: normal;
}

#primaryNavigation a:hover {
	text-decoration: underline;
}

/* Child - Level 1 */

#primaryNavigation ul ul {
	display: none;
}

#primaryNavigation ul ul li {
	
}

#primaryNavigation ul ul a {
	background: none;
	padding-top: 1px;
	width: 9em;
}

#primaryNavigation ul ul a:hover {
	
}

#primaryNavigation ul ul .current {
}

#primaryNavigation ul ul .currentAncestor {	
}

/* Child - Level 2 */

#primaryNavigation ul ul ul {	
}

#primaryNavigation ul ul ul li {
	
}

#primaryNavigation ul ul ul li a {
	
}

#primaryNavigation ul ul ul li a:hover {
	
}

#primaryNavigation ul ul ul .current {
	font-weight: bold;
}

#primaryNavigation ul ul ul ul {
	
}

/* @end */

/* @group Vertical Navigation */

#verticalNavigation {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 5px 0 0;
}

#verticalNavigation .current:hover,
#verticalNavigation ul .current:hover,
#verticalNavigation ul ul .current:hover,
#verticalNavigation ul ul ul .current:hover {
	font-weight: bold;
	text-decoration: none;
}

#verticalNavigation .current,
#verticalNavigation ul .current,
#verticalNavigation ul ul .current,
#verticalNavigation ul ul ul .current {
	font-weight: bold;
	text-decoration: none;
}

/* Parent - Level 0 */

#verticalNavigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#verticalNavigation li {
	position: relative;
	display: inline;
}

#verticalNavigation a {
	display: none;
	height: 20px;
	text-decoration: none;
	padding: 6px 15px 3px;
}

#verticalNavigation a:hover {
	text-decoration: underline;
	font-style: normal;
}

/* Child - Level 1 */

#verticalNavigation ul a {
	display: none;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul a:hover {
	display: none;
	background-image: none;
	font-style: normal;
}

/* Child - Level 2 */

#verticalNavigation ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul ul a:hover {
	display: block;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul ul a:link {
	display: block;
	background-image: none;
	font-style: normal;
}

/* Child - Level 3 */

#verticalNavigation ul ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
	padding-right: 30px;
	padding-left: 30px;
}

#verticalNavigation ul ul ul a:hover {
	display: block;
	background-image: none;
	font-style: normal;
}

/* @end */

/* Global Classes (RW HTML Formatting Menu) CSS Settings */

blockquote, .standout {
	padding: 10px;
	margin: 0px;
}

h1 {
}

h2 { 
}

h3 {
	margin-top: 0px;
	margin-bottom: -15px;
}

h4 {
	margin-top: 0px;
	margin-bottom: -15px;
}

h5 {
	margin-top: 0px;
	margin-bottom: -15px;
}

h6 {
	margin-top: 0px;
	margin-bottom: -15px;
}

.imageStyle {
}
	
/* Main Content Container Unordered List CSS settings */

#contentContainer #content ul {
	padding-top: 0px;
	bottom-top: 0px;
}

#contentContainer #content li {
}

/* Sidebar Container Unordered List CSS settings */

#sidebarContainer #sidebar ul {
	margin: 0px;
	padding: 0px;
}

#sidebarContainer #sidebar li {
}

/* Table Styles CSS settings */

table {
	font-size: 1em;
}
/* @end */

/* @group Blog */

/* @group Archive Page */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 10px;
}

.blog-archive-headings-wrapper {
	margin-bottom: 40px;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}

.blog-archive-month {
	font-size: 1.5em;
	letter-spacing: 0px;
}

.blog-archive-link {
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	letter-spacing: 1px
}


/* Blog (Weblog) CSS settings */	

.blog-entry {
	margin-bottom: 20px;
}

.blog-entry-title {
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.blog-entry-date {
	font-size: 1.25em;
	font-weight: normal;
	letter-spacing: 1px;
	padding-bottom: 5px;
}

.blog-entry-date a:link {
}

.blog-entry-date a:hover {
	text-decoration: underline;
}

.blog-read-more {
	display: block;
	padding-top: 5px;
}

.blog-read-more a:link{
}

.blog-read-more a:hover{
	text-decoration: underline;
}

.blog-entry-body {
}

.blog-entry-comments {
}

.blog-entry-category {
	font-weight: bold;
	margin-bottom: 5px;
}
	
.blog-category-link-enabled {
	padding: 0px 0px 0px 0px;
}

.blog-category-link-disabled {
	padding: 0px 0px 0px 0px;
}

/* Styles archives in the blog sidebar */
#blog-archives {
	margin-bottom: 15px;
	margin-top: 15px;
	line-height: 1.4em;
}

.blog-archive-link-enabled {
	display: block;
}

.blog-archive-link-disabled {
	display: block;
}

/* Styles blog categories in the blog sidebar */
#blog-categories {
	margin-bottom: 15px;
	margin-top: 15px;
	line-height: 1.4;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 15px;
	line-height: 1.4em;
}

.blog-rss-link {
	display: block;
}

.blog-comments-rss-link {
	display: block;
}

/* @end */

/* @group Tag Cloud */

/* Styles the tag cloud un-ordered list */
ul.blog-tag-cloud { 
	text-align: justify;
}

/* Styles tag cloud list item */
ul.blog-tag-cloud li { 
	display: inline;
	padding: 0px 0px 0px 0px;
}

/* Styles all links in the tag cloud in normal and visited state */
ul.blog-tag-cloud li a:link, ul.blog-tag-cloud li a:visited { 
}

/* Styles all links in the tag cloud in hover state */
ul.blog-tag-cloud li a:hover { 
}

/* Styles all links in the tag cloud in active state */
ul.blog-tag-cloud li a:active { 
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* @end */

/* File Sharing CSS Settings */

.filesharing-description {
}

.filesharing-item {
	padding: 0;
	margin: 0;
}

.filesharing-item-title a:visited {
}

.filesharing-item-description {
}

/* Photo Album CSS Settings (This is split into two section: thumbnail view and image view) */

/* Thumbnail View */

.album-title {
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 1px;
}

.album-description {
	letter-spacing: 1px;
	margin-bottom: 15px;
}

.album-wrap {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 12px;
}

.thumbnail-frame {
	padding: 2px;
	position: absolute;
    bottom: 0px;
    left: 0px;
	right: 0px;
	top: 0px;
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	padding: 0px;
	margin: auto;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	line-height: normal;
	width: 100%;
	height: auto;
	display: block;
}

/* Photo view */

.photo-background {
	margin: 10px;
}

.photo-navigation {
	background: transparent;
	margin-bottom: 10px;
	padding: 5px;
}

.photo-links {
	margin: 0;
	padding: 0;
}

.photo-navigation a:link, .photo-navigation a:visited {

}

.photo-navigation a:hover {
}

.photo-frame{
	background: transparent;
	padding: 10px;
}

.photo-title {
	font-size: 1.7em;
	font-weight: normal;
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

.photo-caption {
	letter-spacing: 2px;
	margin: 0;
	padding: 0;
}

/* Movie Page CSS Settings (This is split into two section: thumbnail view and movie view)*/

.movie-description {
}

/* Thumbnail View */

.movie-page-title {
	font-size: 1.5em;
	font-weight: normal;
	letter-spacing: 2px;
}

.movie-page-description {
	letter-spacing: 2px;
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	display: inline-table;
	font-size: 1.0em;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	position: relative;
	text-align: center;
	width: 132px;
	z-index: 10;
}

.movie-thumbnail-frame:hover {
}


.movie-thumbnail-caption {
}

/* Movie View */

.movie-background {
}

.movie-title {
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: 2px;
}

.movie-frame {

}

/* Contact Form CSS Settings*/
.message-text { 
} 

.required-text {
} 

.form-input-field {
} 

.form-input-button { 
} 