/* @group General Styles */
blog-categories {
	padding-bottom: 20px;
}

body {
	font-family: Lucida Grande, Geneva, Arial, Helvetica, Verdana, Trebuchet MS, sans-serif;
	font-size: 75%;
	line-height: 1.50em;
	background: #000000 url(images/body_bg.png) repeat;
	margin: 0;
	padding: 0;
}

#mainContainer {
	width: 800px;
	margin: 0 auto;
	border-right: 2px solid #121212;
	border-left: 2px solid #121212;
	background-color: #00000;
}

a:link {
	text-decoration: none;
}

a:visited {
	color: #bcbcbc;
	text-decoration: none;
}

a:active {
	color: #bcbcbc;
	text-decoration: none;
}

a:hover {
	color: #99CCFF;
	text-decoration: none;
}

.image-left {
    float: left;
    padding-right: 10px;
    position: relative;
}

.image-right {
    float:  right;
    padding-left: 10px;
    position: relative;
}

blockquote, .standout {
	color: #979797;
	font-style: italic;
	padding-left: 20px;
	border-left: solid 4px;
	border-color: black;
}

/* @end */

/* @group Layout */

.clearer {
	clear: both;
}

#container {
	width: 800px;
	background-color: #000000;
	margin: 0;
	padding: 0;
}

#headerContainer {
	height: auto;
	border-bottom: 2px solid #121212;
	width: 800px;
	background: #000 url(images/header.jpg) no-repeat left bottom;
}

#pageHeader img {
	
}

#headerContainer h1 {
	font-size: 2.5em;
	padding-top: 40px;
	color: #ffffff;
	padding-left: 30px;
	width: 500px;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 1.3em;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding-bottom: 0;
	margin: 0 250px 0 0;
}

#headerContainer h2 {
	margin: 0 250px 0 0;
	font-size: 1.5em;
	font-weight: normal;
	color: #ffffff;
	text-decoration: none;
	padding: 0 0 60px 30px;
}

#contentContainer {
	overflow: hidden;
	text-align: left;
	display: block;
	background: #000000;
	color: #666666;
	padding: 0;
}

#contentContainer #content {
	padding: 15px 15px 5px;
	margin-right: 200px;
}

#sidebarContainer {
	overflow: hidden;
	text-align: left;
	padding-bottom: 30px;
	background: black url(images/sidebar.png) no-repeat left top;
	width: 150px;
	float: right;
	margin-top: 15px;
	height: auto;
	padding-right: 10px;
}

#sidebarContainer #sidebar {
	padding-top: 10px;
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
	padding-bottom: 10px;
	color: #666666;
}

#sidebarContainer .sideHeader {
	color: #ffffff;
	font-weight: normal;
	padding: 3px 3px 0;
	margin-top: 10px;
	font-size: 14px;
	text-align: center;
	font-style: normal;
	text-decoration: none;
}

/* @end */



/* @group Footer */

#footerContainer {
	display: block;
	width: 100%;
	background-color: #000000;
	color: #ffffff;
	margin: 0;
	padding: 0;
}

#lastPublished {
	display: none;
}

#footer p {
	
}

#footer {
	float: right;
	text-align: right;
	padding: 15px;
	display: inline;
}

#footer a:hover {
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-style: normal;
	color: #666666;
}

#footer a {
	margin: 0;
	padding: 0;
	color: #ffffff;
}

/* @end */



/* @group Breadcrumb Container */

#breadcrumbcontainer {
	text-align: center;
	display: inline;
	float: left;
	margin: 0;
	padding: 15px 0 0 15px;
	color: #ffffff;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
}

#breadcrumbcontainer a:hover {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #666666;
}

/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
	position: relative;
	float: right;
	width: 170px;
	font-size: 93%;
	margin: 10px 0 15px;
	background: url(images/navigation.png) no-repeat left bottom;
	text-align: left;
	text-decoration: none;
	padding-bottom: 5px;
}

#navcontainer #current {
	color: #ffffff;
}

#navcontainer .currentAncestor {
	color: #ffffff;
}

/* Parent - Level 0 */

#navcontainer ul {
	margin: 0;
	padding: 5px 0 5px 10px;
	list-style: none;
	text-decoration: none;
	color: black;
}

#navcontainer li {
	display: block;
}

#navcontainer a {
	display: block;
	padding: 5px 15px 4px 6px;
	color: #ffffff;
	text-decoration: none;
	font-size: 1.30em;
}

#navcontainer a:hover {
	color: #666666;
}

#navcontainer a:active {
	
}

/* Child - Level 1 */

#navcontainer ul ul {
	display: block;
	padding-left: 10px;
}

#navcontainer ul ul li {
	
}

#navcontainer ul ul a {
	padding-top: 1px;
}

#navcontainer ul ul a:hover {
	
}

#navcontainer ul ul #current {
	
}

#navcontainer ul ul .currentAncestor {
	
}

/* Child - Level 2 */

#navcontainer ul ul ul {
	padding-left: 10px;
}

#navcontainer ul ul ul li {
	
}

#navcontainer ul ul ul li a {
	
}

#navcontainer ul ul ul li a:hover {
	
}

#navcontainer ul ul ul #current {
	
}

#navcontainer ul ul ul ul {
	
}

/* @end */

/* @group Global Classes */

blockquote {
	
}

h1 {
	
}

h2 {
	
}

h3 {
	
}

.imageStyle {
	border:none;
}

/* @end */

/* @group Blog */

/* @group Archive Page */

.blog-archive-background {
}

.blog-archive-headings-wrapper {
}

.blog-archive-entries-wrapper {
}

.blog-archive-month {
	font-size: 27px;
	color: white;
	padding-bottom: 5px;
	padding-top: 5px;
}

.blog-archive-link {
	padding-bottom: 10px;
}

/* @end */

.blog-entry {
	border-left: 1px solid #121212;
	border-right: 1px solid #121212;
	border-bottom: 1px solid #121212;
}

.blog-entry-title {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 0px;
	line-height: 24px;
	padding: 5px;
	padding-left: 10px;
	border-top: 1px solid #121212;
}

.blog-entry-date {
	margin-bottom: 10px;
	margin-top: 0px;
	color: #CCCCCC;
	background: #121212;
	padding-left: 10px;
	border-left: 1px solid #121212;
	border-right: 1px solid #121212;
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	font-style: italic;
}

.blog-entry-author {
	padding-top: 0px;
	text-align: left;
	padding-left: 10px;
	margin-top: -30px;
}

.blog-entry-category {
	padding-top: 0px;
	text-align: left;
}

.blog-category-link-enabled {
	padding-top: 0px;
	padding-bottom: 5px;
	text-align: left;
}

.blog-category-link-disabled {
	
}

.blog-entry-body {
	padding: 5px;
	padding-left: 10px;
}

.blog-entry-comments {
	margin-top: 0px;
	margin-bottom: 0px;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	color: #FFFFFF;
	font-size: 20px;
	padding-bottom: 10px;
}

.filesharing-item {
	
}

.filesharing-item-title a:link {
	
}

.filesharing-item-title a:hover {
	
}

.filesharing-item-title a:visited {
	
}

.filesharing-item-description {
	
}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.9em;
	color: #FFFFFF;
}

.album-description {
	margin-bottom: 15px;
	margin-top: 5px;
}

.album-wrap {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 65px;
	margin-right: 25px;
	display: block;
	text-decoration: none;
}

.thumbnail-table {
	width: 70%;
}

.thumbnail-frame {
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
}

.thumbnail-frame img {
	border: none;
}

.thumbnail-caption {

}

/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	margin: 10px;
	width: 800px;
}

.photo-navigation {
	margin-bottom: 10px;
	padding: 10px 10px 5px;
	text-align: left;
	color: #bcbcbc;
	text-decoration: none;
}

.photo-navigation a:link, .photo-navigation a:visited {
	text-decoration: none;
	color: #bcbcbc;
}

.photo-navigation a:hover {
	color: #99CCFF;
}

.photo-frame {
	background: #f8f8f8 center center;
	padding: 5px;
	margin-top: 30px;
}

.photo-links {
	
}

.photo-title {
	font-weight: normal;
	font-size: 1.9em;
	margin: 0 0 3px;
	color: #FFFFFF;
}

.photo-caption {
	
}

/* @end */

/* @end */

/* @group Quicktime Page */

.movie-description {
	
}

/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.9em;
}

.movie-page-description {
	margin-bottom: 15px;
	margin-top: 5px;
}

.movie-thumbnail-frame {
	width: 132px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

.movie-thumbnail-caption {
	
}

/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.5em;
	color: #ffffff;
	text-shadow: 0px 2px 3px #111111;
}

.movie-frame {
	
}

/* @end */

/* @end */

/* @group Contact Form */

.message-text {
	width: 300px;
}

.required-text {
	color: #ff0000;
}

.form-input-field {
	
}

.form-input-button {
	
}

/* @end */