/* Define styles that are to be used for printing here */

#image, nav#nav, nav#verticalNavigation, #breadcrumbcontainer, #siteSearch {
	display: none;
}

p a {
	word-wrap: break-word;
}

a {
	color: #000;
}

@page {
	margin: 0.5cm;
}

div#sidebarContainer {
	width: 100%;
	float: none;
}

div#contentContainer div#content {
	margin-left: 0;
	margin-right: 0;
}

a:after {
	content: " (" attr(href) ")";
	font-size: 80%;
}