.widthWrapper,
#container,
#primaryNavigation ul,
#footerCornersMiddle {
	width: 700px;
}

#ec2top,
#ec3top,
.contentBordersTop {
	width: 700px;
	background: url(../../images/editable_images/content_top_700.png) center;
}

#ec2bottom,
#ec3bottom,
.contentBordersBottom {
	width: 700px;
	background: url(../../images/editable_images/content_bottom_700.png) center;
}

#footerCornersTop {
	width: 700px;
	background: url(../../images/editable_images/footer_top_700.png) no-repeat center;
}

#footerCornersBottom {
	width: 700px;
	background: url(../../images/editable_images/footer_bottom_700.png) no-repeat center;
}