body {
	background-color: %colour_body_background%;
}

#titleBar {
	background-color: %colour_title_background%;
}

#siteTitle h1 a {
	color: %colour_title_static%;
}

#siteTitle h1 a:hover {
	color: %colour_title_hover%;
}

#extraContainer1 {
	color: %colour_ec_one%;
}

#primaryNavigation {
	background-color: %colour_horizontal_background%;
}

#primaryNavigation a {
	color: %colour_horizontal_static%;
}

#primaryNavigation a:hover {
	color: %colour_horizontal_hover%;
	background-color: %colour_horizontal_hoverbg%;
}

#primaryNavigation .current,
#primaryNavigation .currentAncestor {
	color: %colour_horizontal_current%;
	background-color: transparent;
}

#primaryNavigation .current:hover,
#primaryNavigation .currentAncestor:hover {
	color: %colour_horizontal_current%;
	background-color: transparent;
}

#extraContainer2 {
	color: %colour_ec_two%;
}

#contentContainer #content {
	color: %colour_content_text%;
}

#sidebarContainer {
	border-left: 1px solid %colour_sidebar_border%;
	border-right: 1px solid %colour_sidebar_border%;
}

#sidebarHeader {
	color: %colour_sidebar_title%;
}

#sidebarContainer #sidebar {
	color: %colour_sidebar_text%;
}

#extraContainer3 {
	color: %colour_ec_three%;
}

#extraContainer4 {
	color: %colour_ec_four%;
}

#footer {
	background-color: %colour_footerbar_background%;
}

#footerContent {
	color: %colour_footer_text%;
}

a:link {
	color: %colour_links_static%;
}

a:hover {
	color: %colour_links_hover%;
}