/* @group Reset */

html, body {
	margin: 0;
	padding: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

/* @end */

/* @group Inline Images */

img {
	border-style: none;
}

.image-left {
	float: left;
	padding: 10px;
	position: relative;
}

.image-right {
	float: right;
	padding: 10px;
	position: relative;
}

/* @end */

/* @group Links */

a:link {
	text-decoration: none;
	font-weight: normal;
	color: #fc0012;
}

a:visited {
	color: #fc0012;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #fc0012;
}

a:active {
	text-decoration: none;
	font-weight: normal;
	color: #fc0012;
}

/* @end */

/* @group Headers */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.00em;
}

/* @end */

/* @group Lists */

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* @end */

/* @group Extra Content */

.ecName {
	display: none;
}

#extraContainer1 {
	display: none;
	color: #ffffff;
	position: absolute;
	top: 15px;
	right: 0;
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#ec2top {
	width: 800px;
	height: 15px;
	display: none;
	position: relative;
	background: url(images/editable_images/content-corners-top.png) center;
	margin-top: 15px;
}

#extraContainer2 {
	display: none;
	position: relative;
	background: url(images/editable_images/content-corners-middle.png) 0 center;
	font: 80%/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px 20px;
}

#ec2bottom {
	width: 800px;
	height: 15px;
	display: none;
	position: relative;
	background: url(images/editable_images/content-corners-bottom.png) center;
}

#ec3top {
	width: 800px;
	height: 15px;
	display: none;
	position: relative;
	background: url(images/editable_images/content-corners-top.png) center;
	margin-top: 15px;
}

#extraContainer3 {
	display: none;
	position: relative;
	background: url(images/editable_images/content-corners-middle.png) 0 center;
	font: 80%/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px 20px;
}

#ec3bottom {
	width: 800px;
	height: 15px;
	display: none;
	position: relative;
	background: url(images/editable_images/content-corners-bottom.png) center;
}

#extraContainer4 {
	display: none;
	color: #cccccc;
	position: relative;
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px 20px 10px;
	text-align: center;
}

/* @end */

/* @group Horizontal Navigation */

#primaryNavigation {
	position: relative;
	left: 0px;
	margin: 0;
	text-align: left;
	text-decoration: none;
	z-index: 10;
	height: 40px;
	width: 100%;
	padding: 0;
	font: 85% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background: #666 url(images/editable_images/navigation_gradient.png) repeat-x 0 bottom;
}

#primaryNavigation ul {
	padding: 0;
	margin: 0 auto;
	width: 800px;
}

#primaryNavigation .current {
	font-weight: bold;
	background: transparent;
	font-size: 95%;
}

#primaryNavigation .currentAncestor {
	font-weight: bold;
	background: transparent;
}

/* Parent - Level 0 */

#primaryNavigation {
	float: left;
	list-style-type: none;
	position: relative;
	margin: 0;
}

#primaryNavigation li {
	display: inline;
	margin: 0;
	padding: 0;
}

#primaryNavigation a {
	display: inline;
	height: 42px;
	margin: 0;
	line-height: 40px;
	background-color: transparent;
	color: #000;
	padding: 12px 10px;
	text-decoration: none;
}

#primaryNavigation a:hover {
	background: #b3b3b3;
	color: #000;
	text-decoration: none;
}

/* Child - Level 1 */

#primaryNavigation ul ul {
	display: none;
}

#primaryNavigation ul ul li {
	
}

#primaryNavigation ul ul a {
}

#primaryNavigation ul ul a:hover {
	
}

#primaryNavigation ul ul .current {
	font-weight: bold;
}

#primaryNavigation ul ul .currentAncestor {	
}



/* @end */



/* @group Vertical Navigation */

/* Toolbar Styles */

#navOuter {
	width: 220px;
	text-align: center;
	margin: 0;
	padding: 0;
}

#verticalNavigation {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}

#verticalNavigation .current:hover,
#verticalNavigation ul .current:hover,
#verticalNavigation ul ul .current:hover,
#verticalNavigation ul ul ul .current:hover {
	font-weight: bold;
	text-decoration: none;
}

#verticalNavigation .current,
#verticalNavigation ul .current,
#verticalNavigation ul ul .current,
#verticalNavigation ul ul ul .current {
	font-weight: bold;
	text-decoration: none;
}

/* Parent - Level 0 */

#verticalNavigation ul {
	list-style: none;
	margin: 0;
	padding: 0 0 10px;
}

#verticalNavigation li {
	position: relative;
	display: inline;
}

#verticalNavigation a {
	display: none;
	height: 20px;
	text-decoration: none;
	padding: 0;
	margin: 0;
}

#verticalNavigation a:hover {
	text-decoration: none;
	font-style: normal;
}

#verticalNavigation a:active {
	text-decoration: none;
	font-style: normal;
}

#verticalNavigation a:link {
	text-decoration: none;
	font-style: normal;
}

/* Child - Level 1 */

#verticalNavigation ul a {
	display: none;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul a:hover {
	display: none;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul a:link {
	display: none;
	background-image: none;
	font-style: normal;
}

/* Child - Level 1 */

#verticalNavigation ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul ul a:hover {
	display: block;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul ul a:link {
	display: block;
	background-image: none;
	font-style: normal;
}

/* Child - Level 2 */

#verticalNavigation ul ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul ul ul a:link {
	display: block;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul ul ul a:hover {
	display: block;
	background-image: none;
	font-style: normal;
}

/* @end */

/* @group Layout Elements */

body {
	background-color: #efefef;
}

.clearer {
	clear: both;
}

.widthWrapper {
	display: block;
	height: auto;
	position: relative;
	width: 800px;
	margin: 0 auto;
}

#titleBar {
	width: 100%;
	display: block;
	position: relative;
	height: 80px;
	background: #333 url(images/editable_images/header_stripes.png) repeat;
}

#headerGradient {
	width: 100%;
	height: 75px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent url(images/editable_images/header_gradient.png) repeat-x;
}

#siteTitle h1 {
	font: 200% "Trebuchet MS", Verdana, sans-serif;
	color: #ffffff;
	background: transparent;
	padding-top: 20px;
}

#siteTitle h1 a {
	color: #ffffff;
}

#container {
	display: block;
	position: relative;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	margin-bottom: 15px;
}

#pageHeader {
	display: block;
	height: 300px;
	background: url(images/editable_images/header_bg.jpg) no-repeat left center;
	position: relative;
}

#siteSlogan h2 {
	display: block;
	width: 35%;
	position: relative;
	float: right;
	color: #333333;
	padding-top: 25px;
	z-index: 20;
	font: italic 300% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

.contentBordersTop {
	width: 800px;
	height: 15px;
	display: block;
	position: relative;
	background: url(images/editable_images/content-corners-top.png) center;
}

#contentContainer {
	display: block;
	position: relative;
	background: url(images/editable_images/content-corners-middle.png) 0 center;
	padding: 5px 20px;
}

#contentContainer #content {
	font: 80%/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#sidebarContainer {
	display: block;
	width: 180px;
	position: absolute;
	right: 0;
	top: 0;
	font: 80%/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 5px 20px;
}

#sidebarHeader {
	font: bold 100%/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-bottom: 5px;
}

.contentBordersBottom {
	width: 800px;
	height: 15px;
	display: block;
	position: relative;
	background: url(images/editable_images/content-corners-bottom.png) 0 center;
}

#footer {
	width: 100%;
	display: block;
	height: auto;
	position: relative;
	padding: 25px 0;
	background: url(images/editable_images/footer_gradient.png) repeat-x 0 bottom;
}

#footerCornersTop {
	display: block;
	position: relative;
	width: 800px;
	height: 15px;
	margin: 0 auto;
	background: url(images/editable_images/footer-corners-top.png) no-repeat center;
	padding: 0;
}

#footerCornersMiddle {
	display: block;
	position: relative;
	width: 800px;
	height: auto;
	margin: 0 auto;
	background: url(images/editable_images/footer_background.png) repeat;
	padding: 0;
}

#footerContent {
	text-align: center;
	font-size: 70%;
	color: #cccccc;
	line-height: 1.50em;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#footerContent ul {
	display: inline;
}

#footerContent li {
	display: inline;
}

#footerCornersBottom {
	display: block;
	position: relative;
	width: 800px;
	height: 15px;
	margin: 0 auto;
	background: url(images/editable_images/footer-corners-bottom.png) repeat-y 0 center;
	padding: 0;
}

/* @end */



/* @group Blog */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Main Blog entries */

.blog-entry {
	padding-bottom: 40px;
}

.blog-entry-title {
	font-size: 150%;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	line-height: 1.00em;
	padding-bottom: 10px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
}

.blog-entry-comments {
	
}

p.blog-entry-tags {
	padding-top: 10px;
}

/* Styles the category link/s in the main Blog entry */

.blog-entry-category a {

}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	padding-top: 10px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 10px;
	display: block;
}

.blog-rss-link {
	display: block;
}

.blog-comments-rss-link {
	display: block;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
	text-decoration: none;
}

.filesharing-item-title a:hover {
	font-weight: normal;
	text-decoration: none;
}

/* @end */

/* @group Flash */

#flashcontent {
	text-align: center;
}

/* @end */

/* @group Photo Album */

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* CSS Formatting for Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}



/* Styling Exif Data */

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Movie Page */

.movie-description {
	margin-top: 15px;
}

/* @end */

/* @group Movie Album */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* CSS formatting for Singular Quicktime Movies */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* @end */

/* @group Contact Form */

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: normal;
}

.form-input-field {
	font-size: 1.25em;
	width: 99%;
}

.form-input-button {
	font-size: 1.5em;
}

/* @end */