/* @option user-selected theme colour scheme setting */

body {
	background: url(../../images/editable_images/blue-body.jpg) repeat;
}

#headerRegion {
	background: url(../../images/editable_images/blue-header.jpg) repeat;
}

#banner {
	background: url(../../images/editable_images/blue-banner.jpg) repeat;
}