/* @option user-selected theme colour scheme setting */

body {
	background: url(../../images/editable_images/green-body.jpg) repeat;
}

#headerRegion {
	background: url(../../images/editable_images/green-header.jpg) repeat;
}

#banner {
	background: url(../../images/editable_images/green-banner.jpg) repeat;
}