/* @option user-selected theme colour scheme setting */

body {
	background: url(../../images/editable_images/purple-body.jpg) repeat;
}

#headerRegion {
	background: url(../../images/editable_images/purple-header.jpg) repeat;
}

#banner {
	background: url(../../images/editable_images/purple-banner.jpg) repeat;
}