/* @option user-selected theme colour scheme setting */

body {
	background: url(../../images/editable_images/red-body.jpg) repeat;
}

#headerRegion {
	background: url(../../images/editable_images/red-header.jpg) repeat;
}

#banner {
	background: url(../../images/editable_images/red-banner.jpg) repeat;
}