body {
	margin: 0px;
	padding: 0px;
	background-color: #fff;
	font: 1.00em "Times New Roman", Times, serif;
}

#logo img {
	position: relative;
	top: 10px;
}

b, strong {
	font-weight: bold;
}

a:link, a:visited {
	text-decoration: none;
}

table {
	
}

a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

a:hover, a:active {
	text-decoration: underline;
	outline: none;
	font-weight: normal;
	font-style: normal;
}

blockquote, .standout {
	padding: 10px;
	margin: 0px;
}

dl {
	margin: 0px;
	padding: 0px;
}

dt {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

dd {
	margin-top: 0px;
	padding-top: 0px;
}

em {
	font-weight: bold;
	font-style: italic;
}

ins {
	
}

q {
	font-style: italic;
}

strike {
	color: red;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: -15px;
	line-height: 1.00em;
}

img {
	border-style: none;
}

.image-right {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

.image-left {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

#mainContainer {
	margin: 0px auto;
	text-align: left;
	background-color: #ffffff;
}

.clearer {
	clear: both;
}

.spacer {
	height: 10px;
}

#topContainer {
	display: block;
	position: absolute;
	height: 125px;
	width: 100%;
	top: 0;
	left: 0;
	background: #fff none repeat-x;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

#headerContainer {
	height: 125px;
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
}

#headerContainer h1 {
	margin-bottom: 0px;
	position: relative;
	letter-spacing: -2px;
	text-transform: none;
	color: #000000;
	text-decoration: none;
	display: block;
	margin: 0;
	padding: 35px 0 0;
	font: bold 300% Georgia, "Times New Roman", Times, serif;
}

#siteSlogan h2 {
	position: relative;
	z-index: 100;
	letter-spacing: -1px;
	text-decoration: none;
	color: #000000;
	margin: 0;
	padding: 5px 0 50px;
	font: normal normal 200% Georgia, "Times New Roman", Times, serif;
}

#breadcrumbcontainer {
	padding: 0;
	color: #666;
	font-size: 80%;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#breadcrumbcontainer a:hover {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#contentContainer {
	position: relative;
	z-index: 10;
	line-height: 1.5em;
	padding: 0px;
}

#contentContainer #content {
	margin-right: 275px;
	color: #666;
	padding: 15px 0;
	font: 90%/1.5em "Times New Roman", Times, serif;
}

#sidebarContainer {
	position: relative;
	margin: 0px;
	width: 225px;
	float: right;
	z-index: 100;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#sidebarContainer #sidebar {
	line-height: 1.5em;
	padding-left: 10px;
	padding-right: 10px;
	color: #666666;
	font: 90%/1.5em "Times New Roman", Times, serif;
}

#sidebarContainer .sideHeader {
	line-height: 1.5em;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 15px;
	color: #666666;
	color: #000;
}

/* @group Toolbar */

/* Toolbar Styles */

#navContainer {
	position: relative;
	text-align: left;
	text-decoration: none;
	padding-bottom: 5px;
	margin: 25px 10px 15px;
}

#navContainer .current {
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
}

#navContainer .currentAncestor {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

/* Parent - Level 0 */

#navContainer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: black;
}

#navContainer ul .current {
	color: #666666;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#navContainer li {
	display: block;
}

#navContainer a {
	display: inline;
	padding: 0;
	text-decoration: none;
	font-size: 100%;
	line-height: 1.50em;
}

#navContainer a:hover {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

/* Child - Level 1 */

#navContainer ul ul {
	display: block;
	padding-left: 20px;
}

#navContainer ul ul li {
	
}

#navContainer ul ul a {
	
}

#navContainer ul ul a:hover {
	
}

#navContainer ul ul .current {
	
}

#navContainer ul ul .currentAncestor {
	
}

/* Child - Level 2 */

#navContainer ul ul ul {
	padding-left: 10px;
}

#navContainer ul ul ul li {
	
}

#navContainer ul ul ul li a {
	
}

#navContainer ul ul ul li a:hover {
	
}

#navContainer ul ul ul .current {
	
}

#navContainer ul ul ul ul {
	
}

/* @end */

#footer {
	padding: 0 0 25px;
	color: #666;
	font-size: 80%;
}

#footer p {
	color: #666;
}

#footer a {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#footer a:hover {
	text-decoration: underline;
}

#veryCredit a {
	color: #eaeaea;
}

#veryCredit a:hover {
	color: #5e5e5e;
}

#contentContainer #content ul {
	
}

#contentContainer #content li {
	
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */

#sidebarContainer #sidebar ul {
	padding: 0;
	margin: 0;
}

#sidebarContainer #sidebar li {
	padding: 0;
	margin: 0;
}

/* Blog page style */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* @group Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Blog entries */

.blog-entry {
	padding-bottom: 15px;
}

.blog-entry-title {
	font-size: 1.75em;
	font-weight: normal;
	margin: 0px;
}

.blog-entry-title a {
	text-decoration: none;
}

.blog-entry-date {
	padding-bottom: 15px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
	
}

.blog-entry-comments {
	
}

p.blog-entry-tags {
	font-style: italic;
}

/*styles the category link in the main entry */

.blog-entry-category a {
	
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	padding: 10px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 10px;
	line-height: 2.00em;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: block;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

/* File sharing page style */

.filesharing-description {
	
}

.filesharing-item {
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: bold;
}

.filesharing-item-title a:hover {
	
}

.filesharing-item-title a:visited {
	
}

.filesharing-item-description {
	
}

/* Photo Album (Thumbnail view) */

.album-title {
	font-weight: bold;
}

.album-description {
	margin-bottom: 30px;
}

.album-wrapper {
	display: block;
	width: auto;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	position: absolute;
	bottom: 0;
	left: 0;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	padding: 1px;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}

/* Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	background: #fff;
	padding: 15px;
}

.photo-links {
	padding-top: 15px;
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	border: 3px solid;
	padding: 1px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
	font: italic normal 1em Georgia, "Times New Roman", Times, serif;
}

/* @group EXIF data */

/* Data wrapper */

.exif-data {
	clear: left;
	margin: 0 0 0 15px;
	padding: 0 15px 15px;
	float: left;
	width: 200px;
	background: #fff;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* p tag classes for all exif data */

p.exif-version {
	
}

p.exif-colour-space {
	
}

p.exif-focal-length {
	
}

p.exif-dimensions {
	
}

p.exif-pixel-y-dimension {
	
}

p.exif-pixel-x-dimension {
	
}

p.exif-oecf-value {
	
}

p.exif-subsec-time-original {
	
}

p.exif-exposure-mode {
	
}

p.exif-spatial-frequency-response {
	
}

p.exif-scene-capture-type {
	
}

p.exif-subject-location {
	
}

p.exif-shutter-speed {
	
}

p.exif-datetime-original {
	
}

p.exif-subsec-time {
	
}

p.exif-compressed-bits-per-pixel {
	
}

p.exif-flash-energy {
	
}

p.exif-saturation {
	
}

p.exif-brightness {
	
}

p.exif-exposure-time {
	
}

p.exif-f-number {
	
}

p.exif-file-source {
	
}

p.exif-gain-control {
	
}

p.exif-subject-area {
	
}

p.exif-cfa-pattern {
	
}

p.exif-scene-type {
	
}

p.exif-white-balance {
	
}

p.exif-flash {
	
}

p.exif-exposure-index {
	
}

p.exif-flashpix-version {
	
}

p.exif-device-setting-description {
	
}

p.exif-focalplane-x-resolution {
	
}

p.exif-image-uniqueid {
	
}

p.exif-components-configuration {
	
}

p.exif-light-source {
	
}

p.exif-sensing-method {
	
}

p.exif-aperture {
	
}

p.exif-sharpness {
	
}

p.exif-exposure-program {
	
}

p.exif-subject-distance {
	
}

p.exif-subsec-time-digitized {
	
}

p.exif-contrast {
	
}

p.exif-focalplane-resolution-unit {
	
}

p.exif-gamma {
	
}

p.exif-35mm-focal-length {
	
}

p.exif-datetime-digitized {
	
}

p.exif-subject-distance-range {
	
}

p.exif-custom-rendered {
	
}

p.exif-max-aperture {
	
}

p.exif-sound-file {
	
}

p.exif-metering-mode {
	
}

p.exif-spectral-sensitivity {
	
}

p.exif-exposure-bias {
	
}

p.exif-focalplane-y-resolution {
	
}

p.exif-iso-rating {
	
}

p.exif-maker-note {
	
}

p.exif-digital-zoom-ratio {
	
}

p.exif-user-comment {
	
}

/* Full Size Quicktime Video Page */

.movie-description {
	
}

/* Quicktime Album Movie Thumbnail view */

.movie-page-title {
	font-weight: bold;
}

.movie-page-description {
	padding-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 132px;
	height: 132px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	border: 3px solid;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* Single Page (Movie View) */

.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.2em;
	letter-spacing: -1px;
	font-weight: normal;
	margin: 0;
}

.movie-frame {
	
}

/* Contact Form Page style*/

.message-text {
	
}

.required-text {
	
}

.form-input-field {
	border: none;
	font-size: 1.50em;
}

.form-input-button {
	
}