body {
	margin: 0px;
	padding: 30px;
	text-align: center;
	background-color: #0b3264;
	font: 90%/1.25em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#screenBadge {
	position: fixed;
	right: 0;
	top: 0;
	display: none;
	z-index: 100;
}

img {
}

.image-left {
	float: left;
	padding: 10px;
}

.image-right {
	float: right;
	padding: 10px;
}

#container {
	background-repeat: repeat;
	text-align: left;
	margin: 0 auto;
}

.clearer {
	clear: both;
}

.spacer {
	height: 40px;
}

a:link {
	text-decoration: none;
	font-weight: normal;
	color: #3399ff;
	outline: none;
}

a:visited {
	color: #3399ff;
	text-decoration: none;
	font-weight: normal;
}

a:hover {
	text-decoration: none;
	font-weight: normal;
	color: #0066cc;
}

a:active {
	text-decoration: none;
	font-weight: normal;
	color: #3399ff;
}

blockquote, .standout {
	font-style: italic;
	padding: 10px;
	margin: 0px;
}

#sidebarContainer #sidebar ul {
	margin: 10px;
	padding: 0 10px;
}

table {
	font-size: 1em;
}

blockquote, .standout {
	padding: 10px;
	margin: 0px;
}

dl {
	margin: 0px;
	padding: 0px;
}

dt {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

dd {
	margin-top: 0px;
	padding-top: 0px;
}

em {
	font-weight: normal;
	font-style: italic;
}

q {
	font-style: italic;
}

ins {
	
}

strike {
	color: red;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	/

* Removes access margins */
	margin-bottom: 0px;
	/

* Removes access margins */
	line-height: 1.00em;
}

#contentContainer #content ul {
	
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

.scrollBox {
	padding: 10px;
	width: 300px;
	height: 300px;
	overflow: scroll;
	color: #000000;
	font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	font-size: 0.80em;
}

#contentContainer #content li {
	padding: 0;
	margin: 0;
}

#sidebarContainer #sidebar ul {
	padding: 0;
	margin: 0;
}

#sidebarContainer #sidebar li {
	padding: 0px;
	margin: 0px;
}

#navigationContainer {
	line-height: 2.00em;
	position: relative;
	display: block;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-bottom: 20px;
}

#navigationContainer #current {
	font-weight: bold;
}

#navigationContainer #current:hover {
	
}

#navigationContainer .currentAncestor {
	font-weight: bold;
}

#navigationContainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigationContainer li {
	
}

#navigationContainer a {
	display: block;
	text-decoration: none;
	height: 2.00em;
	color: #3399ff;
}

#navigationContainer a:hover {
	
}

#navigationContainer a:active {
	
}

#navigationContainer ul ul {
	
}

#navigationContainer ul ul li {
	
}

#navigationContainer ul ul a {
	padding-left: 15px;
	padding-right: 15px;
}

#navigationContainer ul ul a:hover {
	
}

#navigationContainer ul ul #current {
	font-weight: bold;
}

#navigationContainer ul ul .currentAncestor {
	font-weight: bold;
}

#navigationContainer ul ul ul {
	
}

#navigationContainer ul ul ul li {
	
}

#navigationContainer ul ul ul a {
	padding-left: 50px;
	padding-right: 50px;
}

#navigationContainer ul ul ul a:hover {
	
}

#navigationContainer ul ul ul #current {
	font-weight: bold;
}

#navigationContainer ul ul ul .currentAncestor {
	font-weight: bold;
}

#navigationContainer ul ul ul ul {
	
}

#navigationContainer ul ul ul ul li {
	
}

#navigationContainer ul ul ul ul a {
	padding-left: 70px;
	padding-right: 70px;
}

#navigationContainer ul ul ul ul a:hover {
	
}

#navigationContainer ul ul ul ul ul {
	
}

#navigationContainer ul ul ul ul ul li {
	
}

#navigationContainer ul ul ul ul ul a {
	padding-left: 90px;
	padding-right: 90px;
}

#navigationContainer ul ul ul ul ul a:hover {
	
}

#navigationContainer ul ul ul ul ul ul {
	
}

#navigationContainer ul ul ul ul ul ul li {
	
}

#navigationContainer ul ul ul ul ul ul a {
	padding-left: 110px;
	padding-right: 110px;
}

#navigationContainer ul ul ul ul ul ul a:hover {
	
}

#logo {
	padding: 0px;
	float: right;
}

#topContainer {
	display: block;
	height: auto;
	width: 100%;
}

#headerLogo {
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
	display: none;
}

#pageHeader {
	padding-top: 0px;
	padding-bottom: 20px;
	height: 10em;
	background-image: url(images/header.jpg);
}

#pageHeader h1 a {
	position: relative;
	text-decoration: none;
	width: auto;
	color: #e6e6e6;
	text-align: left;
	margin: 0;
	letter-spacing: -1px;
	font-weight: normal;
	font-style: normal;
}

#pageHeader h1 {
	position: relative;
	text-decoration: none;
	width: auto;
	color: #e6e6e6;
	text-align: left;
	margin: 0;
	letter-spacing: -1px;
	padding: 85px 20px 0px;
	font: normal normal 3.00em/1.00em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#pageHeader h2 {
	font: normal normal normal 1.25em/1.00em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	width: auto;
	letter-spacing: -1px;
	color: #e6e6e6;
	text-align: left;
	margin: 0;
	padding: 0px 20px 20px;
}

#contentContainer #content {
	text-align: left;
	color: #666;
	font: 100%/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 20px;
	background: #fff;
}

#contentContainer {
	position: relative;
	padding: 0 270px 0 0;
	margin: 0;
	background-color: #cee7fe;
}

#sidebarContainer .sideHeader {
	line-height: 1.00em;
	font-weight: bold;
	padding: 0px;
	color: #000;
	text-decoration: none;
	margin-bottom: 3px;
	color: #666;
}

#sidebarContainer {
	position: relative;
	margin: 0px;
	width: 225px;
	float: right;
	color: #666;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	z-index: 10;
	padding: 20px 20px 0;
}

#sidebarContainer #sidebar {
	text-align: left;
	color: #666;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 0px 0px 0;
}

#calendar {
	background: transparent;
	margin-top: 20px;
}

#footer {
	display: block;
	text-align: left;
	color: #e6e6e6;
	padding: 15px 10px;
	background-color: #336699;
	margin: 0;
	font: 0.75em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	position: relative;
}

#footerLogo {
	text-align: center;
	display: none;
}

#footer a {
	color: #ffffff;
}

#breadcrumbcontainer {
	text-align: left;
	color: #e6e6e6;
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
}

#breadcrumbcontainer li {
	display: inline;
	line-height: 1.5em;
}

#breadcrumbcontainer a:hover {
	text-decoration: none;
}

#breadcrumbcontainer a:active {
	text-decoration: underline;
	border: none;
	color: #daa520;
}

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

.blog-tag-cloud {
	padding: 0;
	margin: 0;
}

ul.blog-tag-cloud {
	margin: 0;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
	margin: 0;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

.blog-entry {
	padding-bottom: 40px;
}

.blog-entry-title {
	font-size: 1.25em;
	line-height: 1.00em;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #d2d2d2;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	font-size: 0.75em;
	line-height: 1.00em;
	padding-bottom: 10px;
	padding-top: 5px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
	
}

.blog-entry-comments {
	background: #f6f6f6;
	padding: 5px;
	font-size: 0.75em;
	line-height: 1.00em;
}

p.blog-entry-tags {
	background: #f6f6f6;
	padding: 5px;
	margin: 10px 0 0;
	font-size: 0.75em;
	line-height: 1.00em;
}

.blog-entry-category a {
	
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

#blog-archives {
	margin-bottom: 0px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

#blog-categories {
	padding-top: 20px;
	padding-bottom: 20px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

#blog-rss-feeds {
	margin-top: 20px;
}

.blog-rss-link {
	display: block;
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
}

.blog-comments-rss-link {
	display: block;
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
}

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
}

.filesharing-item-title a:hover {
	font-weight: normal;
}

#flashcontent {
	text-align: center;
}

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

.movie-description {
	margin-top: 15px;
}

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: normal;
}

.form-input-field {
	font-size: 1.25em;
	width: 99%;
}

.form-input-button {
	font-size: 1.5em;
}