body {
	background: %colour_body_bg%;
	color: %colour_content_text%;
}

#siteTitle h1 a {
	color: %colour_sitetitle_static%;
}

#siteTitle h1 a:hover {
	color: %colour_sitetitle_hover%;
}

#siteSlogan h2 {
	color: %colour_siteslogan%;
}

a {
	color: %colour_links_static%;
}

a:visited {
	color: %colour_links_visited%;
}

a:hover {
	color: %colour_links_hover%;
}

a:active {
	color: %colour_links_active%;
}

/* Prevent Bootstrap buttons inheriting link colours */
a:visited.btn {
	color: #333;
}

a:visited.btn-primary,
a:visited.btn-info,
a:visited.btn-success,
a:visited.btn-warning,
a:visited.btn-danger,
a:visited.btn-inverse {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: %colour_headings%;
}