




/* @group Global HTML */

body {
	padding: 0;
	color: #333;
	line-height: 1.5em;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	margin: 30px;
	font-size: 100%;
}

a {
	color: #6699cc;
	text-decoration: none;
}

a:visited {
	color: #6699cc;
	text-decoration: none;
}

a:hover {
	color: #6699cc;
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

img {
	border-style: none;
	max-width: none;
}

.image-left {
	float: left;
	position: relative;
	padding: 0;
	margin: 10px;
}

.image-right {
	float: right;
	position: relative;
	padding: 0;
	margin: 10px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	padding: 4px 10px 4px;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
 	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.xsmall {
	font-size: 8px;
}

.small { 
	font-size: 10px;
}

.medium {
	font-size: 14px;
}

.large {
	font-size: 18px;
}

.xlarge {
	font-size: 24px;
}

.xxlarge {
	font-size: 48px;
}

/* @end */

/* @group Bootstrap Resets */

.carousel-control,
.carousel-control a {
	text-decoration: none;
	font: 100 60px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Prevent buttons and tabs being underlined */
a.close,
a.accordion-toggle,
.nav a {
	text-decoration: none;
}

hr {
	border-bottom: none;
}

.badge,
.btn,
.label {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group FreeStyle and ExtraContent Functionality */

/*
Hide FreeStyle and ExtraContent containers, unless they are in their designated placeholders and the page is read. It's advisable to use this HTML code in your theme index.html file, so that users with no Javascript support can still see the content:

<noscript><style type="text/css">#contentWrapper #fs, #sidebar #fs, #contentWrapper div[id*='myExtraContent'], #sidebar div[id*='myExtraContent'] {display: block;}</style></noscript>

*/

#content #fs,
#sidebar #fs,
#content div[id*='myExtraContent'],
#sidebar div[id*='myExtraContent'] {
	display: none;
}

/* @end */


/* @group Layout */


/* @group Main */

#main {
	padding: 0;
	margin: 0 auto;
	display: block;
	position: relative;
}

/* @end */

/* @group Extra Content */

.ecName {
	display: none;
}

#extraContainer1 {
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px;
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
}

#extraContainer2 {
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
}

#extraContainer3 {
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #ffffff;
}

/* @end */



/* @group Header */

#header {
	display: block;
	position: relative;
}

#header h1 {
	display: block;
	text-align: center;
	margin-top: 20px;
}

#siteTitle h1 a {
	text-decoration: none;
	font: bold 100% Arial, Helvetica, Geneva, sans-serif;
}

#siteTitle h1 a:hover {
	text-decoration: none;
}

/* @end */

/* @group Banner */

#banner {
	display: block;
	position: relative;
	height: 400px;
	background: url(images/editable_images/banner-bg.jpg) center center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#logo {
	position: absolute;
	top: 20px;
	left: 20px;
}

/* @end */

/* @group Horizontal Navigation */

#nav1 {
	display: block;
	position: relative;
	height: 45px;
	font: 100% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	border-bottom: 1px solid #000000;
	overflow: hidden;
}

#nav1 ul {
   clear: both;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

#nav1 ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

#nav1 li a {
	display: block;
	color: #999999;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 12px 20px;
}

#nav1 li a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#nav1 .current,
#nav1 .currentAncestor,
#nav1 .current:hover,
#nav1 .currentAncestor:hover {
	color: #333333;
	font-weight: bold;
}

#nav1 ul ul {
	display: none;
}

/* @end */



/* @group Vertical Navigation */

#nav2 {
	position: relative;
	font: 95% Arial, Helvetica, Geneva, sans-serif;
	padding-bottom: 15px;
}

#nav2 ul {
	display: inline;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#nav2 li {
	display: inline;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#nav2 .current {
	text-decoration: none;
	font-weight: normal;
	color: #545454;
}

#nav2 .current:hover {
	text-decoration: none;
	font-weight: normal;
	cursor: default;
	color: #545454;
}

#nav2 .currentAncestor {
	text-decoration: none;
	font-weight: normal;
	color: #0066cc;
}

#nav2 .currentAncestor:hover {
	text-decoration: underline;
	font-weight: normal;
	color: #0066cc;
}

#nav2 a {
	display: none;
	padding: 0px 0px 0;
	margin: 0px;
}

#nav2 a:hover {
	color: #0066cc;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#nav2 ul li a {
	display: none;
	padding: 0;
	margin: 0;
}

#nav2 ul ul a {
	display: block;
	color: #0066cc;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 5px 0;
}

#nav2 ul ul ul li a {
	padding-left: 20px;
	display: block;
}

#nav2 ul ul ul ul li a {
	padding-left: 40px;
	display: block;
}

#nav2 ul ul ul ul ul li a {
	padding-left: 60px;
	display: block;
}

#nav2 ul ul ul ul ul ul li a {
	padding-left: 80px;
	display: block;
}

#nav2 ul ul ul ul ul ul ul li a {
	padding-left: 100px;
	display: block;
}

/* @end */

/* @group Content */

#siteSlogan h2 {
	position: relative;
	font: normal normal normal 125% Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	display: block;
}

#contentContainer {
	margin-top: 20px;
	margin-bottom: 20px;
}

#contentContainer #content {
	margin-right: 240px;
	font: 90%/1.50em Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group Sidebar */

#aside {
	display: block;
	position: relative;
	float: right;
	width: 200px;
}

#aside #sidebarTitle h3 {
	font: 125% Arial, Helvetica, Geneva, sans-serif;
}

#aside #sidebar,
#aside #pluginSidebar {
	font: 90% Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.25em;
}

/* @end */

/* @group Search Function */

#siteSearch {
	display: none;
	position: relative;
	margin-top: 20px;
}

#searchField {
	display: block;
	width: 189px;
	margin: 0px;
	border: 1px solid #4c4c4c;
	color: #545454;
	padding: 5px;
	background: #ffffff;
}

#searchButton {
	background: #4c4c4c;
	color: #ffffff;
	float: right;
	border: none;
	margin: 0;
	padding: 5px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 80%;
	margin-top: 1px;
	width: 75px;
	display: block;
	text-align: center;
}

/* @end */

/* @group Footer */

#footer {
	position: relative;
	display: block;
	padding: 0 0 40px;
	margin: 40px 0 0;
}

#footerContent {
	font: normal normal 80% Arial, Helvetica, Geneva, sans-serif;
	display: block;
	position: relative;
	z-index: 10;
	padding: 0;
	margin: 0;
	height: 1.50em;
}

#lastUpdated {
	display: none;
	position: relative;
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 1.50em;
}

#creditation6849 {
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	position: relative;
	height: 1.50em;
}

#creditation6849 a {
	color: #0066CC;
}

#creditation6849 a:hover {
	color: #0066CC;
}

/* @end */

/* @group Breadcrumb */

#breadcrumb {
	position: relative;
	display: block;
	width: 100%;
	font: normal normal 80% Arial, Helvetica, Geneva, sans-serif;
	z-index: 20;
	height: 20px;
}

#breadcrumb ul {
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
}

#breadcrumb ul li {
   display:block;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
}

/* @end */

/* @end */



/* @group Blog */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Main Blog entries */

.blog-entry {
	padding-bottom: 40px;
	position: relative;
}

.blog-entry-title {
	font-size: 1.50em;
	line-height: 1.00em;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	line-height: 1.00em;
	margin-bottom: 20px;
}

.blog-read-more {
	display: block;
}

.blog-entry-body {
	
}

p.blog-entry-tags {
	line-height: 2.00em;
}

.blog-entry-comments {
	line-height: 2.00em;
}

/* Styles the category link/s in the main Blog entry */

.blog-entry-category a {
	
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 20px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	margin-bottom: 20px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 20px;
	display: block;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/icons/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/icons/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	display: block;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
	text-decoration: none;
}

.filesharing-item-title a:hover {
	font-weight: normal;
	text-decoration: none;
}

/* @end */

/* @group Flash */

#flashcontent {
	text-align: center;
}

/* @end */

/* @group Photo Album */

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* CSS Formatting for Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}



/* Styling Exif Data */

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Movie Page */

.movie-description {
	margin-top: 15px;
}

/* @end */

/* @group Movie Album */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* CSS formatting for Singular Quicktime Movies */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* @end */

/* @group Contact Form */

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: normal;
}

.form-input-field {
	font-size: 1.25em;
	width: 99%;
}

.form-input-button {
	font-size: 1.5em;
}

/* @end */



/* @group JS-Kit Override */

.js-singleCommentBodyT {
	display: block;
	margin: 0;
	padding: 17px 0 0;
}

.js-singleCommentHeader {
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
}

.js-OldComments,
.js-commentFieldLabel,
.js-pmFieldLabel,
.js-singleCommentBody,
.js-singleCommentKarmaComMod,
.js-commentBodyLabel,
.js-commentCmtTextarea,
.js-commentAvatarArea,
.js-OldCommentsWrap,
.js-OldComments,
.js-CreateCommentFieldsWrap,
.js-CreateCommentFields,
.js-commentCmtTextarea,
.js-kit-comments div {
	clear: none !important;
}

.js-singleCommentText {
	display: block !important;
	clear: both !important;
}

.js-kit-comments br {
	display: none !important;
}

.js-singleCommentBody br {
	display: block !important;
}

/* @end */



/* @group RW5 Sitemap */

.rw-sitemap ul {
	margin: 0;
	padding: 0;
	list-style-type: disc;
	list-style-position: inside;
}

.rw-sitemap ul li {
	margin: 0 0 10px 0;
}

.rw-sitemap ul li:last-child {
	margin: 0;
}

.rw-sitemap ul li li {
	margin: 0 0 5px 0;
}

.rw-sitemap ul li li:last-child {
	margin: 0;
}

.rw-sitemap ul ul {
	padding: 0 0 0 20px;
	list-style-type: square;
}

.rw-sitemap ul ul ul {
	list-style-type: circle;
}

/* @end */

@media screen and (max-width: 700px){
	#nav1 {
		height: auto;
	}

	#nav1 ul {
	   float: none;
	   list-style:none;
	   left: auto;
	   text-align: left;
	}
	
	#nav1 ul li {
	   float: none;
	   right: auto;
	}
	
	#nav1 li a {
		padding: 12px 0;
		text-align: center;
	}
	
	#contentContainer #content {	
		margin-right: 0px !important;
		margin-left: 0px !important;
	}
	
	#aside {
		float: none !important;
		width: 100% !important;
	}
}