body {
	color: %colour_body_text%;
	background-color: %colour_body_background%;
}

h1 {
	color: %colour_h1%;
}

h2 {
	color: %colour_h2%;
}

h3 {
	color: %colour_h3%;
}

h4 {
	color: %colour_h4%;
}

h5 {
	color: %colour_h5%;
}

h6 {
	color: %colour_h6%;
}

cite {
	color: %colour_cite%;
}

strike {
	color: %colour_deletion%	
}

ins {
	color: %colour_insertion%;
}

q {
	color: %colour_quotation%;
}

dt {
	color: %colour_definition_title%;
}

dd {
	color: %colour_definition_description%;
}







/* Header (title) */
#pageHeader h1 {
	color: %colour_title_text%;
}

/* Subheading (slogan) */
#pageHeader h2 {
	color: %colour_header_slogan%;
}

/* Breadcrumb links */
#breadcrumbcontainer {
	color: %colour_body_text%;
}	

#breadcrumbcontainer a {
	color: %colour_breadcrumblinks_static%;
}

#breadcrumbcontainer a:hover {
	color: %colour_breadcrumblinks_hover%;
}

/* Sidebar Container */
#sidebarContainer {
	color: %colour_sidebar_text%;
	border-top: solid 5px %colour_borders%;
}

#sidebarContainer .sideHeader {
	color: %colour_sidebar_header%;
}

/* Main Container */
#mainContainer {
}

/* Content Container */
#contentContainer {
	color: %colour_content_text%;
}

#contentContainer #content {
	border-top: solid 5px %colour_borders%;
}

/* Web links */
a:link, a:visited {
	color: %colour_links_static%;
}

a:hover {
	color: %colour_links_hover%;
}


a:active {
	color: %colour_links_static%;
}

/* Primary navigation links (header) */
#primaryNavigation {
	border-top: solid 10px %colour_pageheader_border%;
}

#primaryNavigation a, 
#primaryNavigation ul ul a { 
	color: %colour_menutext_static%;
	border-top: solid 5px %colour_body_background%;
}

#primaryNavigation a:hover,
#primaryNavigation ul ul a:hover {
	color: %colour_menutext_hover%;
	border-top: solid 5px %colour_borders%;
}

#primaryNavigation .current,
#primaryNavigation .current:hover, 
#primaryNavigation .currentAncestor,
#primaryNavigation ul ul .current,
#primaryNavigation ul ul .current:hover,  
#primaryNavigation ul ul .currentAncestor,
#primaryNavigation ul ul ul .current,  
#primaryNavigation ul ul ul .current:hover,
#primaryNavigation ul ul ul .currentAncestor {
	color: %colour_menutext_current%;
	border-top: solid 5px %colour_body_background%;
}

/* Secondary navigation links (sidebar) */
.secondaryNavigation {
	background-color: %colour_menubackground_static%;
}

.secondaryNavigation li,
.secondaryNavigation ul ul li, 
.secondaryNavigation ul ul ul li {
}

.secondaryNavigation a, 
.secondaryNavigation ul ul a, 
.secondaryNavigation ul ul ul a {
	color: %colour_menutext_static%;
}

.secondaryNavigation a:hover,
.secondaryNavigation ul ul a:hover,
.secondaryNavigation ul ul ul a:hover {
	color: %colour_menutext_hover%;
}

.secondaryNavigation .current,
.secondaryNavigation .current:hover, 
.secondaryNavigation .currentAncestor,
.secondaryNavigation ul ul .current,
.secondaryNavigation ul ul .current:hover,  
.secondaryNavigation ul ul .currentAncestor,
.secondaryNavigation ul ul ul .current,  
.secondaryNavigation ul ul ul .current:hover,
.secondaryNavigation ul ul ul .currentAncestor {
	color: %colour_menutext_current%;
}

/* Footer container */
#footer {
	color: %colour_footer_text%;
	background-color: %colour_footer_background%;
}

#footer a:link, #footer a:visited, #footer a:active {
	color: %colour_links_static%;
}

#footer a:hover {
	color: %colour_links_hover%;
}

/* Blockquote and standout */
blockquote, .standout, .scrollBox {
background-color : %colour_blockquote_background%;
border: 1px solid %colour_blockquote_border%;
}

/* Blog page style */
.blog-entry-title, .blog-entry-title a {
	color: %colour_blog_title%;
}

.blog-entry-date {
	color: %colour_blog_date%;
}

.blog-read-more a {
	color: %colour_blogreadmore_static%;
}

.blog-read-more a:hover {
	color: %colour_blogreadmore_hover%;
}

.blog-entry-comments a {
	color: %colour_blogcomments_static%;
}

.blog-entry-comments a:hover {
	color: %colour_blogcomments_hover%;
}

#blog-categories {
	color: %colour_blogcategories_off%;
}

#blog-categories a {
	color: %colour_blogcategories_static%;
}

#blog-categories a:hover {
	color: %colour_blogcategories_hover%;
}

#blog-archives a {
	color: %colour_blogarchive_static%;
}

#blog-archives a:hover {
	color: %colour_blogarchive_hover%;
}

#blog-rss-feeds a {
	color: %colour_rss_static%;
}

#blog-rss-feeds a:hover {
	color: %colour_rss_hover%;
}

ul.blog-tag-cloud a {
	color: %colour_tagcloud_static%;
}

ul.blog-tag-cloud a:hover {
	color: %colour_tagcloud_hover%;
}



/* File sharing page styles */
.filesharing-description {
	color: %colour_filesharing_pagedescription%
}

.filesharing-item-title a {
	color: %colour_filesharinglink_static%;
}

.filesharing-item-title a:hover {
	color: %colour_filesharinglink_hover%;
}

.filesharing-item-description {
	color: %colour_filesharing_description%;
}





/* Photo Album page styles */
.album-title {
	color: %colour_photoalbum_title%;
}

.album-description {
	color: %colour_photoalbum_description%;
}

.thumbnail-frame img {
	border: 1px solid %colour_photoalbum_border%;
}

.thumbnail-caption {
	color: %colour_photoalbum_caption%;
}





/* Induvidual Photo page styles */
.photo-background {
	background-color: %colour_photopage_background%;	
}

.photo-title {
	color: %colour_photopage_albumtitle%;
	background-color: %colour_photonavigation_background%;
}

.photo-caption {
	color: %colour_photopage_caption%;
	background-color: %colour_photonavigation_background%;
}

.photo-frame {
	border: 1px solid %colour_photopage_imageborder%;
}

.photo-navigation {
	background-color: %colour_photonavigation_background%;
	border-bottom: 15px solid %colour_photopage_background%;
}

.photo-navigation a:link {
	color: %colour_photopagenavigation_static%;
}

.photo-navigation a:hover {
	color: %colour_photopagenavigation_hover%;
}

.exif-data {
	color: %colour_photopage_exifdata%;
	background-color: %colour_photopage_exifdatabackground%;
}





/* Movie Album page styles */
.movie-page-title {
	color: %colour_moviealbum_title%;
}

.movie-page-description {
	color: %colour_moviealbum_pagedescription%;
}

.movie-thumbnail-frame img {
	border: 1px solid %colour_moviealbum_thumbnailborder%;
}

.movie-thumbnail-caption {
	color: %colour_moviealbum_thumbnailcaption%;
}

/* Quicktime (Fullscreen) Video Page */
.movie-description {
	color: %colour_quicktime_pagedescription%;
}

/* Contact Form page styles */
form {
	color: %colour_contactform_labels%;
}

.message-text { 
	color: %colour_contactform_header%;
} 

.form-input-field {
	color: %colour_contactform_input%;
	border: 1px solid %colour_contactform_borders%;
	background-color: %colour_contactform_background%;
} 

.label {
	color: %colour_contactform_annotations%;
}