/* @group Reset */

html, body {
	padding: 0;
	margin: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
	font-size: 100%;
}

/* @end */

/* @group Inline Images */

img {
	border-style: none;
	position: relative;
}

.image-left {
	float: left;
	padding: 10px;
	position: relative;
}

.image-right {
	float: right;
	padding: 10px;
	position: relative;
}

/* @end */

/* @group Links */

a:link {
	text-decoration: none;
	font-weight: normal;
	color: #ff8000;
}

a:visited {
	color: #ff8000;
	text-decoration: underline;
	font-weight: normal;
}

a:hover {
	text-decoration: underline;
	font-weight: normal;
	color: #ff8000;
}

a:active {
	text-decoration: underline;
	font-weight: normal;
	color: #ff8000;
}

/* @end */

/* @group Headers */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.00em;
}

/* @end */

/* @group Lists */

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* @end */

/* @group Layout */

body {
	background: url(images/editable_images/body_bg.jpg) repeat-x 0 top;
}

#header {
	display: block;
	position: relative;
	height: 175px;
	width: 100%;
	background: #06f url(images/editable_images/header_bg.jpg) no-repeat left;
}

#titleWrapper {
	display: block;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#header h1 {
	text-align: center;
	font: 200% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-top: 20px;
	color: #0e3f7e;
}

#header h2 {
	text-align: center;
	font: 150% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #0e3f7e;
}

#navigationBlock {
	display: block;
	width: 100%;
	height: 48px;
	position: absolute;
	bottom: 0;
}

#navigation {
	width: 800px;
	display: block;
	margin: 0 auto;
	position: relative;
	height: 48px;
	background: url(images/editable_images/menu_top.png) no-repeat;
}

#nav1 {
	display: block;
	width: auto;
}

#nav1 ul {
	display: block;
	text-align: center;
	padding: 0;
	margin: 0;
}

#nav1 li {
	display: inline;
	margin-right: auto;
	margin-left: auto;
	list-style: none;
}

#nav1 a {
	padding: 0 20px;
	line-height: 3.00em;
	color: #ffffff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}


#nav1 ul ul {
	display: none;
}

#contentContainer {
	display: block;
	width: 800px;
	margin: 0 auto;
	background-color: #ffffff;
	position: relative;
}

#content {
	padding: 10px;
	font: 80%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #4c4c4c;
	margin-right: 200px;
}

#sidebarContainer {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 175px;
}

#nav2 {
	padding-bottom: 10px;
}

#nav2 ul {
	padding: 0;
	margin: 0;
}

#nav2 li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav2 ul a {
	display: none;
}

#nav2 ul ul a {
	display: block;
	color: #ff8000;
	font: 80%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 0;
}

#sidebar {
	font: 80%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #4c4c4c;
}

#sidebar h3 {
	font-weight: bold;
	line-height: 1.50em;
}

#footerContainer {
	padding: 10px;
}

#footer {
	font: 80%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #4c4c4c;
}

#breadcrumb {
	font: 80%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #4c4c4c;
}

#breadcrumb li {
	display: inline;
}

/* @end */



/* @group Blog */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Main Blog entries */

.blog-entry {
	padding-bottom: 20px;
}

.blog-entry-title {
	font-size: 1.25em;
	line-height: 1.00em;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	font-size: 0.75em;
	line-height: 1.00em;
	padding-bottom: 10px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
	
}

.blog-entry-comments {
	
}

p.blog-entry-tags {
	font-style: italic;
}

/* Styles the category link/s in the main Blog entry */

.blog-entry-category a {
	font-weight: bold;
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 10px;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
	text-decoration: none;
}

.filesharing-item-title a:hover {
	font-weight: normal;
	text-decoration: none;
}

/* @end */

/* @group Flash */

#flashcontent {
	text-align: center;
}

/* @end */

/* @group Photo Album */

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* CSS Formatting for Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}



/* Styling Exif Data */

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Movie Page */

.movie-description {
	margin-top: 15px;
}

/* @end */

/* @group Movie Album */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* CSS formatting for Singular Quicktime Movies */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* @end */

/* @group Contact Form */

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: normal;
}

.form-input-field {
	font-size: 1.25em;
	width: 99%;
}

.form-input-button {
	font-size: 1.5em;
}

/* @end */