/* Define styles that are to be used for printing here */

#image, nav, #breadcrumb, #siteSearch {
	display: none;
}

p a {
	word-wrap: break-word;
}

a {
	color: #000;
}

@page {
	margin: 0.5cm;
}

div#contentContainer div#content {	
	margin-right: 0px;
	margin-left: 0px;
}

aside#aside {
	float: none;
	width: 100%;
}

a:after {
	content: " (" attr(href) ")";
	font-size: 80%;
}