body {
	color: %colour_body_text%;
	background-color: %colour_body_background%;
}




/* Header (title) */
#pageHeader h1 {
	color: %colour_title_text%;
}

/* Subheading (slogan) */
#pageHeader h2 {
	color: %colour_header_slogan%;
}

/* Breadcrumb links */
#breadcrumbcontainer {
	color: %colour_body_text%;
}	

#breadcrumbcontainer a {
	color: %colour_breadcrumblinks_static%;
}

#breadcrumbcontainer a:hover {
	color: %colour_breadcrumblinks_hover%;
}

/* Sidebar Container */
#sidebarContainer {
	color: %colour_sidebar_text%;
}

#sidebarContainer .sideHeader {
	color: %colour_sidebar_header%;
}

/* Main Container */
#container {
		background-color: %colour_contentcontainer_background%;
}

/* Content Container */
#contentContainer {
	color: %colour_content_text%;
}

#contentContainer #content {
	
}

/* Web links */
a:link, a:visited {
	color: %colour_links_static%;
}

a:hover {
	color: %colour_links_hover%;
}


a:active {
	color: %colour_links_static%;
}

/* Primary navigation links (header) */
#primaryNavigation {
	
}

#primaryNavigation a, 
#primaryNavigation ul ul a { 
	color: %colour_menutext_static%;
	
}

#primaryNavigation a:hover,
#primaryNavigation ul ul a:hover {
	color: %colour_menutext_hover%;
	
}

#primaryNavigation .current,
#primaryNavigation .current:hover, 
#primaryNavigation .currentAncestor,
#primaryNavigation ul ul .current,
#primaryNavigation ul ul .current:hover,  
#primaryNavigation ul ul .currentAncestor,
#primaryNavigation ul ul ul .current,  
#primaryNavigation ul ul ul .current:hover,
#primaryNavigation ul ul ul .currentAncestor {
	color: %colour_menutext_current%;
	
}

/* Secondary navigation links (sidebar) */
.secondaryNavigation {
	background-color: %colour_menubackground_static%;
}

.secondaryNavigation li,
.secondaryNavigation ul ul li, 
.secondaryNavigation ul ul ul li {
}

.secondaryNavigation a, 
.secondaryNavigation ul ul a, 
.secondaryNavigation ul ul ul a {
	color: %colour_menutext_static%;
}

.secondaryNavigation a:hover,
.secondaryNavigation ul ul a:hover,
.secondaryNavigation ul ul ul a:hover {
	color: %colour_menutext_hover%;
}

.secondaryNavigation .current,
.secondaryNavigation .current:hover, 
.secondaryNavigation .currentAncestor,
.secondaryNavigation ul ul .current,
.secondaryNavigation ul ul .current:hover,  
.secondaryNavigation ul ul .currentAncestor,
.secondaryNavigation ul ul ul .current,  
.secondaryNavigation ul ul ul .current:hover,
.secondaryNavigation ul ul ul .currentAncestor {
	color: %colour_menutext_current%;
}

/* Footer container */
#footer {
	color: %colour_footer_text%;
	background-color: %colour_footer_background%;
}

#footer a:link, #footer a:visited, #footer a:active {
	color: %colour_links_static%;
}

#footer a:hover {
	color: %colour_links_hover%;
}