body, b, strong, dl, dt, dd, em, ins, hr, q, strike {
	font-size: 90%;
	margin: 0px;
	padding: 0px;
	line-height: 1.50em;
}

a:link, a:visited {
	color: #0000cc;
	text-decoration: underline;
}

a:hover, a:active {
	text-decoration: none;
}

blockquote, .standout { 
	padding: 10px;
	margin: 0px;
}

img {
	border-style: none;
}

.image-right {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

.image-left {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

/*
This section of the styles.css file focuses on the various containers and dividers which make up each RapidWeaver theme. They are listed more-or-less in order of appearance starting with the main content container, working down through to the footer. Please note that because this theme uses split navigation, there are two separate navigation containers - one called 'headerMenu' and a second called 'navcontainer'.
*/

#container {
	margin: 25px auto; /* This code kills some gremlins in Internet Explorer */
	text-align: left; /* As too does this line of code */
}

.clearer {
	clear: both;
}

#preloader {
	background-image: url('images/DO_NOT_DELETE/hover.png');
	display: none;
}

#backgroundImage {  
	height: 190px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-left: 15px;
	margin-right: 15px;
	background-image: url('images/DO_NOT_DELETE/background.jpg');
	background-position: center top;
}

#navWrap {  
	margin: 0px;
	padding: 0px;
}

#primaryNavigation {
	padding: 0px;
}

#primaryNavigation ul {
	list-style-type: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

#primaryNavigation li {
	display: inline;
	text-align: center;
}

#primaryNavigation a:link,
#primaryNavigation a:visited {
	background-image: url('images/DO_NOT_DELETE/static.png');
	background-position: bottom;
	float: left;
	text-decoration: none;
	display: block;
	line-height: 1.00em;
	padding-top: 170px;
	padding-bottom: 8px;
	z-index: 100;
}

#primaryNavigation a:hover {
	background-image: url('images/DO_NOT_DELETE/hover.png');
	background-position: bottom;
}

#primaryNavigation ul ul {
	display: none;
}

#primaryNavigation ul li a {
  display: none;
}

#primaryNavigation ul li a:hover {
	text-decoration: none;
	font-weight: normal;
}

#primaryNavigation ul li .current,
#primaryNavigation ul li .current:hover,
#primaryNavigation ul li a.active {
	background-image: url('images/DO_NOT_DELETE/static.png');
	background-position: bottom;
	text-decoration: none;
	font-weight: normal;
}

.spacer {
	height: 15px;
}

#pageHeader {
	height: auto;
	display: block;
	position: relative;
	margin-bottom: 0px;
}

#pageHeader h1 {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 3.00em;
	font-weight: normal;
	line-height: 1.00em;
	position: relative;
	letter-spacing: -2px;
}

#pageHeader img {
	position : absolute;
	right : 50%;
	top: 10px;
	display: none;
}

#pageHeader h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 0px;
	font-size: 2.00em;
	font-weight: normal;
	position: relative;
	line-height: 1.00em;
	letter-spacing: -2px;
}

/* Breadcrumb Container CSS Settings*/
#breadcrumbcontainer {
	padding: 0px;
	line-height: 1.25em;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	padding: 0px 0px 0px 0px;
	text-decoration: underline;
}

#breadcrumbcontainer a:hover {
	text-decoration: none;
}
	
#contentContainer {
	position: relative;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 200px;
	padding-bottom: 15px;
}

#contentContainer #content {
	margin: 0px;
}

.miniSpacer {
height : 25px;
}

#sidebarContainer {
	position : relative;
	margin: 0px;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 0px;
	width: 175px;
	float: right;
}

#sidebarLogo {
	text-align: center;
	display: none;	
}

#sidebarContainer #sidebar {
	padding: 0px;
}

#sidebarContainer .sideHeader {
	font-weight: bold;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 1.25em;
}

/* Secondry navigation links*/
/* Nest Level 1 and general settings*/
.secondaryNavigation {
	line-height: 1.00em;
	text-align: left;
	margin: 0;
	padding: 0;
}

.secondaryNavigation .current {
	text-decoration: none;
	font-weight: normal;
}

.secondaryNavigation .current:hover {
	text-decoration: none;
	font-weight: normal;
}

.secondaryNavigation li {
	display: inline;
}

.secondaryNavigation a {
  display: none; 
}

.secondaryNavigation ul ul a {
  display: block;
  text-decoration: none;
  margin-left: -80px;
  margin-right: 10px;
  padding-bottom: 10px;
}

.secondaryNavigation ul ul a span {
  display: block;
  padding: 1px;
}

/* Nest Level 2*/
.secondaryNavigation ul ul ul {
	padding-left: 10px;
	padding-right: 10px;
}

.secondaryNavigation ul ul a:hover {
	text-decoration: underline;
}

.secondaryNavigation ul ul a:hover span {
	text-decoration: underline;
}

/* Nest Level 3*/
.secondaryNavigation ul ul ul ul {
	padding-left: 20px;
	padding-right: 20px;
}

.secondaryNavigation ul ul ul a:hover {
	text-decoration: underline;
}

.secondaryNavigation ul ul ul a:hover span {
	text-decoration: underline;
}

/* Nest Level 4*/
.secondaryNavigation ul ul ul ul {
	padding-left: 30px;
	padding-right: 30px;
}

.secondaryNavigation ul ul ul a:hover {
	text-decoration: underline;
}

.secondaryNavigation ul ul ul a:hover span {
	text-decoration: underline;
}

#footer {
	padding: 15px;
	font-size: 0.80em;
	line-height: 1.25em;
}

#footerLogo {
	text-align: center;
	display: none;	
}


#footer p {
	color: #000000;
}

#footer a:hover, #footer a:active {
	color: #0000ff;
	text-decoration: none;
}

#footer a:link, #footer a:visited {
	color: #0000ff;
	text-decoration: underline;
}


/*
This section of the styles.css file focuses on the various RapidWeaver pages styles such as File sharing, Blogs, Photo Albums, Video Albums and Contact pages.*/

/* Main content area unordered list styles */
#contentContainer #content ul {
	line-height: 1.75em;
	margin-top: 0px;
	margin-bottom: 0px;
	background-position: left center;
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}
/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}



/* Blog page style */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 15px;
}
.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
}.blog-archive-link a:link, .blog-archive-link a:visited {
}

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin-top: 10px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* Blog entries */

.blog-entry {
	padding-bottom: 25px;
}

.blog-entry-title {
	font-size: 1.75em;
	font-weight: normal;
	margin: 0px;
}

.blog-entry-title a {
	text-decoration: none;
}

.blog-entry-date {
	margin-bottom: 10px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
}

.blog-entry-comments {
}

a.blog-trackback-link {
	padding-top: 2px;
}

p.blog-entry-tags {
	font-style: normal;
	padding-bottom: 0px;
	margin-bottom: 0px;
}

/*styles the category link in the main entry */
.blog-entry-category a {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	margin-bottom: 10px;
	margin-top: 10px;
	display: block;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 10px;
	line-height: 2.00em;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/theme_files/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/theme_files/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* File sharing page style */
.filesharing-description {
}

.filesharing-item {
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: bold;
}

.filesharing-item-title a:hover {
}

.filesharing-item-description {
}

/* Photo Album (Thumbnail view) */
.album-title {
	font-weight: bold;
}

.album-description {
	margin-bottom: 30px;
}


.album-wrapper {
	display: block;
	width: auto;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	background-image: url('images/theme_files/loading_background.png');
	margin: auto;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}

/* Single Page (Photo view) */
.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	background: #fff;
	padding: 15px;
}

.photo-links {
	padding-top: 15px;
}

.photo-navigation a:link {
}

.photo-navigation a:hover {
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}

/* @group Flash Content */
#flashcontent {
	text-align: center
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
	clear: left;
	margin: 0 0 0 15px;
	padding: 15px;
	float: left;
	width: 200px;
	background: #fff;
}

.exif-data p {
	margin: 0;
	padding: 0;
}


/* Full Size Quicktime Video Page */
.movie-description {
}
	
/* Quicktime Album Movie Thumbnail view */
.movie-page-title {
	font-weight: bold;
}.movie-page-description {
	padding-bottom: 15px;
}.movie-thumbnail-frame {
	width: 132px;
	height: 132px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-frame img {
	padding: 1px;
	border: 3px solid;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
}
	
/* Single Page (Movie View) */
.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.2em;
	letter-spacing: -1px;
	font-weight: normal;
	margin: 0;
}

.movie-frame {
}

/* Contact Form Page style*/
form {
}

.message-text { 
} 

.required-text {
} 

.form-input-field {
	font-size: 1.50em;
	width: 99%;
} 

.form-input-button { 
} 