/* @group HTML Colours */

a:link, a:visited {
	color: %colour_links_static%;
}

a:hover {
	color: %colour_links_hover%;
}

a:active {
	color: %colour_links_static%;
}

h1 {
	color: %colour_h1_text%;
}

h2 {
	color: %colour_h2_text%;
}

h3 {
	color: %colour_h3_text%;
}

h4 {
	color: %colour_h4_text%;
}

h5 {
	color: %colour_h5_text%;
}

h6 {
	color: %colour_h6_text%;
}

blockquote, .standout {
	background-color: %colour_blockquote_background%;
	color: %colour_blockquote_text%;
	border: 1px solid %colour_blockquote_border%;
}

code {
	background-color: %colour_code_background%;
	color: %colour_code_syntax%;
	border: 1px solid %colour_code_border%;
}

dl {
	background-color: %colour_definitionlist_background%;
	border: 1px solid %colour_definitionlist_border%;
}

dt {
	color: %colour_definitionlist_title%;
}

dd {
	color: %colour_definitionlist_description%;
}

strike {
	color: %colour_deletion_text%;
}

ins {
	color: %colour_insertion_text%;
}

table {
	border: 1px solid %colour_table_border%;
	background-color: %colour_table_background%;
}

caption {
	color: %colour_table_caption%;
}

th {
	color: %colour_table_headertext%;
	background-color: %colour_table_headerbackground%;
}

td {
	color: %colour_table_diagonaltext%;
}

#contentContainer #content ul {
	color: %colour_unorderedlist_text%;
}

#contentContainer #content li {
	color: %colour_orderedlist_text%;
}

/* @end */

/* @group Layout Colours */

#stripe {
	background-color: %colour_headerstripe_background%;
}

body {
	background-color: %colour_body_background%;
	color: %colour_body_text%;
}

#horizontalBar {
	background-image: %colour_horizontalbar_background%;
}

#primary-navigation ul ul {
	background-color: %colour_horizontalbar_background%;
}

#horizontalContent a {
	color: %colour_hlinks_static%;
}

#horizontalContent a:hover {
	color: %colour_hlinks_hover%;
}

#horizontalNavigation .current,
#horizontalNavigation .current:hover {
	color: %colour_hlinks_current%;
}

#horizontalNavigation .currentAncestor {
	color: %colour_hlinks_current%;
}

#horizontalNavigation a {
	color: %colour_hlinks_static%;
}

#horizontalNavigation a:hover {
	color: %colour_hlinks_hover%;
}

#pageHeader {
	background-color: %colour_header_background%;
}

#pageHeader h1 a, #randomiserTitle a {
	color: %colour_sitetitle_static%;
	text-shadow: %colour_sitetitle_static% 0 0 0;
}

#pageHeader h1 a:hover, #randomiserTitle a:hover {
	color: %colour_sitetitle_hover%;
	text-shadow: %colour_sitetitle_hover% 0 0 0;
}

#pageHeader h2, #randomiserSlogan {
	color: %colour_site_slogan%;
	text-shadow: %colour_site_slogan% 0 0 0;
}

#container {
}

#content {
	background-color: %colour_contentcontainer_background%;
}

#verticalNavigation .current, 
#verticalNavigation .current:hover {
	color: %colour_vlinks_current%;
}

#verticalNavigation .currentAncestor,
#verticalNavigation .currentAncestor:hover {
	color: %colour_vlinks_current%;
}

#verticalNavigation a:hover {
	color: %colour_vlinks_hover%;
}

#verticalNavigation a {
	color: %colour_vlinks_static%;
}

#sideTitleOuter {
	background: %colour_sidebartitle_background%;
}

#navOuter, verticalNavigation {
	background-color: %colour_verticalnavigation_background%;
}

#footer {
	color: %colour_footer_text%;
}

#footer a:link {
	color: %colour_footer_static%;
}

#footer a:hover {
	color: %colour_footer_hover%;
}

#sidebarContainer .sideHeader {
	color: %colour_sidebar_title_text%;
}

#sidebarContainer {
	color: %colour_sidebar_text%;
}

#breadcrumbcontainer li, #breadcrumbcontainer {
	color: %colour_breadcrumb_text%;
}

#breadcrumbcontainer a {
	color: %colour_breadcrumb_link%;
}

#breadcrumbcontainer a:hover {
	color: %colour_breadcrumb_onhover%;
}

/* @end */

/* @group Page Colours */

.blog-entry-title, .blog-entry-title a {
	color: %colour_blog_titlestatic%;
}

.blog-entry-title, .blog-entry-title a:hover {
	color: %colour_blog_titlehover%;
}

.blog-entry-date {
	color: %colour_blog_date%;
}

.blog-read-more a {
	color: %colour_blogreadmore_static%;
}

.blog-read-more a:hover {
	color: %colour_blogreadmore_hover%;
}

.blog-entry-tags a:link {
	color: %colour_blogentrytags_static%;
}

.blog-entry-tags a:hover {
	color: %colour_blogentrytags_hover%;
}

.blog-entry-comments a {
	color: %colour_blogcomments_static%;
}

.blog-entry-comments a:hover {
	color: %colour_blogcomments_hover%;
}

.blog-entry-category {
	color: %colour_blogcategories_off%;
}

.blog-entry-category a:link {
	color: %colour_blogcategories_static%;
}

.blog-entry-category a:hover {
	color: %colour_blogcategories_hover%;
}

#blog-archives a {
	color: %colour_blogarchive_static%;
}

#blog-archives a:hover {
	color: %colour_blogarchive_hover%;
}

#blog-rss-feeds {
	
}

#blog-rss-feeds a {
	color: %colour_rss_static%;
}

#blog-rss-feeds a:hover {
	color: %colour_rss_hover%;
}

.blog-tag-cloud {
	
}

ul.blog-tag-cloud a {
	color: %colour_tagcloud_static%;
}

ul.blog-tag-cloud a:hover {
	color: %colour_tagcloud_hover%;
}

.filesharing-description {
	color: %colour_filesharing_pagedescription%;
}

.filesharing-item-title a:link {
	color: %colour_filesharinglink_static%;
}

.filesharing-item-title a:hover {
	color: %colour_filesharinglink_hover%;
}

.filesharing-item-description {
	color: %colour_filesharing_description%;
}

.album-title {
	color: %colour_photoalbum_title%;
}

.album-description {
	color: %colour_photoalbum_description%;
}

.thumbnail-frame img {
	border: 1px solid %colour_photoalbum_border%;
}

.thumbnail-caption {
	color: %colour_photoalbum_caption%;
}

.photo-background {
	background-color: %colour_photopage_background%;
}

.photo-title {
	color: %colour_photopage_albumtitle%;
	background-color: %colour_photonavigation_background%;
}

.photo-caption {
	color: %colour_photopage_caption%;
	background-color: %colour_photonavigation_background%;
}

.photo-frame {
	border: 1px solid %colour_photopage_imageborder%;
}

.photo-navigation {
	background-color: %colour_photonavigation_background%;
	border-bottom: 15px solid %colour_photopage_background%;
}

.photo-navigation a:link {
	color: %colour_photopagenavigation_static%;
}

.photo-navigation a:hover {
	color: %colour_photopagenavigation_hover%;
}

.exif-data {
	color: %colour_photopage_exifdata%;
	background-color: %colour_photopage_exifdatabackground%;
}

.movie-page-title {
	color: %colour_moviealbum_title%;
}

.movie-page-description {
	color: %colour_moviealbum_pagedescription%;
}

.movie-thumbnail-frame img {
	border: 1px solid %colour_moviealbum_thumbnailborder%;
}

.movie-thumbnail-caption {
	color: %colour_moviealbum_thumbnailcaption%;
}

.movie-description {
	color: %colour_quicktime_pagedescription%;
}

form {
	color: %colour_contactform_labels%;
}

.message-text {
	color: %colour_contactform_header%;
}

.form-input-field {
	color: %colour_contactform_input%;
	border: 1px solid %colour_contactform_borders%;
	background-color: %colour_contactform_background%;
}

.label {
	color: %colour_contactform_annotations%;
}

/* @end */