body {
	padding: 0;
	margin: 0;
	background-color: #333333;
	font: 90% "Lucida Grande", Lucida, Verdana, sans-serif;
}

img, img a, img a:hover {
	border: none;
}

#border {
	margin: 0 auto;
}

a:link {
	text-decoration: none;
	color: #3399ff;
}

a:visited {
	text-decoration: none;
	color: #3399ff;
}

a:active {
	text-decoration: none;
	color: #3399ff;
}

a:hover {
	text-decoration: underline;
	color: #3399ff;
}

.image-left {
	float: left;
	padding-right: 10px;
}

.image-right {
	float: right;
	padding-left: 10px;
}

blockquote, .standout {
	display: block;
	font-style: normal;
	padding: 10px;
	margin: 0px;
	font-weight: normal;
}

code {
	padding: 10px;
	display: block;
	font-size: 1.25em;
}

ol {
	list-style-type: decimal-leading-zero;
}

ul {
	padding: 0 20px;
}

th {
	padding: 5px;
}

td {
	padding-right: 5px;
	padding-left: 5px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.clearer {
	clear: both;
}

#container {
	width: 800px;
	margin: 0px auto;
	text-align: left;
}

#headerContainer {
	display: block;
	height: 150px;
}

#flashHeader {
	display: none;
}

#contentContainer {
	overflow: hidden;
	text-align: left;
	padding: 0px;
	z-index: 10;
	background-color: #ffffff;
}

#contentContainer #content {
	padding: 15px;
	color: #808080;
	font-size: 90%;
	line-height: 1.4em;
}

#siteTitle {
	font: 300% "Times New Roman", Times, serif;
	padding-top: 25px;
	padding-left: 25px;
	color: #FFFFFF;
	text-shadow: #000 1px 1px 1px;
}

#siteSlogan {
	font: 150% "Times New Roman", Times, serif;
	padding-top: 0;
	padding-left: 25px;
	color: #FFFFFF;
	text-shadow: #000 1px 1px 1px;
}

#horizontalNavigation {
	height: 31px;
	position: relative;
	left: 2px;
	bottom: 2px;
	font-size: 90%;
}

#horizontalNavigation .current {
	color: #3399ff
}

html>body #horizontalNavigation .current {
	color: #3399ff
}

#horizontalNavigation .current:hover {
	color: #3399ff
}

#horizontalNavigation .currentAncestor {
	color: #3399ff
}

/* Parent - Level 0 */

#horizontalNavigation ul {
	margin: 0;
	padding: 5px 0 0;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
}

html > body #horizontalNavigation ul {
	
}

#horizontalNavigation li {
	display: inline;
	float: left;
	position: relative;
}

#horizontalNavigation a {
	text-align: left;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	float: left;
	height: 31px;
	padding: 6px 15px 9px;
}

#horizontalNavigation a:hover {
	color: #3399ff
}

#horizontalNavigation a:active {
	
}

/* Child - Level 1 */

#horizontalNavigation ul ul {
	position: absolute;
	left: -2px;
	top: 30px;
	display: none;
	z-index: 100;
	margin: 0;
	width: 70px;
	padding: 0px;
}

#horizontalNavigation ul ul li {
	display: block;
	float: none;
	position: relative;
}

#horizontalNavigation ul ul a {
	background: #000000;
	padding: 6px 15px 9px 17px;
	height: auto;
	margin: 0;
	width: 150px;
}

#horizontalNavigation ul ul a:hover {
	background-image: none;
	background-color: #000000;
	color: #3399ff
}

#horizontalNavigation ul ul .current {
	background-image: none;
	background-color: #000000;
	color: #3399ff;
}

/* Child Level 3 */

#horizontalNavigation ul ul ul {
	display: none;
}

#horizontalNavigation ul ul ul li {
	display: none;
}

#horizontalNavigation ul ul ul a {
	display: none;
}

#horizontalNavigation ul ul ul a:hover {
	display: none;
}

div#horizontalNavigation ul ul, 
div#horizontalNavigation ul ul ul, 
div#horizontalNavigation ul li:hover ul ul, 
div#horizontalNavigation ul li:hover ul ul ul, 
div#horizontalNavigation ul li:hover ul ul ul ul, 
div#horizontalNavigation ul li:hover ul ul ul ul ul {
	display: none;
}

div#horizontalNavigation ul li:hover ul, div#horizontalNavigation ul ul li:hover ul, div#horizontalNavigation ul ul ul li:hover ul, div#horizontalNavigation ul ul ul ul li:hover ul, div#horizontalNavigation ul ul ul ul ul li:hover ul {
	display: block;
}

#sidebarContainer {
	width: 220px;
	overflow: hidden;
	text-align: left;
	float: right;
	margin-left: 10px;
	background: url(images/sidebar_bg.png) left bottom;
	padding-bottom: 15px;
}

#sidebarContainer #sidebar {
	text-align: left;
	padding: 5px 15px 0;
	color: #808080;
	font-size: 90%;
	line-height: 1.4em;
}

#sidebarContainer .sideHeader {
	text-align: left;
	font-weight: bold;
	margin: 0;
	padding: 15px 15px 0;
	color: #808080;
	font-size: 90%;
	line-height: 1.4em;
}

#posterLiteCredit {
	display: block;
	text-align: center;
	height: 2.50em;
}

#posterLiteCredit a {
	color: #212121;
	font-size: 70%;
}

#posterLiteCredit a:hover {
	color: #c0c0c0;
}

#footerContainer {
	display: block;
	width: 100%;
	height: 2.50em;
	background-color: #000000;
	color: #ffffff;
	font-size: 80%;
}

#lastPublished {
	display: none;
}

#footer p {
	
}

#footer {
	float: right;
	text-align: right;
	padding: 5px 15px 15px;
	display: inline;
}

#footer a:hover, #footer a:active {
	text-decoration: none;
	margin: 0;
	padding: 0;
	color: #ffffff;
}

#footer a:link, #footer a:visited {
	margin: 0;
	padding: 0;
	color: #ffffff;
}

#footerWrapper {
	background-color: #000000;
	margin: 0;
	padding: 0;
}

#breadcrumbcontainer {
	text-align: center;
	display: inline;
	float: left;
	margin: 0;
	color: #ffffff;
	padding: 5px 0 0 15px;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	padding: 0px 0px 0px 0px;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
}

#breadcrumbcontainer a:hover {
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
	color: #ffffff;
}

#navcontainer {
	width: 145px;
	height: 31px;
	position: absolute;
	right: 2px;
	top: 4px;
}

#navcontainer #current {
	
}

html>body #navcontainer #current {
	
}

#navcontainer #current:hover {
	
}

#navcontainer .currentAncestor {
	
}

html > body #navcontainer .currentAncestor {
	
}

/* Parent - Level 0 */

#navcontainer ul {
	margin: 0;
	list-style: none;
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
}

html > body #navcontainer ul {
	
}

#navcontainer li {
	display: inline;
	float: left;
	position: relative;
}

#navcontainer ul a {
	text-align: right;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	display: block;
	height: 31px;
	width: 125px;
}

/* Child - Level 1 */

#navcontainer li li {
	position: absolute;
	right: 1px;
	top: 0px;
	display: none;
	z-index: 100;
	margin: 0;
	padding: 0;
	background: none;
}

#navcontainer ul ul li {
	display: block;
	float: none;
	position: relative;
}

#navcontainer ul ul a {
	display: block;
	background: #000000;
	height: auto;
	margin: 0;
	width: 125px;
}

#navcontainer ul ul a:hover {
	background-image: none;
	background-color: #000000;
}

#navcontainer ul ul #current {
	background-image: none;
	background-color: #000000;
}

div#navcontainer ul ul, div#navcontainer ul ul ul, div#navcontainer ul li:hover ul ul, div#navcontainer ul li:hover ul ul ul, div#navcontainer ul li:hover ul ul ul ul, div#navcontainer ul li:hover ul ul ul ul ul {
	display: none;
}

div#navcontainer ul li:hover ul, div#navcontainer ul ul li:hover ul, div#navcontainer ul ul ul li:hover ul, div#navcontainer ul ul ul ul li:hover ul, div#navcontainer ul ul ul ul ul li:hover ul {
	display: block;
}

#horizontalBar {
	display: block;
	background-color: #000000;
	text-shadow: #000 0 0 0;
	height: 35px;
	margin: 0;
	padding: 0;
}

#functionContainer {
	color: #ffffff;
	display: inline;
	float: right;
	position: absolute;
	width: 200px;
}

#simpleLink, #print, #searchBox {
	display: none;
}

#block {
	position: relative;
	display: block;
}

n-horizontal {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0;
	margin: 0;
	display: block;
}

.parentLink {
	width: 145px;
	padding-right: 10px;
	padding-left: 10px;
}

li.listPadding {
	display: block;
	height: 10px;
	background: #000000;
	width: 145px;
}

.subLink {
	width: 145px;
	text-align: left;
	padding: 10px 10px 5px;
	display: block;
}

#n-shows {
	width: 145px;
	text-align: right;
	padding-top: 0px;
}

ul.dropdown {
	position: relative;
	z-index: 500;
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.dropdown li {
	float: left;
	line-height: 1.25em;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
	position: relative;
	z-index: 500;
}

ul.dropdown ul {
	visibility: hidden;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 500;
	width: 100%;
}

ul.dropdown ul li {
	float: none;
}

ul.dropdown ul ul {
	top: 1px;
	left: 99%;
}

ul.dropdown li:hover > ul {
	visibility: visible;
}

ul.dropdown li {
	padding: 0px;
	list-style: none;
}

/* ALL LEVELS (incl. first) */

ul.dropdown li {
	background-color: #000000;
	color: #fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-shadow: #000 0 0 0;
}

/* Links */

ul.dropdown a:link {
	color: #fff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

/* The drop down menu */

ul.dropdown ul {
	left: auto;
	right: 0;
	margin-top: -1px;
	display: block;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 0;
}

ul.dropdown ul ul {
	top: 0;
	right: auto;
	left: 100%;
	margin-top: 0;
	font-weight: normal;
}

.blog-archive-background {
	
}

.blog-archive-headings-wrapper {
	
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-month {
	font-size: 27px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.blog-archive-link {
	padding-bottom: 10px;
	text-decoration: none;
}

ul.blog-tag-cloud {
	margin: 0 0 10px;
	padding: 0;
	text-align: justify;
	margin-top: 20px;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

.blog-entry-title {
	font-weight: normal;
	margin-bottom: 0px;
	font-size: 1.50em;
	line-height: 24px;
	padding-bottom: 5px;
}

.blog-entry-date {
	
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	font-style: italic;
}

.blog-entry-author {
	padding-top: 0px;
	text-align: left;
	padding-left: 10px;
	margin-top: -30px;
}

.blog-entry-category {
	text-align: left;
}

.blog-entry-tags {
	
}

.blog-category-link-enabled {
	padding-top: 0px;
	text-align: left;
}

.blog-category-link-disabled {
	
}

.blog-entry-body {
	margin-bottom: 25px;
	padding-left: 0px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.blog-entry-comments {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 8px;
}

.filesharing-description {
	padding-bottom: 10px;
}

.filesharing-item {
	padding-top: 15px;
}

.filesharing-item-title a:link {
	
}

.filesharing-item-title a:hover {
	
}

.filesharing-item-title a:visited {
	
}

.filesharing-item-description {
	padding-left: 20px;
}

.album-title {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.9em;
}

.album-description {
	margin-bottom: 15px;
	margin-top: 5px;
}

.album-wrap {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 65px;
	margin-right: 25px;
	display: block;
	text-decoration: none;
}

.thumbnail-table {
	width: 70%;
}

.thumbnail-frame {
	
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	
}

.thumbnail-frame img {
	border: none;
}

.thumbnail-caption {
	
}

.photo-background {
	margin: 10px;
	width: 900px;
}

.photo-navigation {
	margin-bottom: 10px;
	padding: 10px 10px 5px;
	text-align: left;
	text-decoration: none;
}

.photo-navigation a:link, .photo-navigation a:visited {
	text-decoration: none;
}

.photo-navigation a:hover {
	
}

.photo-frame {
	background: #f8f8f8 center center;
	padding: 5px;
	margin-top: 30px;
}

.photo-links {
	
}

.photo-title {
	font-weight: normal;
	font-size: 1.9em;
	margin: 0 0 3px;
}

.photo-caption {
	
}

.movie-description {
	
}

.movie-page-title {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.9em;
}

.movie-page-description {
	margin-bottom: 15px;
	margin-top: 5px;
}

.movie-thumbnail-frame {
	width: 132px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

.movie-thumbnail-caption {
	
}

.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.5em;
}

.movie-frame {
	
}

.message-text {
	
}

.required-text {
	
}

.form-input-field {
	font-size: 1.5em;
}

.form-input-button {
	font-size: 1.5em;
}