body {
	background: %colour_body_bg%;
	color: %colour_content_text%;
}

#siteTitle h1 a {
	color: %colour_sitetitle_static%;
}

#siteTitle h1 a:hover {
	color: %colour_sitetitle_hover%;
}

#siteSlogan h2 {
	color: %colour_siteslogan%;
}

a:link {
	color: %colour_links_static%;
}

a:visited {
	color: %colour_links_visited%;
}

a:hover {
	color: %colour_links_hover%;
}

a:active {
	color: %colour_links_active%;
}

h1, h2, h3, h4, h5, h6 {
	color: %colour_headings%;
}