/* A list of dividers and elements we do not want printed */
#banner, #nav1, #nav2, #siteSearch, #pluginSidebar, #footerTitle, #breadcrumb  {
	display: none;
}

/* Reduce title and slogan font size down and stack vertically */

#header,
#siteTitle h1,
#siteSlogan h2 {
	display: block;
	position: relative;
	height: auto;
	font-size: 12pt;
}

/* Makes text printer friendly and uses "Eco Sans" font face when available */
#container, #wrapper, #content {
	width: 100%; 
	margin-right: 200px; 
	float: none;
	font: 12pt/1.3em "Spranq eco sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Floats the sidebar right and wraps it inside a box */
#aside {
	display: block;
	margin: 10px;
	padding: 10px;
	float: right;
	width: 180px;
	border: 1px dashed #cccccc;
	overflow: hidden;
	font: 12pt/1.3em "Spranq eco sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Reduces sidebar title size */
#aside #sidebarTitle h3 {
	line-height: 1.00em;
	font-size: 12pt;
	padding: 0;
	margin: 0;
}

/* Makes all links blue */
a, 
a:visited {
	color: #0000ff;
}

/* Prints URL's after links */
a:link:after,
a:visited:after {
  content: " (" attr(href) ") ";
  font-size: 90%;
}

/* Puts some padding above the footer */
#footer {
	padding-top: 20px;
}