/*
Theme Name: White
Theme URL: http://www.themeflood.com/
Description: An simple RapidWeaver theme designed to emulate the White iWeb theme
Author: Will Woodgate
Version: 1.0
First Released: 19th July 2011
Last Updated: 19th July 2011
License: Creative Commons Attribution 2.0
EULA: http://www.themeflood.com/eula.html
Documentation: http://www.themeflood.com/
Built For: RapidWeaver 3.6, 4.4 and 5.0
*/

/* @group Reset */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, a, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}

body {
	margin: 0;
	padding: 0;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */

:focus {
	outline: 0;
	-moz-outline-style: none;
}

/* remember to highlight inserts somehow! */

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

abbr[title], dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

input, select {
	vertical-align: middle;
}


/* @end */



/* @group HTML Styles */

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	color: #545454;
}

br {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

.image-left {
	float: left;
	margin: 5px;
	padding: 0;
	position: relative;
}

.image-right {
	float: right;
	margin: 5px;
	padding: 0;
	position: relative;
}

a img {
	border: none;
	outline: none;
}

a:link, a:visited {
	text-decoration: underline;
	color: #0066cc;
}

a:hover, a:active {
	text-decoration: none;
	color: #0066cc;
}

.external {
	padding-right: 12px;
	background: url(images/icons/external.png) no-repeat right center;
}

.clearer {
	clear: both;
}

blockquote {
	
}

code {
	
}

hr {
	
}

.imageStyle {
	
}

#contentContainer #content ul,
#contentContainer #content ol,
#contentContainer #sidebar ul,
#contentContainer #sidebar ol {
	margin-left: 20px;
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* @end */

/* @group Layout */


/* @group Main */

#main {
	padding: 0;
	margin: 0 auto;
	display: block;
	position: relative;
	width: 960px;
}

/* @end */

/* @group Extra Content */

.ecName {
	display: none;
}

#extraContainer1 {
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px;
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
}

#extraContainer2 {
	position: absolute;
	right: 0;
	top: 0;
	padding: 20px;
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
}

#extraContainer3 {
	position: absolute;
	right: 0;
	top: 0;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #ffffff;
}

/* @end */



/* @group Header */

#header {
	display: block;
	position: absolute;
	bottom: 5px;
	left: 20px;
}

#header h1 {
	display: block;
}

#siteTitle h1 a {
	text-decoration: none;
	font: bold 200% Arial, Helvetica, Geneva, sans-serif;
}

#siteTitle h1 a:hover {
	text-decoration: none;
}

/* @end */

/* @group Banner */

#banner {
	display: block;
	position: relative;
	height: 400px;
	background: url(images/editable_images/banner-bg.jpg) center center;
	margin-top: 0px;
	margin-bottom: 20px;
}

#logo {
	position: absolute;
	top: 20px;
	left: 20px;
}

/* @end */

/* @group Horizontal Navigation */

#nav1 {
	display: block;
	position: relative;
	height: 35px;
	font: 90% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	overflow: hidden;
	margin-top: 20px;
}

#nav1 ul {
   clear: both;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
}

#nav1 ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
}

#nav1 li:first-child {
	margin-left: -20px;
}

#nav1 li a {
	display: block;
	color: #999999;
	font-weight: bold;
	text-decoration: none;
	padding: 12px 20px;
}

#nav1 li a:hover {
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

#nav1 .current,
#nav1 .currentAncestor {
	color: #636363;
	font-weight: bold;
}

#nav1 ul ul {
	display: none;
}

/* @end */



/* @group Vertical Navigation */

#nav2 {
	position: relative;
	font: 75% Arial, Helvetica, Geneva, sans-serif;
	padding-bottom: 15px;
}

#nav2 ul {
	display: inline;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#nav2 li {
	display: inline;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#nav2 .current {
	text-decoration: none;
	font-weight: normal;
	color: #545454;
}

#nav2 .current:hover {
	text-decoration: none;
	font-weight: normal;
	cursor: default;
	color: #545454;
}

#nav2 .currentAncestor {
	text-decoration: none;
	font-weight: normal;
	color: #0066cc;
}

#nav2 .currentAncestor:hover {
	text-decoration: underline;
	font-weight: normal;
	color: #0066cc;
}

#nav2 a {
	display: none;
	padding: 0px 0px 0;
	margin: 0px;
}

#nav2 a:hover {
	color: #0066cc;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#nav2 ul li a {
	display: none;
	padding: 0;
	margin: 0;
}

#nav2 ul ul a {
	display: block;
	color: #0066cc;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 3px 0;
}

#nav2 ul ul ul li a {
	padding-left: 20px;
	display: block;
}

#nav2 ul ul ul ul li a {
	padding-left: 40px;
	display: block;
}

#nav2 ul ul ul ul ul li a {
	padding-left: 60px;
	display: block;
}

#nav2 ul ul ul ul ul ul li a {
	padding-left: 80px;
	display: block;
}

#nav2 ul ul ul ul ul ul ul li a {
	padding-left: 100px;
	display: block;
}

/* @end */

/* @group Content */

#siteSlogan h2 {
	position: relative;
	font: normal normal normal 125% Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	display: block;
}

#contentContainer {
	margin: 20px;
}

#contentContainer #content {
	font: 95% Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.25em;
	margin-right: 240px;
}

/* @end */

/* @group Sidebar */

#aside {
	display: block;
	position: relative;
	float: right;
	width: 200px;
}

#aside #sidebarTitle h3 {
	font: bold 75% Arial, Helvetica, Geneva, sans-serif;
}

#aside #sidebar,
#aside #pluginSidebar {
	font: 75% Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.25em;
}

/* @end */

/* @group Search Function */

#siteSearch {
	display: none;
	position: relative;
	margin-top: 20px;
}

#searchField {
	display: block;
	width: 189px;
	margin: 0px;
	border: 1px solid #4c4c4c;
	color: #545454;
	padding: 5px;
	background: #ffffff;
}

#searchButton {
	background: #4c4c4c;
	color: #ffffff;
	float: right;
	border: none;
	margin: 0;
	padding: 5px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 80%;
	margin-top: 1px;
	width: 75px;
	display: block;
	text-align: center;
}

/* @end */

/* @group Footer */

#footer {
	position: relative;
	display: block;
	padding: 0 0 40px;
	margin: 40px 0 0;
}

#footerContent {
	font: normal normal 75% Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
	display: block;
	position: relative;
	z-index: 10;
	padding: 0;
	margin: 0;
	height: 1.50em;
}

#lastUpdated {
	display: none;
	position: relative;
	text-align: center;
	font: 75% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 1.50em;
}

#creditation94cd5 {
	font: 70% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	position: relative;
	height: 1.50em;
	text-align: center;
}

#creditation94cd5 a {
	color: #cdcdcd;
}

#creditation94cd5 a:hover {
	color: #333333;
}

/* @end */

/* @group Breadcrumb */

#breadcrumb {
	position: relative;
	display: block;
	width: 100%;
	clear: both;
	font: normal normal 80% Arial, Helvetica, Geneva, sans-serif;
	text-align: left;
	z-index: 20;
	height: 1.50em;
}

#breadcrumb ul {
   clear: both;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}

#breadcrumb ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
}

/* @end */

/* @end */



/* @group Blog */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Main Blog entries */

.blog-entry {
	padding-bottom: 40px;
	position: relative;
}

.blog-entry-title {
	font-size: 1.50em;
	line-height: 1.00em;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	line-height: 1.00em;
	margin-bottom: 20px;
}

.blog-read-more {
	display: block;
}

.blog-entry-body {
	
}

p.blog-entry-tags {
	line-height: 2.00em;
}

.blog-entry-comments {
	line-height: 2.00em;
}

/* Styles the category link/s in the main Blog entry */

.blog-entry-category a {
	
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 20px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	margin-bottom: 20px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 20px;
	display: block;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/icons/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/icons/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	display: block;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
	text-decoration: none;
}

.filesharing-item-title a:hover {
	font-weight: normal;
	text-decoration: none;
}

/* @end */

/* @group Flash */

#flashcontent {
	text-align: center;
}

/* @end */

/* @group Photo Album */

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* CSS Formatting for Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}



/* Styling Exif Data */

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Movie Page */

.movie-description {
	margin-top: 15px;
}

/* @end */

/* @group Movie Album */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* CSS formatting for Singular Quicktime Movies */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* @end */

/* @group Contact Form */

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: normal;
}

.form-input-field {
	font-size: 1.25em;
	width: 99%;
}

.form-input-button {
	font-size: 1.5em;
}

/* @end */



/* @group JS-Kit Override */

.js-singleCommentBodyT {
	display: block;
	margin: 0;
	padding: 17px 0 0;
}

.js-singleCommentHeader {
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
}

.js-OldComments,
.js-commentFieldLabel,
.js-pmFieldLabel,
.js-singleCommentBody,
.js-singleCommentKarmaComMod,
.js-commentBodyLabel,
.js-commentCmtTextarea,
.js-commentAvatarArea,
.js-OldCommentsWrap,
.js-OldComments,
.js-CreateCommentFieldsWrap,
.js-CreateCommentFields,
.js-commentCmtTextarea,
.js-kit-comments div {
	clear: none !important;
}

.js-singleCommentText {
	display: block !important;
	clear: both !important;
}

.js-kit-comments br {
	display: none !important;
}

.js-singleCommentBody br {
	display: block !important;
}

/* @end */



/* @group RW5 Sitemap */

.rw-sitemap ul {
	margin: 0;
	padding: 0;
	list-style-type: disc;
	list-style-position: inside;
}

.rw-sitemap ul li {
	margin: 0 0 10px 0;
}

.rw-sitemap ul li:last-child {
	margin: 0;
}

.rw-sitemap ul li li {
	margin: 0 0 5px 0;
}

.rw-sitemap ul li li:last-child {
	margin: 0;
}

.rw-sitemap ul ul {
	padding: 0 0 0 20px;
	list-style-type: square;
}

.rw-sitemap ul ul ul {
	list-style-type: circle;
}

/* @end */