/* @group Basics */

body {
	margin: 0px;
	padding: 0px;
	font: 0.80em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #649936;
}

#logo img {
	position: relative;
	top: 10px;
}

b, strong {
	font-weight: bold;
}

a:link, a:visited {
	color: #e5e5e5;
	text-decoration: none;
}

table {
	
}

a:link, a:visited {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

a:hover, a:active {
	text-decoration: none;
	outline: none;
	font-weight: normal;
	font-style: normal;
}

blockquote, .standout {
	padding: 10px;
	margin: 0px;
}

dl {
	margin: 0px;
	padding: 0px;
}

dt {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

dd {
	margin-top: 0px;
	padding-top: 0px;
}

em {
	font-weight: bold;
	font-style: italic;
}

ins {
	
}

q {
	font-style: italic;
}

strike {
	color: red;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: -15px;
	line-height: 1.00em;
}

img {
	border-style: none;
}

.image-right {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

.image-left {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

#mainContainer {
	text-align: left;
	background-color: #649936;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

.clearer {
	clear: both;
}

.spacer {
	height: 15px;
}

/* @end */

/* @group Header */

#topContainer {
	display: block;
	position: absolute;
	height: 125px;
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
	background-color: #ffffff;
}

#headerContainer {
	height: 125px;
	display: block;
	position: relative;
	margin: 0;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	padding: 0;
}

#headerContainer h1 {
	position: relative;
	letter-spacing: -2px;
	text-transform: none;
	color: #649936;
	font: normal 5.00em/1.00em Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	display: block;
	margin: 0;
	width: 49%;
	float: left;
	padding: 50px 0 0;
}

#headerContainer h2 {
	position: relative;
	z-index: 100;
	text-decoration: none;
	color: #649936;
	margin: 0;
	display: block;
	float: right;
	width: 49%;
	text-align: right;
	padding: 95px 0 0;
	font: normal 1.00em/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group Content Container */

#contentContainer {
	z-index: 1;
	line-height: 1.5em;
	padding: 0px;
	background: #649936;
	margin-right: 260px;
}

#contentContainer #content {
	background-color: #527e2d;
	color: #e6e6e6;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.5em;
	padding: 15px;
	margin: 0;
}

/* @end */

/* @group Sidebar */

#sidebarContainer {
	position: relative;
	margin: 0px;
	width: 245px;
	float: right;
	z-index: 10;
	background: #649936;
}

#sidebarContainer #sidebar {
	line-height: 1.5em;
	color: #e6e6e6;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #527e2d;
	padding: 0 15px 15px;
}

#sidebarContainer .sideHeader {
	line-height: 1.5em;
	font-weight: bold;
	text-transform: uppercase;
	color: #e6e6e6;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #527e2d;
	margin-top: 15px;
	padding: 15px 15px 0;
}

/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navContainer {
	position: relative;
	text-align: left;
	text-decoration: none;
	padding-bottom: 5px;
	margin: 0;
	background-color: #527e2d;
	padding: 15px;
}

#navContainer .current {
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
}

#navContainer .currentAncestor {
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

/* Parent - Level 0 */

#navContainer ul {
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: black;
}

#navContainer li {
	display: block;
}

#navContainer a {
	display: inline;
	padding: 0;
	text-decoration: none;
	font-size: 100%;
	line-height: 1.50em;
}

#navContainer a:hover {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#navContainer .current {
	color: #b3b3b3;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#navContainer .current:hover {
	text-decoration: none;
}

/* Child - Level 1 */

#navContainer ul ul {
	display: block;
	padding-left: 20px;
}

#navContainer ul ul li {
	
}

#navContainer ul ul a {
	padding-top: 1px;
}

#navContainer ul ul a:hover {
	
}

#navContainer ul ul .current {
	text-decoration: none;
}

#navContainer ul ul .currentAncestor {
	text-decoration: none;
}

/* Child - Level 2 */

#navContainer ul ul ul {
	padding-left: 10px;
}

#navContainer ul ul ul li {
	
}

#navContainer ul ul ul li a {
	
}

#navContainer ul ul ul li a:hover {
	
}

#navContainer ul ul ul .current {
	text-decoration: none;
}

#navContainer ul ul ul ul {
	text-decoration: none;
}

/* @end */

/* @group Footer */

#footer {
	padding: 0;
	color: #507a2c;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background: #649936;
	margin: 0;
	line-height: 1.50em;
}

#footer p {
	color: #e6e6e6;
}

#footer a {
	text-decoration: none;
	color: #507a2c;
	font-weight: normal;
	font-style: normal;
}

#footer a:hover {
	text-decoration: underline;
}

#greenCredit {
	margin-bottom: 25px;
}

#greenCredit a {
	color: #5a8c31;
	text-decoration: none;
}

#greenCredit a:hover {
	color: #3c5f1f;
	text-decoration: underline;
}

/* @end */

/* @group Breadcrumb */

#breadcrumb {
	padding: 0;
	margin: 0;
	display: block;
	position: relative;
	line-height: 2.50em;
	color: #507a2c;
}

#breadcrumb ul {
	display: block;
	padding: 0;
	margin: 0;
}

#breadcrumb li {
	display: inline;
	padding: 0;
	margin: 0;
}

#breadcrumb a {
	color: #507a2c;
	text-decoration: none;
}

#breadcrumb a:hover {
	text-decoration: underline;
}

/* @end */



/* @group Lists */

#contentContainer #content ul {
	
}

#contentContainer #content li {
	
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */

#sidebarContainer #sidebar ul {
	padding: 0;
	margin: 0;
}

#sidebarContainer #sidebar li {
	padding: 0;
	margin: 0;
}

/* @end */

/* @group Blog */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Blog entries */

.blog-entry {
	padding-bottom: 15px;
}

.blog-entry-title {
	font-size: 1.75em;
	font-weight: normal;
	margin: 0px;
}

.blog-entry-title a {
	text-decoration: none;
}

.blog-entry-date {
	padding-bottom: 10px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
	padding-bottom: 20px;
}

.blog-entry-comments {
	margin: 0;
	padding: 0;
}

p.blog-entry-tags {
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	margin: 0;
	padding: 10px 0 0;
}

/*styles the category link in the main entry */

.blog-entry-category a {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	padding: 15px 0 0;
	margin: 0;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 10px;
	line-height: 2.00em;
	display: block;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
	display: block;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}

/* @end */

/* @group Filesharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: bold;
}

.filesharing-item-title a:hover {
	
}

.filesharing-item-title a:visited {
	
}

.filesharing-item-description {
	
}

/* @end */

/* @group Photo Album */

.album-title {
	font-weight: bold;
}

.album-description {
	margin-bottom: 30px;
}

.album-wrapper {
	display: block;
	width: auto;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	position: absolute;
	bottom: 0;
	left: 0;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	padding: 1px;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}

/* Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	background: #fff;
	padding: 15px;
}

.photo-links {
	padding-top: 15px;
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	border: 3px solid;
	padding: 1px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
	font: italic normal 1em Georgia, "Times New Roman", Times, serif;
}

/* Data wrapper */

.exif-data {
	clear: left;
	margin: 0 0 0 15px;
	padding: 0 15px 15px;
	float: left;
	width: 200px;
	background: #fff;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* p tag classes for all exif data */

p.exif-version {
	
}

p.exif-colour-space {
	
}

p.exif-focal-length {
	
}

p.exif-dimensions {
	
}

p.exif-pixel-y-dimension {
	
}

p.exif-pixel-x-dimension {
	
}

p.exif-oecf-value {
	
}

p.exif-subsec-time-original {
	
}

p.exif-exposure-mode {
	
}

p.exif-spatial-frequency-response {
	
}

p.exif-scene-capture-type {
	
}

p.exif-subject-location {
	
}

p.exif-shutter-speed {
	
}

p.exif-datetime-original {
	
}

p.exif-subsec-time {
	
}

p.exif-compressed-bits-per-pixel {
	
}

p.exif-flash-energy {
	
}

p.exif-saturation {
	
}

p.exif-brightness {
	
}

p.exif-exposure-time {
	
}

p.exif-f-number {
	
}

p.exif-file-source {
	
}

p.exif-gain-control {
	
}

p.exif-subject-area {
	
}

p.exif-cfa-pattern {
	
}

p.exif-scene-type {
	
}

p.exif-white-balance {
	
}

p.exif-flash {
	
}

p.exif-exposure-index {
	
}

p.exif-flashpix-version {
	
}

p.exif-device-setting-description {
	
}

p.exif-focalplane-x-resolution {
	
}

p.exif-image-uniqueid {
	
}

p.exif-components-configuration {
	
}

p.exif-light-source {
	
}

p.exif-sensing-method {
	
}

p.exif-aperture {
	
}

p.exif-sharpness {
	
}

p.exif-exposure-program {
	
}

p.exif-subject-distance {
	
}

p.exif-subsec-time-digitized {
	
}

p.exif-contrast {
	
}

p.exif-focalplane-resolution-unit {
	
}

p.exif-gamma {
	
}

p.exif-35mm-focal-length {
	
}

p.exif-datetime-digitized {
	
}

p.exif-subject-distance-range {
	
}

p.exif-custom-rendered {
	
}

p.exif-max-aperture {
	
}

p.exif-sound-file {
	
}

p.exif-metering-mode {
	
}

p.exif-spectral-sensitivity {
	
}

p.exif-exposure-bias {
	
}

p.exif-focalplane-y-resolution {
	
}

p.exif-iso-rating {
	
}

p.exif-maker-note {
	
}

p.exif-digital-zoom-ratio {
	
}

p.exif-user-comment {
	
}

/* @end */

/* @group Video */

.movie-description {
	
}

/* Quicktime Album Movie Thumbnail view */

.movie-page-title {
	font-weight: bold;
}

.movie-page-description {
	padding-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 132px;
	height: 132px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	border: 3px solid;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* Single Page (Movie View) */

.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.2em;
	letter-spacing: -1px;
	font-weight: normal;
	margin: 0;
}

.movie-frame {
	
}

/* @end */


/* @group Contact Form */

.message-text {
	
}

.required-text {
	
}

.form-input-field {
	border: none;
	font-size: 1.50em;
}

.form-input-button {
	
}

/* @end */