body {
	color: %colour_content_text%;
}

[class^="icon-"] {
 	color: %colour_fontawesome_icons%;
}

#siteTitle a {
	color: %colour_sitetitle_static%;
}

#siteTitle a:hover {
	color: %colour_sitetitle_hover%;
}

#siteSlogan {
	color: %colour_siteslogan%;
}

a:link {
	color: %colour_links_static%;
}

a:visited {
	color: %colour_links_visited%;
}

a:hover {
	color: %colour_links_hover%;
}

a:active {
	color: %colour_links_active%;
}

/* Prevent Bootstrap buttons inheriting link colours */
a:visited.btn {
	color: #333;
}

a:visited.btn-primary,
a:visited.btn-info,
a:visited.btn-success,
a:visited.btn-warning,
a:visited.btn-danger,
a:visited.btn-inverse {
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	color: %colour_headings%;
}