/*
Theme Name: Pixie
Theme URL: http://www.themeflood.com/
Description: A free theme for RapidWeaver
Author: Will Woodgate
Version: 1.0
First Released: 05/11/2012
Last Updated: 05/11/2012
License: Creative Commons Attribution-ShareAlike 3.0 Unported License
EULA: http://www.themeflood.com/eula.html
Documentation: http://www.themeflood.com/
*/

/* @group HTML Styles */

html {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	color: #545454;
	font-family: 'Open Sans', sans-serif;
	background: url(images/editable_images/dark-body.jpg) repeat;
	padding: 0;
	margin: 0;
}

br {
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

.image-left {
	float: left;
	margin: 5px;
	padding: 0;
	position: relative;
}

.image-right {
	float: right;
	margin: 5px;
	padding: 0;
	position: relative;
}

a img {
	border: none;
	outline: none;
}

a:link {
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
}

a:visited {
	text-decoration: underline;
}

a:hover {
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
	text-decoration: underline;
}

a:active {
	-webkit-transition: color .25s linear;
	transition: color .25s linear;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Kaushan Script', cursive;
}

.clearer {
	clear: both;
}

blockquote {
	
}

code {
	
}

hr {
	
}

.imageStyle {
	
}

#contentContainer #content ul,
#contentContainer #content ol,
#contentContainer #sidebar ul,
#contentContainer #sidebar ol {
	margin-left: 20px;
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* @end */

/* @group Layout */


/* @group Main */

#main {
	padding: 20px;
	margin: 20px auto;
	display: block;
	position: relative;
}

.width {
	max-width: 960px;
	margin: 0 auto;
}

/* @end */

/* @group Extra Content */

.ecName {
	display: none;
}

#extraContainer1 {
	position: relative;
	padding: 0;
	margin: 0;
	color: #ffffff;
}

#extraContainer2 {
	position: relative;
}

#extraContainer3 {
	position: relative;
}

#extraContainer4 {
	position: relative;
}

#extraContainer5 {
	position: relative;
	text-align: center;
}

/* @end */



/* @group Header */

#headerRegion {
	position: relative;
	height: 100px;
	display: block;
	background: url(images/editable_images/dark-header.jpg) repeat;
	overflow: hidden;
}

hgroup {
	display: block;
	position: relative;
}

h1#siteTitle {
	padding: 0;
	margin: 0;
	line-height: 1.00em;
}

h1#siteTitle a {
	text-decoration: none;
	font: 50px/100px 'Kaushan Script', cursive;
}

#siteTitle a:hover {
	text-decoration: none;
}

#siteSlogan {
	display: none;
}

/* @end */

/* @group Banner */

#banner {
	display: block;
	position: relative;
	height: auto;
	background: url(images/editable_images/dark-banner.jpg) repeat 0;
	padding: 25px;
	margin-top: 0px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

#banner img {
	max-width: 100%;
	height: auto;
}

#logo {
	position: absolute;
	top: 20px;
	left: 20px;
}

/* @end */

/* @group Horizontal Navigation */

#nav1 {
	display: block;
	position: absolute;
	top: 30px;
	right: 0;
	height: 40px;
}

#nav1 ul {
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;
}

#nav1 li {
	display: inline;
	float: left;
}

#nav1 li a {
	display: block;
	color: #999999;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 12px 10px;
}

#nav1 li a:hover {
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#nav1 .current,
#nav1 .currentAncestor {
	color: #ffffff;
}

#nav1 ul ul {
	display: none;
}

/* @end */



/* @group Vertical Navigation */

#nav2 {
	position: relative;
	padding-bottom: 15px;
}

#nav2 ul {
	display: inline;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#nav2 li {
	display: inline;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

#nav2 .current {
	text-decoration: none;
	font-weight: normal;
	color: #cdcdcd;
}

#nav2 .current:hover {
	text-decoration: none;
	font-weight: normal;
	cursor: default;
	color: #cdcdcd;
}

#nav2 .currentAncestor {
	text-decoration: none;
	font-weight: normal;
	color: #cdcdcd;
}

#nav2 .currentAncestor:hover {
	text-decoration: underline;
	font-weight: normal;
	color: #cdcdcd;
}

#nav2 a {
	display: none;
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 5px 0;
}

#nav2 a:hover {
	color: #ffffff;
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#nav2 ul li a {
	display: none;
	padding: 0;
	margin: 0;
}

#nav2 ul ul a {
	display: block;
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	padding: 5px 0;
}

#nav2 ul ul ul li a {
	padding-left: 20px;
	display: block;
}

#nav2 ul ul ul ul li a {
	padding-left: 40px;
	display: block;
}

#nav2 ul ul ul ul ul li a {
	padding-left: 60px;
	display: block;
}

#nav2 ul ul ul ul ul ul li a {
	padding-left: 80px;
	display: block;
}

#nav2 ul ul ul ul ul ul ul li a {
	padding-left: 100px;
	display: block;
}

/* @end */

/* @group Content */

#contentContainer {
	margin-top: 30px;
	margin-bottom: 30px;
}

#contentContainer #content {
	margin-right: 240px;
}

/* @end */

/* @group Sidebar */

#aside {
	display: block;
	position: relative;
	float: right;
	width: 200px;
}

#aside #sidebarTitle h3 {
	
}

#aside #sidebar,
#aside #pluginSidebar {
}

/* @end */

/* @group Search Function */

#siteSearch {
	display: none;
	position: relative;
	margin-bottom: 15px;
}

#searchField {
	display: block;
	width: 189px;
	margin: 0px;
	border: 1px solid #000000;
	color: #545454;
	padding: 5px;
}

#searchButton {
	background: #000000;
	color: #ffffff;
	float: right;
	border: none;
	margin: 0;
	padding: 5px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	font-size: 80%;
	margin-top: 1px;
	width: 75px;
	display: block;
	text-align: center;
}

/* @end */

/* @group Footer */

#footer {
	position: relative;
	display: block;
	border-top: 1px solid #191919;
	border-bottom: 1px solid #191919;
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

#footer #footerContent {
	text-align: center;
	display: block;
	position: relative;
	z-index: 10;
}

#footerTitle h5 {
	display: none;
	font-weight: bold;
	text-align: center;
	position: relative;
	z-index: 20;
}

#footerTitle h5 a,
#footerTitle h5 a:hover {
	color: #000000;
	text-decoration: none;
}

#lastUpdated {
	display: none;
	position: relative;
	text-align: center;
}

#pixWeaverFooterCredit {
	text-align: center;
}

/* @end */


/* @group Mobile Styles */

@media only screen and (max-width: 781px) {
	.width {
		max-width: auto;
	}
	
	#main {
		padding: 5px;
		margin: 5px;
	}
	
	#siteTitle {
		position: relative;
		padding: 0px;
		line-height: 1.00em;
		text-align: center;
		margin: 0;
		display: block;
	}
	
	#header {
		height: auto;
	}
	
	#nav1 {
    	display: none;
  	}
  	
  	#nav1 li {
  		float: none;
  	}
  	
  	#nav1 li a {
  		border-bottom: 1px solid #333;
  	}
  	
  	#nav2 a,
  	#nav2 ul li a {
  		display: block;
  		padding: 5px 0;
  	}
  	
  	#nav2 ul ul a {
  		padding-left: 25px;
  	}
  	
  	#aside {
  		float: none !important;
  		width: 100% !important;
  		margin-bottom: 10px;
  		padding-bottom: 10px;
  		border-bottom: 1px solid #191919;
  	}
  	
  	#contentContainer {
  		margin: 20px;
  	}
  	
  	#contentContainer #content {
  		margin: 0 !important;
  	}
  	
  	#breadcrumb {
  		display: none;
  	}
  	
  	#footer #footerContent {
  		text-align: center;
  	}
}

/* @end */

/* @end */

/* @group Blog */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Main Blog entries */

.blog-entry {
	padding-bottom: 40px;
	position: relative;
}

.blog-entry-title {
	font-size: 1.50em;
	line-height: 1.00em;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	line-height: 1.00em;
	margin-bottom: 20px;
}

.blog-read-more {
	display: block;
}

.blog-entry-body {
	
}

p.blog-entry-tags {
	line-height: 2.00em;
}

.blog-entry-comments {
	line-height: 2.00em;
}

/* Styles the category link/s in the main Blog entry */

.blog-entry-category a {
	
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 20px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	margin-bottom: 20px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 20px;
	display: block;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/icons/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/icons/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	display: block;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
	text-decoration: none;
}

.filesharing-item-title a:hover {
	font-weight: normal;
	text-decoration: none;
}

/* @end */

/* @group Flash */

#flashcontent {
	text-align: center;
}

/* @end */

/* @group Photo Album */

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* CSS Formatting for Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}



/* Styling Exif Data */

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Movie Page */

.movie-description {
	margin-top: 15px;
}

/* @end */

/* @group Movie Album */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* CSS formatting for Singular Quicktime Movies */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* @end */

/* @group Contact Form */

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: normal;
}

.form-input-field {
	font-size: 1.25em;
	width: 99%;
}

.form-input-button {
	font-size: 1.5em;
}

/* @end */



/* @group JS-Kit Override */

.js-singleCommentBodyT {
	display: block;
	margin: 0;
	padding: 17px 0 0;
}

.js-singleCommentHeader {
	margin-right: 10px;
	margin-left: 10px;
	padding: 0;
}

.js-OldComments,
.js-commentFieldLabel,
.js-pmFieldLabel,
.js-singleCommentBody,
.js-singleCommentKarmaComMod,
.js-commentBodyLabel,
.js-commentCmtTextarea,
.js-commentAvatarArea,
.js-OldCommentsWrap,
.js-OldComments,
.js-CreateCommentFieldsWrap,
.js-CreateCommentFields,
.js-commentCmtTextarea,
.js-kit-comments div {
	clear: none !important;
}

.js-singleCommentText {
	display: block !important;
	clear: both !important;
}

.js-kit-comments br {
	display: none !important;
}

.js-singleCommentBody br {
	display: block !important;
}

/* @end */



/* @group RW5 Sitemap */

.rw-sitemap ul {
	margin: 0;
	padding: 0;
	list-style-type: disc;
	list-style-position: inside;
}

.rw-sitemap ul li {
	margin: 0 0 10px 0;
}

.rw-sitemap ul li:last-child {
	margin: 0;
}

.rw-sitemap ul li li {
	margin: 0 0 5px 0;
}

.rw-sitemap ul li li:last-child {
	margin: 0;
}

.rw-sitemap ul ul {
	padding: 0 0 0 20px;
	list-style-type: square;
}

.rw-sitemap ul ul ul {
	list-style-type: circle;
}

/* @end */