/* @option user-selected misc. theme setting */

.ecName {
	display: inline;
	color: #ff0000;
}

#extraContainer1 {
	display: block;
	border: 2px solid red;
	background: url(../../images/misc/extra_content_preview.png) repeat;
}

#extraContainer2 {
	display: block;
	border: 2px solid red;
	background: url(../../images/misc/extra_content_preview.png) repeat;
}

#extraContainer3 {
	display: block;
	border: 2px solid red;
	background: url(../../images/misc/extra_content_preview.png) repeat;
}

#extraContainer4 {
	display: block;
	border: 2px solid red;
	background: url(../../images/misc/extra_content_preview.png) repeat;
}

#extraContainer5 {
	display: block;
	border: 2px solid red;
	background: url(../../images/misc/extra_content_preview.png) repeat;
}

#extraContainer6 {
	display: block;
	border: 2px solid red;
	background: url(../../images/misc/extra_content_preview.png) repeat;
}

#extraContainer7 {
	display: block;
	border: 2px solid red;
	background: url(../../images/misc/extra_content_preview.png) repeat;
}

#extraContainer8 {
	display: block;
	border: 2px solid red;
	background: url(../../images/misc/extra_content_preview.png) repeat;
}