/* @option theme colour settings */

body {
	color: %colour_content_text%;
	background: %colour_body_bg%;
}

a {
	color: %colour_links_static%;
}

a:visited {
	color: %colour_links_visited%;
}

a:hover {
	color: %colour_links_hover%;
} 

a:active {
	color: %colour_links_active%;
}

/* Prevent Bootstrap buttons inheriting link colours */
a:visited.btn {
	color: #333;
}

a:visited.btn-primary,
a:visited.btn-info,
a:visited.btn-success,
a:visited.btn-warning,
a:visited.btn-danger,
a:visited.btn-inverse {
	color: #fff;
}

#pageHeader h1 {
	color: %colour_site_title%;
}

#pageHeader h2 {
	color: %colour_site_slogan%;
}