/* Define styles that are to be used for printing here */

#image, nav, #breadcrumbcontainer {
	display: none;
}

p a {
	word-wrap: break-word;
}

a {
	color: #000;
}

@page {
	margin: 0.5cm;
}

#contentContainer {
	margin-left: 0px;
}

#sidebarContainer {
	width: auto;
	float: none;
}

a:after {
	content: " (" attr(href) ")";
	font-size: 80%;
}