/* @group Global HTML */

body {
	padding: 0;
	color: #333;
	line-height: 1.5em;
	font-family: Arial, Helvetica, Geneva, sans-serif;
	margin: 30px;
	background: #ffffff;
	font-size: 80%;
}

a {
	color: #6699cc;
	text-decoration: none;
}

a:visited {
	color: #6699cc;
	text-decoration: none;
}

a:hover {
	color: #6699cc;
	text-decoration: underline;
}

a:active {
	text-decoration: none;
}

img {
	border-style: none;
	max-width: none;
}

.image-left {
	float: left;
	position: relative;
	padding: 0;
	margin: 10px;
}

.image-right {
	float: right;
	position: relative;
	padding: 0;
	margin: 10px;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	padding: 4px 10px 4px;
	font-size: 13px;
	line-height: 18px;
	color: #333333;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background-color: #fafafa;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), color-stop(25%, #ffffff), to(#e6e6e6));
	background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -moz-linear-gradient(top, #ffffff, #ffffff 25%, #e6e6e6);
	background-image: -ms-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: -o-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-image: linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
	background-repeat: no-repeat;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
	border: 1px solid #ccc;
	border-bottom-color: #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
 	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	*margin-left: .3em;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #333333;
	text-decoration: none;
	background-color: #e6e6e6;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	transition: background-position 0.1s linear;
}

button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.xsmall {
	font-size: 8px;
}

.small { 
	font-size: 10px;
}

.medium {
	font-size: 14px;
}

.large {
	font-size: 18px;
}

.xlarge {
	font-size: 24px;
}

.xxlarge {
	font-size: 48px;
}

/* @end */

/* @group Bootstrap Resets */

.carousel-control,
.carousel-control a {
	text-decoration: none;
	font: 100 60px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* Prevent buttons and tabs being underlined */
a.close,
a.accordion-toggle,
.nav a {
	text-decoration: none;
}

hr {
	border-bottom: none;
}

.badge,
.btn,
.label {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

/* @end */

/* @group FreeStyle and ExtraContent Functionality */

/*
Hide FreeStyle and ExtraContent containers, unless they are in their designated placeholders and the page is read. It's advisable to use this HTML code in your theme index.html file, so that users with no Javascript support can still see the content:

<noscript><style type="text/css">#contentWrapper #fs, #sidebar #fs, #contentWrapper div[id*='myExtraContent'], #sidebar div[id*='myExtraContent'] {display: block;}</style></noscript>

*/

#content #fs,
#sidebar #fs,
#content div[id*='myExtraContent'],
#sidebar div[id*='myExtraContent'] {
	display: none;
}

/* @end */

/* @group Layout */

#container {
	max-width: 940px;
	margin: 10px auto;
}

.clearer {
	clear: both;
}

#pageHeader {
	padding: 10px 0;
}

#pageHeader h1 {
	margin: 0 0 5px;
	padding: 0;
	color: #6699cc;
	text-decoration: none;
	font: normal normal 2.00em/1.00em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-transform: uppercase;
}

#pageHeader h2 {
	margin: 0;
	color: #4c4c4c;
	line-height: 1.00em;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	font-size: 100%;
}

#contentContainer {
	margin-left: 320px;
}

#contentContainer #content {
	padding: 0;
	color: #4c4c4c;
	font-weight: normal;
}

#sidebarContainer {
	width: 300px;
	float: left;
}

#image {
	width: 300px;
	height: 200px;
	position: relative;
}

#sidebarContainer #sidebar {
	padding: 0;
	font-weight: normal;
	margin: 5px 0 0;
}

#sidebarContainer .sideHeader {
	border-bottom: 1px solid #4c4c4c;
	padding: 0;
	margin: 20px 0 0;
	font-size: 100%;
	text-transform: uppercase;
	color: #4c4c4c;
	font-weight: bold;
	letter-spacing: 2px;
	line-height: 1.25em;
}

#footer {
	font-size: 90%;
	text-align: left;
	padding: 0;
	border-top: 1px solid #4c4c4c;
	margin: 20px 0 0;
}

#footer p {
}

#footer a:link, #footer a:visited {
}

#footer a:hover, #footer a:active {
}
	
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	margin: 15px 0 0;
	padding: 0;
}

#breadcrumbcontainer ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#breadcrumbcontainer li {
	display: inline;
	margin: 0;
	padding: 0;
}

#breadcrumbcontainer a {
}

#breadcrumbcontainer a:hover {
}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navigation {
	border-bottom: 1px solid #4c4c4c;
	padding: 0;
	margin: 20px 0 0;
	text-transform: uppercase;
	color: #4c4c4c;
	font-weight: bold;
	letter-spacing: 2px;
}

#navcontainer {
	padding: 0;
	margin: 20px 0 0;
}

#navcontainer #current {
	color: #4c4c4c;
}

#navcontainer #current:hover {
}

#navcontainer .currentAncestor {
}

/* Parent - Level 0 */

#navcontainer ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#navcontainer li {
}

#navcontainer ul a {
	display: inline;
	color: #6699cc;
	text-decoration: none;
	margin-bottom: 2px;
	padding: 5px 0;
}

#navcontainer ul a:hover {
	color: #4c4c4c;
}

#navcontainer ul a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
	padding-left: 20px;
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
}

#navcontainer ul ul .currentAncestor {
}

/* Child - Level 2 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a{
}

#navcontainer ul ul ul a:hover{
}

#navcontainer ul ul ul #current{
}

#navcontainer ul ul ul .currentAncestor {
}
/* Child Level 3 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a{
}

#navcontainer ul ul ul ul a:hover{
}

/* Child Level 4 */

#navcontainer ul ul ul ul {
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul a:hover{
}

/* Child Level 5 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a{
}

#navcontainer ul ul ul ul ul ul a:hover{
}

/* @end */


/* @group Blog */

/* @group Archive Page */

.blog-archive-background {
	
}

.blog-archive-headings-wrapper {
	
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-month {
	border-bottom: 1px solid #4c4c4c;
	padding: 0;
	margin: 0;
	font-size: 100%;
	text-transform: uppercase;
	color: #4c4c4c;
	font-weight: bold;
	letter-spacing: 2px;
}

.blog-archive-link {
	padding-bottom: 10px;
	text-decoration: none;
}

/* @end */

/* @group Tag Cloud */

ul.blog-tag-cloud {
	margin: 0 0 10px;
	padding: 0;
	text-align: justify;
	margin-top: 20px;
	background: url(images/tag.png) no-repeat;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* @end */

.blog-entry {
	
}

.blog-permalink {
	
}

.blog-entry-permalink {
	background: no-repeat left center url(images/permalink.png);
}

.blog-entry-title {
		border-bottom: 1px solid #4c4c4c;
	padding: 0;
	margin: 0;
	font-size: 100%;
	text-transform: uppercase;
	color: #4c4c4c;
	font-weight: bold;
	letter-spacing: 2px;
}

.blog-entry-date {
	padding-bottom: 5px;
}

.blog-read-more {
	display: block;
	padding-top: 10px;
	font-style: italic;
}

.blog-entry-author {
	padding-top: 0px;
	text-align: left;
	padding-left: 10px;
	margin-top: -30px;
}

.blog-entry-category {
	text-align: left;
}

.blog-entry-tags {

}

.blog-category-link-enabled {
	padding: 0;
	text-align: left;
}

.blog-category-link-disabled {
	padding: 0;
}

.blog-entry-body {
	margin-bottom: 25px;
	padding: 0px;
}

.blog-entry-comments {
	margin: 0;
}

.blog-archive-link-enabled {
}

.blog-archive-link-disabled {
}

.blog-rss-link {
}

.blog-comments-rss-link {
}

a[href^="javascript:HaloScan"] {
}

a[href^="javascript:HaloScanTB"] {
;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	font-size: 20px;
	padding-bottom: 10px;
}

.filesharing-item {
	
}

.filesharing-item-title a:link {
	
}

.filesharing-item-title a:hover {
	
}

.filesharing-item-title a:visited {
	
}

.filesharing-item-description {
	
}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	border-bottom: 1px solid #4c4c4c;
	padding: 0;
	margin: 0;
	font-size: 100%;
	text-transform: uppercase;
	color: #4c4c4c;
	font-weight: bold;
	letter-spacing: 2px;
}

.album-description {
	margin-bottom: 15px;
	margin-top: 5px;
}

.album-wrap {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 65px;
	margin-right: 25px;
	display: block;
	text-decoration: none;
}

.thumbnail-table {
	width: 70%;
}

.thumbnail-frame {
	
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	
}

.thumbnail-frame img {
	border: none;
}

.thumbnail-caption {
	
}

/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	margin: 10px;
	width: 900px;
}

.photo-navigation {
	margin-bottom: 10px;
	padding: 10px 10px 5px;
	text-align: left;
	text-decoration: none;
}

.photo-navigation a:link, .photo-navigation a:visited {
	text-decoration: none;
}

.photo-navigation a:hover {
}

.photo-frame {
	background: #f8f8f8 center center;
	padding: 5px;
	margin-top: 30px;
}

.photo-links {
	
}

.photo-title {
	border-bottom: 1px solid #4c4c4c;
	padding: 0;
	margin: 0;
	font-size: 100%;
	text-transform: uppercase;
	color: #4c4c4c;
	font-weight: bold;
	letter-spacing: 2px;
}

.photo-caption {
	
}

/* @end */

/* @end */

/* @group Quicktime Page */

.movie-description {
	
}

/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	border-bottom: 1px solid #4c4c4c;
	padding: 0;
	margin: 0;
	font-size: 100%;
	text-transform: uppercase;
	color: #4c4c4c;
	font-weight: bold;
	letter-spacing: 2px;
}

.movie-page-description {
	margin-bottom: 15px;
	margin-top: 5px;
}

.movie-thumbnail-frame {
	width: 132px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

.movie-thumbnail-caption {
	
}

/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.5em;
}

.movie-frame {
	
}

/* @end */

/* @end */

/* @group Contact Form */

.message-text {
	
}

.required-text {
}

.form-input-field {
	
}

.form-input-button {
	
}

/* @end */

@media screen and (max-width: 700px) {
	#contentContainer {
		margin-left: 0px;
	}
	
	#sidebarContainer {
		width: auto;
		float: none;
	}
}