.ecName {
	display: inline;
	color: #ff0000;
}

#extraContainer1 {
	display: block;
	border: 2px solid red;
}

#extraContainer2 {
	border: 2px solid red;
	display: block;
}

#extraContainer3 {
	display: block;
	border: 2px solid red;
}

#extraContainer4 {
	display: block;
	border: 2px solid red;
}

#extraContainer5 {
	display: block;
	border: 2px solid red;
}

#extraContainer6 {
	display: block;
	border: 2px solid red;
}