/* @option user-selected miscellaneous theme setting */

#headerContainer,
#footerContainer,
#aside {
	display: none;
}

#content,
#contentWrapper {
	background: transparent;
	border: none;
	text-align: center;
	margin: 0;
}

#contentContainer {
	margin-left: 0;
	margin-right: 0;
}