body {
	background: #333333 url(../../images/stripe_light.png) repeat;
}

#shadow {
	background: none;
}

#pageHeader {
	border-right: none;
}


#container #content {
	border-right: 1px solid #cccccc;
}

#footerContainer {
	border-right: none;
}
