/* 
A free RapidWeaver theme designed and developed by Will Woodgate
Visit http://www.themeflood.com
This theme is released under the Creative Commons Attribution-Share Alike 3.0 Unported Licence
 */

/* @group Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

:focus {
	outline: 0;
}

body {
	line-height: 1;
	color: black;
	background: white;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* @end */

/* @group Inline Images */

img {
	border-style: none;
}

.image-left {
	float: left;
	padding: 10px;
}

.image-right {
	float: right;
	padding: 10px;
}

/* @end */

/* @group Links */

a:link,
a:visited {
	text-decoration: none;
	font-weight: normal;
	color: #fc8017;
}

a:hover,
a:active {
	text-decoration: underline;
	font-weight: normal;
	color: #fc8017;
}

/* @end */

/* @group Headers */

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.00em;
}

/* @end */

/* @group Lists */

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* @end */

/* @group Layout */

body {
	background-color: #191919;
}

.clearer {
	clear: both;
}

#main {
	width: 900px;
	display: block;
	position: relative;
	margin: 0 auto;
}

#head {
	padding-top: 20px;
	display: block;
	position: relative;
}

#siteTitle h1 {
	color: #e6e6e6;
	font: 250% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-shadow: #000 1px 1px 1px;
}

#nav1 {
	display: block;
	position: absolute;
	top: 20px;
	right: -15px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
}

#nav1 ul {
	display: inline;
}

#nav1 ul a {
	color: #ffffff;
	padding-left: 15px;
	line-height: 3.00em;
	padding-right: 15px;
}

#nav1 ul li {
	display: inline;
	float: left;
}

#nav1 ul ul a {
	display: none;
}

#header {
	display: block;
	position: relative;
	height: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(images/editable_images/header_bg.jpg) right center;
}

#siteSlogan {
	font: italic 200% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	position: absolute;
	top: 50px;
	left: 50px;
	color: #fff;
	text-shadow: #000 1px 1px 1px;
}

#main #content {
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #e6e6e6;
	margin-right: 260px;
	padding: 0 20px 20px 0;
}

#main #sidebar {
	display: block;
	width: 220px;
	background-color: #121212;
	float: right;
	font: 80% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #e6e6e6;
	padding: 20px;
}

#nav2 {
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
}

#nav2 ul a {
	display: none;
}

#nav2 ul ul {
	margin-bottom: 20px;
	margin-top: 0;
	padding: 0;
}

#nav2 ul ul a {
	display: inline;
	line-height: 1.50em;
}

#sidebar h3 {
	font-weight: bold;
	padding-bottom: 3px;
}

#footerContainer {
	display: block;
	position: relative;
	background-color: #121212;
	color: #e6e6e6;
	font: 70% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	height: 3.50em;
}

#footer {
	display: inline;
	position: absolute;
	right: 20px;
	top: 12px;
	text-align: right;
}

#attributionTag {
	text-align: left;
	display: block;
	font-size: 70%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#attributionTag a {
	color: #2e2e2e;
}

#attributionTag a:hover {
	color: #5e5e5e;
	text-decoration: underline;
}

#breadcrumb {
	position: absolute;
	top: 12px;
	left: 20px;
}

#breadcrumb li {
	display: inline;
}

#breadcrumb a {
	color: #ffffff;
}

/* @end */



/* @group Blog */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Main Blog entries */

.blog-entry {
	padding-bottom: 20px;
}

.blog-entry-title {
	font-size: 1.25em;
	line-height: 1.00em;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	font-size: 0.75em;
	line-height: 1.00em;
	padding-bottom: 10px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
	
}

.blog-entry-comments {
	
}

p.blog-entry-tags {
	font-style: italic;
}

/* Styles the category link/s in the main Blog entry */

.blog-entry-category a {
	font-weight: bold;
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 10px;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
	text-decoration: none;
}

.filesharing-item-title a:hover {
	font-weight: normal;
	text-decoration: none;
}

/* @end */

/* @group Flash */

#flashcontent {
	text-align: center;
}

/* @end */

/* @group Photo Album */

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* CSS Formatting for Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}



/* Styling Exif Data */

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Movie Page */

.movie-description {
	margin-top: 15px;
}

/* @end */

/* @group Movie Album */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* CSS formatting for Singular Quicktime Movies */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* @end */

/* @group Contact Form */

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: normal;
}

.form-input-field {
	font-size: 1.25em;
	width: 99%;
}

.form-input-button {
	font-size: 1.5em;
}

/* @end */