body {
	font-family: Arial Black, Monaco, Courier, monospace;
	background: none;
	font-size: 1.10em;
	margin: 15px;
	padding: 0px;
}

#logo img {
	position: relative;
	top: 10px;
}

b, strong {
	font-weight: bold;
}

a:link, a:visited {
	color: #0000cc;
	text-decoration: none;
}

table {
	
}

a:hover, a:active {
	text-decoration: underline;
}

blockquote, .standout { 
	padding: 10px;
	margin: 0px;
}

dl {
	margin: 0px;
	padding: 0px;
}

dt {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

dd {
	margin-top: 0px;
	padding-top: 0px;
}

em {
	font-weight: bold;
	font-style: italic;
}

ins {	
}

q {
	font-style: italic;
}

strike {
	color: red;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	line-height: 1.00em;
}

img {
	border-style: none;
}

.image-right {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

.image-left {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

/*
This section of the styles.css file focuses on the various containers and dividers which make up each RapidWeaver theme. They are listed more-or-less in order of appearance starting with the main content container, working down through to the footer. Please note that because this theme uses split navigation, there are two separate navigation containers - one called 'headerMenu' and a second called 'navcontainer'.
*/

#mainContainer {
	margin: 0px auto; /* This code kills some gremlins in Internet Explorer */
	text-align: left; /* As too does this line of code */
	width: auto;
}

#screenTitle {
	position: relative;
	width: 45%;
	float: left;
	text-align: left;
	padding-bottom: 5px; 
}

#clockbox {
	position : relative;
	width: 45%;
	float: right;
	text-align: right;
	padding-bottom: 5px; 
}

.clearer {
	clear: both;
}

#headerContainer {
	height: auto;
	display: block;
	position: relative;
	height: auto;
}

#headerContainer h1 {
	display: block;
	margin: 0 0 0 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 3.50em;
	font-weight: bold;
	text-transform: uppercase;
	position: relative;
	height: auto;
	text-align: center;
}

.spacer {
	height: 30px;
}

#subHeading {
	height: auto;
	display: block;
	position: relative;
}

#subHeading h2 {
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 0px;
	font-size: 1.50em;
	font-weight: normal;
	position: relative;
	height: auto;
}
	
#contentContainer {
	background-repeat: repeat-y;
	position: relative;
	z-index: 10;
	line-height: 1.75em;
	padding: 0px;
}

#contentContainer #content {
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin: 0px;
}

#sidebarContainer {
position : relative;
margin: 0px;
}

#sidebarContainer #sidebar {
line-height : 1.5em;
padding-left: 10px;
padding-right: 10px;
}

#sidebarContainer .sideHeader {
line-height : 1.5em;
font-weight : bold;
padding-left: 10px;
padding-right: 10px;
}

/* Secondry navigation links*/
/* Nest Level 1 and general settings*/
#navcontainer {
	line-height: 2em;
	margin-top: 25px;
	margin-bottom: 10px;
	text-decoration: none;
}

#navcontainer #current {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
	height: 2.00em;
}

#navcontainer #current:hover {
	text-decoration: none;
}

#navcontainer .currentAncestor {
	color: #666666;
	font-weight: bold;
	text-decoration: none;
}

/* Parent - Level 0 */

#navcontainer ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

#navcontainer li {
}

#navcontainer a {
	display: block;
	color: #999999;	
	text-decoration: none;
	padding-left: 10px;
	height: 2.00em;
}

#navcontainer a:hover {
	color: #0000cc;
	border-bottom: none;
	text-decoration: none;
}

#navcontainer a:active {
}

/* Child - Level 1 */

#navcontainer ul ul {
	padding-left: 15px;
	padding-right: 15px;
}

#navcontainer ul ul li {
}

#navcontainer ul ul a {
	height: 2.00em;
}

#navcontainer ul ul a:hover{
}

#navcontainer ul ul #current{
	color: #999999;
}

#navcontainer ul ul .currentAncestor {
	color: #999999;
	font-weight: bold;
}

/* Child - Level 2 */

#navcontainer ul ul ul {
	padding-left: 25px;
	padding-right: 25px;
}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a {
	height: 2.00em;
}

#navcontainer ul ul ul a:hover{

}

#navcontainer ul ul #current{
	color: #999999;
}

#navcontainer ul ul .currentAncestor {
	color: #999999;
	font-weight: bold;
}

/* Child Level 3 */

#navcontainer ul ul ul {
	padding-left: 35px;
	padding-right: 35px;
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a {
	height: 2.00em;
}

#navcontainer ul ul ul ul a:hover{

}

/* Child Level 4 */

#navcontainer ul ul ul ul {
	padding-left: 45px;
	padding-right: 45px;
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a {
	height: 2.00em;
}

#navcontainer ul ul ul ul ul a:hover{

}

/* Child Level 5 */

#navcontainer ul ul ul ul ul {
	padding-left: 55px;
	pading-right: 55px;
}

#navcontainer ul ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul ul a {
	height: 2.00em;
}

#navcontainer ul ul ul ul ul ul a:hover{

}

#footerContainer {
	position: relative;
	width: 100%;
	float: left;
	text-align: left; 
}

#footer {
	position: relative;
	width: 45%;
	float: left;
	text-align: left;
	padding-bottom: 0px;
	padding-top: 10px;
	padding-left: 10px; 
}

#breadcrumbcontainer {
	position : relative;
	width: 45%;
	float: right;
	text-align: right;
	list-style: none;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0 0 10px 0;
	padding-top: 10px;
	padding-bottom: 0px;
	padding-right: 10px;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
}

#breadcrumbcontainer a:hover {
}
	





/*
This section of the styles.css file focuses on the various RapidWeaver pages styles such as File sharing, Blogs, Photo Albums, Video Albums and Contact pages.*/

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}
/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}


/* Blog page style */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 15px;
}
.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
}.blog-archive-link a:link, .blog-archive-link a:visited {
}

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* Blog entries */

.blog-entry {
	padding-bottom: 15px;
}

.blog-entry-title {
	font-size: 1.75em;
	font-weight: normal;
	margin: 0px;
}

.blog-entry-title a {
	text-decoration: none;
}

.blog-entry-date {
	padding-bottom: 15px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
}

.blog-entry-comments {
}

p.blog-entry-tags {
	font-style: italic;
}

/*styles the category link in the main entry */
.blog-entry-category a {
	font-style: bold;
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	padding: 10px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 10px;
	line-height: 2.00em;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

/* File sharing page style */
.filesharing-description {
}

.filesharing-item {
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: bold;
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {

}

.filesharing-item-description {
}

/* Photo Album (Thumbnail view) */
.album-title {
	font-weight: bold;
}

.album-description {
	margin-bottom: 30px;
}


.album-wrapper {
	display: block;
	width: auto;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	padding: 1px;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}

/* Single Page (Photo view) */
.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	background: #fff;
	padding: 15px;
}

.photo-links {
	padding-top: 15px;
}

.photo-navigation a:link,
.photo-navigation a:visited {
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	border: 3px solid;
	padding: 1px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
	font: italic normal 1em Georgia, "Times New Roman", Times, serif;
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
	clear: left;
	margin: 0 0 0 15px;
	padding: 0 15px 15px;
	float: left;
	width: 200px;
	background: #fff;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}

/* Full Size Quicktime Video Page */
.movie-description {
}
	
/* Quicktime Album Movie Thumbnail view */
.movie-page-title {
	font-weight: bold;
}.movie-page-description {
	padding-bottom: 15px;
}.movie-thumbnail-frame {
	width: 132px;
	height: 132px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-frame img {
	padding: 1px;
	border: 3px solid;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
}
	
/* Single Page (Movie View) */
.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.2em;
	letter-spacing: -1px;
	font-weight: normal;
	margin: 0;
}

.movie-frame {
}

/* Contact Form Page style*/
.message-text { 
} 

.required-text {
} 

.form-input-field {
	border: none;
	font-size: 1.50em;
} 

.form-input-button { 
} 