/* @group General Styles */

body {
	background: #333333 url(images/stripe_dark.png) repeat;
	color: #eeeeee;
	text-align: center;
	margin: 0px;
	font: 90% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p { 
}

b, strong {
	color: #444444;
	font-size: 14px;
	margin-bottom: 8px;
	font-weight: bold;
}

strong {
	color: #999999;
	font-size: 20px;
	margin-bottom: 8px;
	font-weight: normal;
}

a:link { 
	text-decoration: underline; 
	color: #6699cc;
	font-weight: normal;
	font-style: normal;
}

a:visited { 
	text-decoration: none; 
	color: #6699cc;
	font-weight: normal;
	font-style: normal;
}

a:hover, a:active { 
	text-decoration: none; 
	color: #6699cc;
	font-weight: normal;
	font-style: normal;
}

h1 {
		font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
		font-size: 1.6em;
		color: #000000;
		text-transform: uppercase;
	}

h2 {
		font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
		font-size: 1.4em;
		color: #000000;
		text-transform: uppercase;	
	}

h3 {
		font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
		font-size: 1.2em;
		color: #000000;
		text-transform: uppercase;
	}

h4 {
		font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
		font-size: 1.0em;
		color: #000000;
		text-transform: uppercase;
	}

h5 {
		font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
		font-size: 0.8em;
		color: #000000;
		text-transform: uppercase;
	}

h6 {
		font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
		font-size: 0.6em;
		color: #000000;
		text-transform: uppercase;
	}

hr {
		border: none;
		height: 1px;
		background: #999;
	}

.image-left {
	margin: 3px;
	padding: 3px;
	float: left;
	position: relative;
}

.image-right {
	margin: 3px;
	padding: 3px;
	float: right;
	position: relative;
}

img {
	border-style: none;
}

.clearer {
	clear: both;
}
	
/* @end */

/* @group Layout */

#container { 
	text-align: left;
	font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
}

#shadow {
	background: transparent url(images/shadow.png) repeat-y right;
}

#grid {
	height: 200px;
	width: 180px;
	background: url(images/grid_bg.jpg) no-repeat;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}

#pageHeader {
	background: #000 url(images/header.png) repeat-x right bottom;
	height: 200px;
	font-family: Arial, Helvetica, Verdana, "Lucida Grande", Lucida, sans-serif;
	margin-right: 230px;
	display: block;
	padding: 0;
	margin-left: 0;
	
}

#pageHeader img {
	float: right;
	margin-left: 10px;
}

#pageHeader h1 {
	color: #333;
	text-transform: none;
	margin: 0px 0px 0px 180px;
	text-align: right;
	padding: 20px 10px 0px 0px;
	position: relative;
	text-decoration: none;
	text-shadow: #212121 1px 1px 1px;
	font: bold 2.75em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	
}

#pageHeader h2 {
	color: #333;
	text-transform: none;
	margin: 0px 0px 0px 180px;
	text-align: right;
	padding: 5px 10px 0px 0px;
	text-decoration: none;
	text-shadow: #212121 1px 1px 1px;
	font: normal normal 1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#container #content {
	background: #ffffff;
	margin-right: 230px;
	padding: 10px;
	color: #555555;
	border-right: 2px solid #ffffff;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.50em;
}

#sidebar {
	float: right;
	width: 230px;
	background: transparent;
}

#sidebarTitle {
	color: #000000;
	padding-left: 25px;
	padding-top: 15px;
}

#sidebarContent {
	color: #666666;
	padding-left: 25px;
}

#container #sidebar #sidecontent {
	color: #999999;
	padding: 10px 20px 10px 20px;
}

#footerContainer {
	margin-right: 230px;
	padding: 10px;
	text-align: left;
	font-size: 14px;
	height: 1.00em;
	background-color: #000000;
	border-right: 2px solid #000000;
	position: relative;
}

#footer {
	display: inline;
	float: left;
}

#footer a {
	color: #929292;
	text-decoration: none;
	display: inline;
	font-weight: normal;
	font-style: normal;
}

#footer a:hover {
	color: #ffffff;
	text-decoration: underline;
	background: none;
	font-weight: normal;
	font-style: normal;
}

#gridcred {
	position: relative;
	display: inline;
	padding-left: 10px;
}

#gridcred a {
	color: #212121;
	text-decoration: none;
}

#gridcred a:hover {
	color: #929292;
	text-decoration: none;
}
	
/* @end */

/* @group Bread-crumb */

#breadcrumbcontainer {
	text-align: right;
	font-size: 12px;
	display: inline;
	float: right;
	position: absolute;
	right: 10px;
	border-bottom: 5px;
}

#breadcrumbcontainer ul {
	margin: 0px;
	padding: 0px;
	display: inline;
	list-style: none;
}

#breadcrumbcontainer li {
	padding: 0px;
	display: inline;
}

#breadcrumbcontainer a {
	color: #929292;
	text-decoration: none;
}

#breadcrumbcontainer a:hover {
	text-decoration: underline;
	color: #ffffff;
}
	
/* @end */

/* @group Toolbar */

/* Toolbar Styles */

#navcontainer {
	margin-left: 13px;
	margin-top: 10px;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#navcontainer #current {
	color: #000000;
}

/* Parent - Level 0 */

#navcontainer ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#navcontainer li { 
	display: inline;
}

#navcontainer a {
	display: block;
	color: #999999;
	font-size: 1.00em;
	font-weight: bold;
	text-transform: none;
	text-decoration: none;
	padding: 10px;
}

#navcontainer a:hover {
	color: #000000;
}

/* Child - Level 1 */

#navcontainer ul ul {
}

#navcontainer ul ul li { 
}

#navcontainer ul ul a {
	padding: 5px 10px 5px 20px;
	margin-bottom: 5px;
	color: #999999;
}

#navcontainer ul ul a:hover {
}

/* Child - Level 2 */

#navcontainer ul ul ul {
}

#navcontainer ul ul ul li { 
}

#navcontainer ul ul ul a {
	padding-left: 30px;
	color: #999999;
}

#navcontainer ul ul ul a:hover {
}

/* Child Level 3 */

#navcontainer ul ul ul ul {
}

#navcontainer ul ul ul ul li { 
}

#navcontainer ul ul ul ul a {
	padding-left: 40px;
	color: #999999;
}

#navcontainer ul ul ul ul a:hover {
}

/* Child Level 4 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a {
	padding-left: 50px;
	color: #999999;
}

#navcontainer ul ul ul ul ul a:hover {
}

/* Child Level 5 */

#navcontainer ul ul ul ul ul {
}

#navcontainer ul ul ul ul ul li { 
}

#navcontainer ul ul ul ul ul a {
	padding-left: 60px;
	color: #999999;
}

#navcontainer ul ul ul ul ul a:hover {
}
	
/* @end */

/* @group Global Classes */

.standout, blockquote {
	float: right;
	background: #336699;
	font-size: 20px;
	color: #ffffff;
	line-height: 28px;
	font-style: italic;
	width: 200px;
	margin: 5px;
	padding: 10px;
}

.imageStyle {
	padding: 4px;
	background: #eeeeee;
	border: 1px solid #dddddd;
}
	
/* @end */



/* @group Blog */

/* @group Archive Page */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 15px;
}
.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
}.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/* @end */

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px 10px 0px 30px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* @end */

.blog-entry {
	padding-bottom: 30px;
}

.blog-entry-title {
	font-size: 1.5em;
	font-weight: normal;
	margin: 0px 0px 0;
	line-height: 1.00em;
	text-transform: none;
	padding: 0;
}

.blog-entry-title a {
	text-decoration: none;
}

.blog-entry-date {
	font-size: 1.0em;
	margin-bottom: 15px;
}

.blog-read-more {
	display: block;
	padding-top: 15px;
}

.blog-entry-body {
	margin-bottom: 15px;
}

.blog-entry-comments {
	margin: 0;
	padding: 0;
	line-height: 1.50em;
}

p.blog-entry-tags {
	padding: 0;
	margin: 0;
	line-height: 1.50em;
}

/*styles the category link in the main entry */
.blog-entry-category a {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	padding: 15px 10px 15px 30px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 10px;
	padding-left: 30px;
	padding-right: 10px;
	padding-top: 15px;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
	display: block;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	display: block;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
	border-top: 1px solid #999999;
	border-bottom: 1px solid #999999;
	padding: 5px;
}

.filesharing-item {
}

.filesharing-item-title {
	padding: 5px;
	background: #eeeeee;
}

.filesharing-item-description {
	padding: 0px 10px 5px 10px;
	color: #333333;
	font-size: 12px;
	font-style: italic;
	background: #eeeeee;
}

/* @end */



/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 15px;
	margin-top: 5px;
}

.album-wrap {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 65px;
	margin-right: 25px;
	display: block;
	text-decoration: none;
}

.thumbnail-table {
	width: 70%;
}

.thumbnail-frame {
	
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	
}

.thumbnail-frame img {
	border: none;
}

.thumbnail-caption {
	
}

/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	margin: 10px;
	width: 900px;
}

.photo-navigation {
	margin-bottom: 10px;
	padding: 10px 10px 5px;
	text-align: left;
	text-decoration: none;
}

.photo-navigation a:link, .photo-navigation a:visited {
	text-decoration: none;
}

.photo-navigation a:hover {
	
}

.photo-frame {
	background: #f8f8f8 center center;
	padding: 5px;
	margin-top: 30px;
}

.photo-links {
	
}

.photo-title {
	font-weight: normal;
	font-size: 1.9em;
	margin: 0 0 3px;
}

.photo-caption {
	
}

/* @end */

/* @end */

/* @group Quicktime Page */

.movie-description {
	text-align: center;
	padding: 5px;

}
	
/* @end */



/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-weight: normal;
	margin-bottom: 3px;
	font-size: 1.9em;
}

.movie-page-description {
	margin-bottom: 15px;
	margin-top: 5px;
}

.movie-thumbnail-frame {
	width: 132px;
	float: left;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
}

.movie-thumbnail-caption {
	
}

/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.5em;
}

.movie-frame {
	
}

/* @end */

/* @end */

/* @group Contact Form */
.message-text { } 

.required-text { } 

.form-input-field { } 

.form-input-button { } 
/* @end */


