#menuOverflow {
	display: block;
	width: 800px;
	height: 15px;
	background: #fff url(../../images/editable_images/menu_bottom.png) no-repeat center top;
	margin-left: auto;
	margin-right: auto;
}

#nav1 a {
	line-height: 3.75em;
}