body {
	margin: 0;
	padding: 0;
	text-align: center;
	font: 90%/1.50em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background: url(images/body_bg.jpg) repeat;
}

#gradient {
	background: url(images/gradient.jpg) repeat-x;
	height: 700px;
	z-index: 1;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

img {
	border-style: none;
}

.image-left {
	float: left;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 0px;
	padding-bottom: 10px;
}

.image-right {
	float: right;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 10px;
	padding-bottom: 10px;
}

#mainContainer {
	margin: 0 auto;
	text-align: left;
	background: #ffffff;
	z-index: 10;
	display: block;
	position: relative;
}

.clearer {
	clear: both;
}

a:link, a:visited {
	color: #3791fc;
	text-decoration: none;
}

a:hover, a:active {
	text-decoration: underline;
}

#stripeBackground {
	background: url(images/stripe_bg.png) repeat;
	height: 600px;
	width: 100%;
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	z-index: 1;
}

/* @group Header */

#headerContainer {
	display: block;
	height: auto;
	margin-bottom: 0;
	position: relative;
	background-position: right center;
	border-top: 8px solid #000000;
}

#headerContainer img {
	position: absolute;
	right: 10px;
	top: 10px;
}

#headerContainer h1 {
	background: url('images/DO_NOT_DELETE/stripe_bottom.png') repeat-y left 0%;
	text-shadow: #000000 2px 2px 2px;
	height: auto;
	margin: 0;
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font: normal 2.00em/1.00em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
}

#headerContainer h2 {
	background: url('images/DO_NOT_DELETE/stripe_bottom.png') repeat-y left 0%;
	height: auto;
	margin: 0px;
	padding-top: 0px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 50px;
	text-decoration: none;
	font: normal normal 1.10em/1.00em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #ffffff;
}

/* @end */

/* @group Search Bar */

#searchBar {
	position: relative;
	display: block;
	height: 2.50em;
	background: #000000;
	color: #ffffff;
}

#extraContainer1 {
	float: left;
	display: inline;
	margin-top: 6px;
	margin-left: 10px;
	font-size: 90%;
}

#headerSearchContainer {
	position: relative;
	display: block;
	height: auto;
}

#headerSearchFunction fieldset {
	border: none;
	padding: 0;
	margin: 4px 0 0;
}

#headerSearchFunction {
	display: block;
	float: right;
	height: 27px;
	width:310px;
	margin: 0;
	padding:0px !important;
}

#headerSearchFunction input {
	float: left;
	font-size: 12px;
	width:223px;
	height: 16px;
	margin:1px 0px 0px;
	padding: 3px 4px 4px;
	border: 1px solid #000000;
}

#headerSearchFunction #button {
	padding: 0;
	height:24px;
	width: auto;
	margin:1px 0px 0px 5px !important;
	width:69px;
border: none;
background: #2e2e2e;
color: #ffffff;
}

/* @end */




/* @group Main Content */

#contentContainer {
	margin: 0 218px 0 0;
	padding: 10px;
	position: relative;
	z-index: 10;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

#contentContainer #content {
	padding: 0;
	text-align: left;
	font: 90%/1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #5e5e5e;
}

/* @end */

/* @group Sidebar */

#sidebarContainer {
	float: right;
	position: relative;
	width: 175px;
	font: 90%/1.40em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#sidebarContainer #sidebar {
	color: #5e5e5e;
	padding: 5px 10px 10px;
}

#sidebarContainer .sideHeader {
	line-height: 1.50em;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
	color: #ffffff;
	background: #000000;
	font-style: normal;
}

/* @end */

/* Secondry navigation links*/

/* Nest Level 1 and general settings*/

#navigationContainer {
	padding-top: 10px;
	margin-bottom: 10px;
	text-decoration: none;
	font: 100%/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#navigationContainer #current {
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}

#navigationContainer #current:hover {
	text-decoration: none;
}

#navigationContainer .currentAncestor {
	color: #666666;
	font-weight: normal;
	text-decoration: none;
}

/* Parent - Level 0 */

#navigationContainer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#navigationContainer li {
	display: block;
}

#navigationContainer a {
	display: inline;
	color: #3791fc;
	text-decoration: none;
	padding-left: 10px;
	padding-right: 10px;
}

#navigationContainer a:hover {
	color: #3791fc;
	border-bottom: none;
	text-decoration: underline;
}

#navigationContainer a:active {
	
}

/* Child - Level 1 */

#navigationContainer ul ul {
	
}

#navigationContainer ul ul li {
	
}

#navigationContainer ul ul a {
	padding-right: 20px;
	padding-left: 20px;
}

#navigationContainer ul ul a:hover {
	
}

#navigationContainer ul ul #current {
	color: #666666;
}

#navigationContainer ul ul .currentAncestor {
	color: #666666;
	font-weight: bold;
}

/* Child - Level 2 */

#navigationContainer ul ul ul {
	
}

#navigationContainer ul ul ul li {
	
}

#navigationContainer ul ul ul a {
	padding-right: 30px;
	padding-left: 30px;
}

#navigationContainer ul ul ul a:hover {
	
}

#navigationContainer ul ul #current {
	color: #666666;
}

#navigationContainer ul ul .currentAncestor {
	color: #666666;
	font-weight: bold;
}

/* Child Level 3 */

#navigationContainer ul ul ul {
	
}

#navigationContainer ul ul ul ul li {
	
}

#navigationContainer ul ul ul ul a {
	padding-right: 40px;
	padding-left: 40px;
}

#navigationContainer ul ul ul ul a:hover {
	
}

/* Child Level 4 */

#navigationContainer ul ul ul ul {
	
}

#navigationContainer ul ul ul ul ul li {
	
}

#navigationContainer ul ul ul ul ul a {
	padding-right: 50px;
	padding-left: 50px;
}

#navigationContainer ul ul ul ul ul a:hover {
	
}

/* Child Level 5 */

#navigationContainer ul ul ul ul ul {
	
}

#navigationContainer ul ul ul ul ul ul li {
	
}

#navigationContainer ul ul ul ul ul ul a {
	padding-right: 60px;
	padding-left: 60px;
}

#navigationContainer ul ul ul ul ul ul a:hover {
	
}

/* @group Footer & Breadcrumb Links */

#footer {
	height: auto;
	padding: 10px;
	text-align: left;
	font: 0.75em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #000000;
	color: #ffffff;
	position: relative;
}

#footer a {
	color: #ffffff;
	text-decoration: underline;
}

#breadcrumbcontainer {
	padding: 0;
	margin: 0;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
}

#breadcrumbcontainer li {
	display: inline;
	line-height: 1.5em;
	padding: 0;
	margin: 0;
}

#breadcrumbcontainer a:hover, #breadcrumbcontainer a:active {
	text-decoration: underline;
	border: none;
}

#expressCredits {
	display: block;
	width: 50%;
	text-align: right;
	position: absolute;
	top: 10px;
	right: 10px;
}

#expressCredits a {
	color: #212121;
}

#expressCredits a:hover {
	color: #5e5e5e;
}

/* @end */

/* @end */

blockquote, .standout {
	font-style: italic;
	padding: 10px;
	margin: 0px;
}

#sidebarContainer #sidebar ul {
	margin: 10px;
	padding: 0 10px;
}

table {
	font-size: 1em;
}

/* Global Classes (RW HTML Formatting Menu) CSS Settings */

/* Block Quotation */

blockquote, .standout {
	padding: 10px;
	margin: 0px;
}

dl {
	margin: 0px;
	padding: 0px;
}

dt {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

dd {
	margin-top: 0px;
	padding-top: 0px;
}

/* Emphasise */

em {
	font-weight: bold;
	font-style: italic;
}

/* Insertion */

ins {
	
}

/* Quotation */

q {
	font-style: italic;
}

strike {
	color: red;
}

h1 {
	margin-top: 0px;
	margin-bottom: -15px;
	line-height: 1.00em;
}

h2 {
	margin-top: 0px;
	margin-bottom: -15px;
	line-height: 1.00em;
}

h3 {
	margin-top: 0px;
	margin-bottom: -15px;
	line-height: 1.00em;
}

h4 {
	margin-top: 0px;
	margin-bottom: -15px;
	line-height: 1.00em;
}

h5 {
	margin-top: 0px;
	margin-bottom: -15px;
	line-height: 1.00em;
}

h6 {
	margin-top: 0px;
	margin-bottom: -15px;
	line-height: 1.00em;
}

/* Main content area unordered list styles */

#contentContainer #content ul {
	
}

#contentContainer #content li {
	
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

/* Sidebar area unordered list styles */

#sidebarContainer #sidebar ul {
	padding: 0px;
	margin: 0px;
}

#sidebarContainer #sidebar li {
	padding: 0px;
	margin: 0px;
}

/* Table Styles */

table {
	font-size: 1em;
}

/* @end */

/* @group Blog */

/* @group Archive Page */

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* @end */

/* @group Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* @end */

.blog-entry {
	padding-bottom: 20px;
}

.blog-entry-title {
	font-size: 1.50em;
	line-height: 1.00em;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	line-height: 1.00em;
	padding-bottom: 10px;
}

.blog-read-more {
	display: block;
}

.blog-entry-body {
	
}

.blog-entry-comments {
	background-color: #eaeaea;
	padding: 0 5px;
	margin: 0;
	line-height: 2.00em;
}

p.blog-entry-tags {
	background-color: #eaeaea;
	margin: 15px 0 0;
	padding: 0 5px;
	line-height: 2.00em;
}

/*styles the category link in the main entry */

.blog-entry-category a {

}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	padding: 10px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 10px;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
}

/* @end */

/* @group Filesharing */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: bold;
	margin-bottom: 0px;
}

.filesharing-item-title a:hover {
	font-weight: bold;
}

/* @end */

/* @group Flash Content */

#flashcontent {
	text-align: center;
}

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 5px;
}

.thumbnail-frame {
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 2px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	padding: 2px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}

/* @group EXIF data */

/* Data wrapper */

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* p tag classes for all exif data */

p.exif-version {
	
}

p.exif-colour-space {
	
}

p.exif-focal-length {
	
}

p.exif-dimensions {
	
}

p.exif-pixel-y-dimension {
	
}

p.exif-pixel-x-dimension {
	
}

p.exif-oecf-value {
	
}

p.exif-subsec-time-original {
	
}

p.exif-exposure-mode {
	
}

p.exif-spatial-frequency-response {
	
}

p.exif-scene-capture-type {
	
}

p.exif-subject-location {
	
}

p.exif-shutter-speed {
	
}

p.exif-datetime-original {
	
}

p.exif-subsec-time {
	
}

p.exif-compressed-bits-per-pixel {
	
}

p.exif-flash-energy {
	
}

p.exif-saturation {
	
}

p.exif-brightness {
	
}

p.exif-exposure-time {
	
}

p.exif-f-number {
	
}

p.exif-file-source {
	
}

p.exif-gain-control {
	
}

p.exif-subject-area {
	
}

p.exif-cfa-pattern {
	
}

p.exif-scene-type {
	
}

p.exif-white-balance {
	
}

p.exif-flash {
	
}

p.exif-exposure-index {
	
}

p.exif-flashpix-version {
	
}

p.exif-device-setting-description {
	
}

p.exif-focalplane-x-resolution {
	
}

p.exif-image-uniqueid {
	
}

p.exif-components-configuration {
	
}

p.exif-light-source {
	
}

p.exif-sensing-method {
	
}

p.exif-aperture {
	
}

p.exif-sharpness {
	
}

p.exif-exposure-program {
	
}

p.exif-subject-distance {
	
}

p.exif-subsec-time-digitized {
	
}

p.exif-contrast {
	
}

p.exif-focalplane-resolution-unit {
	
}

p.exif-gamma {
	
}

p.exif-35mm-focal-length {
	
}

p.exif-datetime-digitized {
	
}

p.exif-subject-distance-range {
	
}

p.exif-custom-rendered {
	
}

p.exif-max-aperture {
	
}

p.exif-sound-file {
	
}

p.exif-metering-mode {
	
}

p.exif-spectral-sensitivity {
	
}

p.exif-exposure-bias {
	
}

p.exif-focalplane-y-resolution {
	
}

p.exif-iso-rating {
	
}

p.exif-maker-note {
	
}

p.exif-digital-zoom-ratio {
	
}

p.exif-user-comment {
	
}

/* @end */

/* @end */

/* @end */

/* @group Quicktime Page */

.movie-description {
	margin-top: 15px;
}

/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* @end */

/* @end */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* @end */

/* @group Contact Form */

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: italic;
}

.required-text {
	
}

.form-input-field {
	font-size: 1.25em;
	width: 98%;
}

.form-input-button {
	font-size: 1.5em;
}

/* @end */