/* @option user-selected misc. theme setting */

#viewUserGuide {
	display: block;
	visibility: visible;
	width: 100%;
	height: 300px;
	background: url(../../images/misc/view_user_guide.png) no-repeat center center;
	position: absolute;
	top: 300px;
	margin: 0 auto;
	z-index: 500;
}

#viewUserGuide a {
	display: block;
	width: 100%;
	height: 100%;
}