/* Typical Theme by ThemeFlood. Visit http://www.themeflood.com */

body {
	line-height: 1.25em;
	font-size: 0.80em;
	margin: 0px;
	padding: 20px;
	text-align: left;
	background: #e4e4e4 url(images/editable_images/body_1.jpg) repeat-x 0 top;
}

#screenBadge {
	position: fixed;
	right: 0;
	top: 0;
	display: none;
	z-index: 100;
}

img {
	border-style: none;
}

.image-left {
	float: left;
	padding: 10px;
}

.image-right {
	float: right;
	padding: 10px;
}

#container {
	margin: 0 auto;
	text-align: left;
	border: 1px solid #ccc;
}


.clearer {
	clear: both;
}

.spacer {
	height: 40px;
}

a:link, a:visited {
	text-decoration: none;
	font-weight: normal;
	color: #fc0012;
}

a:hover, a:active {
	text-decoration: underline;
	font-weight: normal;
	color: #fc0012;
}

blockquote, .standout {
	font-style: italic;
	padding: 10px;
	margin: 0px;
}

#sidebarContainer #sidebar ul {
	margin: 10px;
	padding: 0 10px;
}

table {
	font-size: 1em;
}

blockquote, .standout {
	padding: 10px;
	margin: 0px;
}

dl {
	margin: 0px;
	padding: 0px;
}

dt {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

dd {
	margin-top: 0px;
	padding-top: 0px;
}

em {
	font-weight: normal;
	font-style: italic;
}

q {
	font-style: italic;
}

ins {
	
}

strike {
	color: red;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
	margin-bottom: 0px;
	line-height: 1.00em;
}

#contentContainer #content ul {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}

#contentContainer #content li {
	
}

#sidebarContainer #sidebar ul {
	padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	margin: 0px;
}

#sidebarContainer #sidebar li {
	padding: 0px;
	margin: 0px;
}

#logo {
	padding: 0px;
	float: right;
}

#primaryNavigation {
	margin: 0px;
	padding: 0px;
	height: 2.50em;
	display: block;
	position: relative;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background: url(images/menu_bg.jpg) repeat-x;
}

#primaryNavigation ul {
	text-align: right;
	list-style-type: none;
	position: absolute;
	right: 1px;
	padding-left: 0px;
	padding-right: 0px;
	margin: 0px;
}

#primaryNavigation li {
	display: inline;
	padding: 0px;
	margin: 0px;
}

#primaryNavigation a {
	display: block;
	text-align: center;
	color: #fff;
	padding: 8px 10px 10px;
}

#primaryNavigation a:link,
#primaryNavigation a:visited {
	font-weight: normal;
	text-decoration: none;
	display: block;
	float: left;
	border: 0px;
	margin-left: 3px;
	margin-right: 3px;
}

#primaryNavigation ul ul {
	display: none;
}

#primaryNavigation ul li a {
	display: none;
}

#primaryNavigation ul li a:hover {
	text-decoration: underline;
	font-weight: normal;
	border: 0px;
}

#primaryNavigation ul li .current,
#primaryNavigation ul li .current:hover,
#primaryNavigation ul li a.active {
	text-decoration: none;
	font-weight: normal;
	border: 0px;
}

#pageHeader {
	display: block;
	padding: 0px;
	height: 150px;
	background: url(images/header_bg.jpg) repeat-x;
}

#headerLogo {
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
	display: none;
}

#pageHeaderWrapper {
	padding: 15px;
}

#pageHeader h1 {
	display: inline;
	position: relative;
	text-decoration: none;
	text-align: left;
	font: normal normal 2.25em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
}

#siteSloganLogo {
	position: relative;
	right: 0px;
	top: 0px;
	padding: 0px;
	margin: 0px;
	display: none;
	color: #fff;
}

#pageHeader h2 {
	display: block;
	position: relative;
	text-align: left;
	text-decoration: none;
	font: normal normal 1.25em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
}

#mainBackgroundWrapper {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	margin: 0px;
	background-color: #fff;
}

#contentContainer #content {
	padding: 0px;
	background-color: #fff;
	color: #4c4c4c;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#contentContainer {
	position: relative;
	z-index: 1;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 200px;
	margin-left: 0px;
	background-color: #fff;
}

.secondaryNavigation {
	text-align: left;
	line-height: 1.25em;
	margin: 0;
	padding: 15px 0 15px 15px;
}

.secondaryNavigation .current {
	text-decoration: none;
	font-weight: normal;
}

.secondaryNavigation .current:hover {
	text-decoration: underline;
	font-weight: normal;
}

.secondaryNavigation ul {
	display: inline;
	padding: 0;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.secondaryNavigation li {
	display: inline;
	padding: 0px;
	margin: 0px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
}

.secondaryNavigation a {
	display: none;
	padding: 0px 0px 0;
	margin: 0px;
}

.secondaryNavigation a:hover {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

.secondaryNavigation ul ul a {
	display: block;
	text-decoration: none;
	line-height: 1.50em;
}

.secondaryNavigation ul ul a span {
	display: block;
	padding: 1px;
}

/* Nest Level 2*/

.secondaryNavigation ul ul ul {
}

.secondaryNavigation ul ul a {
	padding-left: 0px;
}

.secondaryNavigation ul ul a:hover span {
	text-decoration: underline;
}

/* Nest Level 3*/

.secondaryNavigation ul ul ul ul {
	padding-left: 20px;
	padding-right: 20px;
	margin: 0px;
}

.secondaryNavigation ul ul ul a {
		padding-left: 15px;
}

.secondaryNavigation ul ul ul a:hover span {
	text-decoration: underline;
}

/* Nest Level 4*/

.secondaryNavigation ul ul ul ul {
	padding-left: 30px;
	padding-right: 30px;
}

.secondaryNavigation ul ul ul a {
}

.secondaryNavigation ul ul ul a:hover span {
	text-decoration: underline;
}

#sidebarLogo {
	display: none;
	text-align: right;
}

#navigationTitle {
	text-align: left;
	color: #ffffff;
	height: 25px;
	background: url(images/element_bg.jpg) repeat-x;
	text-decoration: none;
	font: normal 1.25em/1.00em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin-top: 10px;
	padding: 7px 0px 0px 7px;
}

#sidebarContainer .sideHeader {
	padding-left: 7px;
	padding-right: 0px;
	padding-top: 7px;
	padding-bottom: 0px;
	text-align: left;
	color: #ffffff;
	height: 25px;
	background: url(images/element_bg.jpg) repeat-x;
	text-decoration: none;
	font: normal 1.25em/1.00em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#sidebarContainer {
	position: relative;
	float: right;
	width: 190px;
	padding: 0px;
	background-color: #fff;
	text-align: left;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #4c4c4c;
}

#sidebarContainer #sidebar {
	text-align: left;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #4c4c4c;
	padding: 15px;
}

#footer {
	height: 25px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	margin-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	background: url(images/element_bg.jpg) repeat-x;
	color: #fff;
	font: 0.90em/1.5em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#footerLogo {
	text-align: center;
	display: none;
}

#footer a {
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

#footer a:hover {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#breadcrumbcontainer {
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
}

#breadcrumbcontainer li {
	display: inline;
	line-height: 1.5em;
}

#breadcrumbcontainer a:hover {
	text-decoration: none;
}

#breadcrumbcontainer a:active {
	text-decoration: underline;
	border: none;
}

.typicalCred {
	text-align: center;
}

.typicalCred a {
	color: #d3d5d5;
	line-height: 2.00em;
	font-size: 80%;
}

.typicalCred a:hover {
	color: #7c7e7e;
	text-decoration: underline;
}

.blog-archive-background {
	
}

.blog-entry-summary {
	margin-bottom: 15px;
}

.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
	
}

.blog-archive-entries-wrapper .blog-entry {
	
}

.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
	
}

.blog-archive-link a:link, .blog-archive-link a:visited {
	
}

/* Blog Tag Cloud */

ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {
	font-size: 0.8em;
}

.blog-tag-size-2 {
	font-size: 0.85em;
}

.blog-tag-size-3 {
	font-size: 0.9em;
}

.blog-tag-size-4 {
	font-size: 0.95em;
}

.blog-tag-size-5 {
	font-size: 1em;
}

.blog-tag-size-6 {
	font-size: 1.05em;
}

.blog-tag-size-7 {
	font-size: 1.1em;
}

.blog-tag-size-8 {
	font-size: 1.15em;
}

.blog-tag-size-9 {
	font-size: 1.2em;
}

.blog-tag-size-10 {
	font-size: 1.25em;
}

.blog-tag-size-11 {
	font-size: 1.3em;
}

.blog-tag-size-12 {
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {
	font-size: 1.55em;
}

.blog-tag-size-17 {
	font-size: 1.6em;
}

.blog-tag-size-18 {
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {
	font-size: 1.75em;
}

/* Main Blog entries */

.blog-entry {
	padding-bottom: 20px;
}

.blog-entry-title {
	font-size: 1.25em;
	line-height: 1.00em;
	font-weight: normal;
	margin: 0px;
	padding-bottom: 5px;
}

.blog-entry-title a {
	text-decoration: none;
	padding-bottom: 5px;
}

.blog-entry-date {
	font-size: 0.75em;
	line-height: 1.00em;
	padding-bottom: 10px;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
	
}

.blog-entry-comments {
	
}

p.blog-entry-tags {
	font-style: italic;
}

/* Styles the category link/s in the main Blog entry */

.blog-entry-category a {
	font-weight: bold;
}

.blog-entry-category a:link, .blog-entry-category a:visited {
	
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */

#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */

#blog-categories {
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */

#blog-rss-feeds {
	margin-top: 10px;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/DO_NOT_DELETE/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
}

/* CSS formatting for Filesharing pages */

.filesharing-description {
	
}

.filesharing-item {
	padding-bottom: 15px;
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-weight: normal;
	margin-bottom: 0px;
	text-decoration: none;
}

.filesharing-item-title a:hover {
	font-weight: normal;
	text-decoration: none;
}

/* CSS styling to center flash slideshows created with the iPhoto page plugin */

#flashcontent {
	text-align: center;
}

/* Styling for iPhoto page albums */

.album-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 1.25em;
}

.album-description {
	margin-bottom: 50px;
}

.album-wrapper {
	display: block;
	width: 99%;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	background-image: url('images/theme_files/loading_background.png');
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 5px;
}

.thumbnail-frame:hover {
	
}

.thumbnail-frame a {
	
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	border: none;
	padding: 0px;
}

.thumbnail-caption {
	margin: 0;
	width: 100%;
	height: 38px;
	display: block;
	padding: 0 0 0 5px;
}

/* CSS Formatting for Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	
}

.photo-navigation a:link,
.photo-navigation a:visited {
	
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	background-image: url('images/theme_files/loading_background.png');
	padding: 0px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.25em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
}

/* Styling Exif Data */

.exif-data {
	font-size: 0.75em;
	line-height: 1.5em;
	clear: left;
	margin-left: 15px;
	margin-top: 15px;
	padding: 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* CSS Formatting for Quicktime Page */

.movie-description {
	margin-top: 15px;
}

/* CSS formatting for Quicktime Album page */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 15px;
}

.movie-thumbnail-frame {
	width: 134px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
	
}

.movie-thumbnail-frame img {
	padding: 1px;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
	
}

/* CSS formatting for Singular Quicktime Movies */

.movie-page-title {
	font-weight: bold;
	margin-bottom: 0px;
}

.movie-page-description {
	margin-bottom: 10px;
}

.movie-thumbnail-frame {
	width: 132px;
	display: inline;
	text-align: center;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 1px;
	font-size: 1em;
	position: relative;
	z-index: 10;
}

/* Contact Form Formatting */

form {
	margin: 0px;
	padding: 0px;
}

.message-text {
	font-weight: bold;
	font-style: normal;
}

.form-input-field {
	font-size: 1.25em;
	width: 99%;
}

.form-input-button {
	font-size: 1.5em;
}