body {
	color: %colour_body_text%;
	background-color: %colour_body_background%;	
}

.movie-background {
	color: %colour_body_text%;
	background-color: %colour_body_background%;
}

#container {
	background-color: %colour_body_background%;
}

#contentContainer {
	color: %colour_content_text%;
	background-color: %colour_content_background%;
	border-left : 15px solid %colour_body_background%;
	border-right : 15px solid %colour_body_background%;
}

a:link, a:visited {
	color: %colour_links%;
}

#pageHeader {
	background-color: %colour_header_background%;
	border-left : 5px solid %colour_header_background%;
	border-right : 5px solid %colour_header_background%;
	border-top : 5px solid %colour_header_background%;
}

#pageHeader h1, .movie-title {
	color: %colour_header_title%;
}
		
#pageHeader h2 {
	background-color: %colour_header_background%;
	color: %colour_header_slogan%;
}

#navcontainer a {
	color: %colour_menu_text%;
}

#sidebarContainer {
	color: %colour_sidebar_text%;
 background-color: %colour_sidebar_background%;
}

#sidebarContainer .sideHeader {
	color: %colour_sidebar_header%;
}

#sidebarContainer #sidebar, #sidebarContainer .lastPublished, #navcontainer {
	border-bottom: 15px solid %colour_body_background%;
}

#sidebarContainer .lastPublished {
	color: %colour_footer_text%;
	background-color: %colour_footer_background%;
}

#footer {
	color: %colour_footer_text%;
	background-color: %colour_footer_background%;
}

blockquote, .standout .filesharing-item {
background-color : %colour_blockquote_background%;
border: 1px dashed %colour_blockquote_border%;
}

.blog-entry-title a,
#blog-archives a,
#blog-categories a,
#blog-rss-feeds a,
.blog-archive-month {
	color: %colour_body_text%;
}

.blog-entry-title a:hover,
#blog-archives a:hover,
#blog-categories a:hover,
#blog-rss-feeds a:hover {
	color: %colour_menu_hover_text%;
}

.blog-archive-link-disabled,
.blog-category-link-disabled {
	color: %colour_highlight%;
	text-decoration: none;
}

#navcontainer {
	background-color: %colour_navigation_background%;
}

#navcontainer a {
	color: %colour_menu_text%;
}

#navcontainer ul {
	color: %colour_menu_text%;
}

#navcontainer ul a {
	color: %colour_menu_text%;
}

#navcontainer #current {
	color: %colour_menu_text%;
}

#navcontainer .currentAncestor {
	color: %colour_menu_text%;
}

#navcontainer ul a:hover {
	color: %colour_menu_hover_text%;
}

#navcontainer ul ul {
}

#navcontainer ul ul a {
	color: %colour_menu_text%;
}

.exif-data {
	background-color: %colour_body_background%;	
}