body {
	color: %colour_body_text%;	
	border-left: solid 50px %colour_body_border%;
}

#pageHeader {
	background-color: %colour_header_background%;
}

#pageHeader h1 {
	color: %colour_header_title%;
}

#pageHeader h2 {
	color: %colour_header_slogan%
}

#breadcrumbcontainer, #breadcrumbcontainer a {
	color: %colour_breadcrumb_static%;
	background-color: %colour_breadcrumb_background%;
}

#breadcrumbcontainer a:hover {
	color: %colour_breadcrumb_hover%;
}

#sidebarContainer {
	background-color: %colour_sidebar_background%;
	border-left: 1px dashed %colour_sidebar_border%;
	border-right: 1px dashed %colour_sidebar_border%;
}

#container {
	background-color: %colour_sidebar_background%;
}

#contentContainer {
	color: %colour_content_text%;
	background-color: %colour_content_background%;
	border: 1px solid %colour_sidebar_border%;
}

#contentContainer #content {
	
}

a:link, a:visited {
	color: %colour_links_static%;
}

a:hover {
	color: %colour_links_hover%;
}


a:active {
	color: %colour_links_static%;
}

.movie-title {
	color: %colour_header_title%;
	background-color: %colour_title_background%;
}

#navcontainer {
	background-color: %colour_menu_background_static%;
}

#navcontainer li,
#navcontainer ul ul li, 
#navcontainer ul ul ul li {
}

#navcontainer a, 
#navcontainer ul ul a, 
#navcontainer ul ul ul a {
	color: %colour_menu_text%;
}

#navcontainer a:hover,
#navcontainer ul ul a:hover,
#navcontainer ul ul ul a:hover {
	color: %colour_menu_hover_text%;
	background-color: %colour_menu_background_hover%;
}

#navcontainer #current, 
#navcontainer .currentAncestor,
#navcontainer ul ul #current,  
#navcontainer ul ul .currentAncestor,
#navcontainer ul ul ul #current,  
#navcontainer ul ul ul .currentAncestor {
	color: %colour_currentmenu_text%;
	background: %colour_currentmenu_background%;
}

.movie-background, .movie-page-title, .movie-page-description {
	color: %colour_body_text%;
	background-color: %colour_body_background%;
}

#footer {
	color: %colour_footer_text%;
	background-color: %colour_footer_background%;
}

#footer a:link, #footer a:visited, #footer a:active {
	color: %colour_footer_link_static%;
}

#footer a:hover {
	color: %colour_footer_link_hover%;
}

blockquote, .standout .filesharing-item {
background-color : %colour_blockquote_background%;
border: 1px solid %colour_blockquote_border%;
}

.blog-entry-title, .blog-entry-title a {
	color: %colour_body_text%;
}

.blog-entry-title a,
#blog-archives a,
#blog-categories a,
#blog-rss-feeds a,
.blog-archive-month {
	color: %colour_body_text%;
}


.blog-entry-title a:hover,
#blog-archives a:hover,
#blog-categories a:hover,
#blog-rss-feeds a:hover {
	color: %colour_links_hover%;
}

.blog-archive-link-disabled,
.blog-category-link-disabled {
	color: %colour_highlight%;
	text-decoration: none;
}

.exif-data {
}