body {
	color: #333;
	font: 90% verdana, helvetica, sans-serif;
	margin: 20px;
	padding: 0px;
}

p {
}

b, strong {

}

/* Weblink CSS settings (Navigation container link settings are further down) */

a:link, a:visited {
	color: #3898ca;
	text-decoration: none;
}

a:hover, a:active {
	color: #3898ca;
	text-decoration: underline;
}

img {
	border-style: none;
}

.image-right {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

.image-left {
	float: left;
	margin-left: 0px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	z-index: 5;
}

/* - CSS Layout Settings - */

#border {
	margin: 0px auto;
	text-align: left;
	color: #000000;
	padding: 0;
	width: 800px;
}

#container {
	margin: 0px auto;
	text-align: left;
	color: #000000;
	padding: 0;
	width: 800px;
}



#topCorners {
	height: 26px;
	display: block;
}

.clearer {
	clear: both;
}

#header {
	width: 68%;
	float: right;
	margin: 0;
	padding: 0;
}

#pageHeader {
	height: auto;
	margin-bottom: 1px;
	position: relative;
	padding: 0;
	display: inline;
}

#pageHeader img {
	position: absolute;
	right: 5px;
	top: 5px;
}

#pageHeader h1 { 
display: inline;
	color: #000;
	margin: 0px;
	padding: 0px 0px 10px;
	text-transform: none;
	font: normal 3.00em Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	letter-spacing: -1px;
}

#siteSlogan h2 { 
	color: #333;
	margin: 0px;
	letter-spacing: -1px;
	text-transform: none;
	font: bold 2.00em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	padding: 0 0 10px;
}

/* Breadcrumb Container CSS Settings*/

#breadcrumbcontainer {
	height: auto;
	text-align: left;
	text-decoration: none;
	padding: 10px 20px;
	font: normal normal 90% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#breadcrumbcontainer ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
	padding: 0px;
}

#breadcrumbcontainer li {
	display: inline;
}

#breadcrumbcontainer a {
	padding: 0px 0px 0px 0px;
}

#breadcrumbcontainer a:hover {
	text-decoration: underline;
}
	
#contentContainer {
	display: block;
	position: relative;
	z-index: 10;
	background-color: #fff;
	margin-top: 10px;
}

#contentContainer #content {
	padding: 5px 20px 0;
	margin-right: 200px;
	font: 90%/1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 1.4em;
	color: #333;
}

#sidebarContainer {
position : relative;
width: 165px;
float: right;
	margin: 0;
	padding: 10px 20px 20px;
}

#sidebarContainer #sidebar {
	color: #333;
	padding: 0px 5px 10px;
	font: 90%/1.4em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#sidebarContainer .sideHeader {
	color: #333;
line-height: 1.5em;
font-weight: bold;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding: 0 5px;
}

#footerContainer {
	height: 3.00em;
	display: block;
	background: url(images/bottom.png) no-repeat;
	margin-top: 35px;
}

#footer {
	color: #333;
	font: 90% "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	display: block;
	background-color: #fff;
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
}

#footer a:hover, #footer a:active {
	color: #3898ca;
	text-decoration: underline;
}

#footer a:link, #footer a:visited {
	color: #3898ca;
}

#footerPadding {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}

#failCredit {
	position: absolute;
	top: 2px;
	right: 25px;
	text-align: right;
	font-size: 70%;
}

#failCredit a:link {
	color: #eaeaea;
}

#failCredit a:hover {
	color: #3898ca;
	text-decoration: underline;
}

/* @group Horizontal Navigation */

#primaryNavigation {
	position: relative;
	top: 0;
	right: 0;
	width: 100%;
	height: 17px;
	text-align: left;
	text-decoration: none;
	z-index: 10;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	background-color: #fff;
	margin: 15px 0 25px;
	padding: 0;
}

#primaryNavigation li a {
	margin: 0;
	padding: 10px;
}

#primaryNavigation .current {
	font-weight: normal;
	font-style: normal;
}

#primaryNavigation .currentAncestor {
	font-weight: normal;
	font-style: normal;
}

/* Parent - Level 0 */

#primaryNavigation li {
	display: inline;
	margin: 0 -5px 0 0;
	padding: 0;
}

#primaryNavigation ul {
	margin: 0 auto;
}

#primaryNavigation a {
	text-decoration: none;
	display: inline;
	font-size: 14px;
	margin: 0;
	font-weight: normal;
	font-style: normal;
	padding: 0 0 7px;
}

#primaryNavigation a:hover {
	text-decoration: underline;
	font-weight: normal;
	font-style: normal;
}

#primaryNavigation a:active {
}

/* Child - Level 1 */

#primaryNavigation ul ul {
	display: none;
}

#primaryNavigation ul ul li {
	
}

#primaryNavigation ul ul a {
	background: none;
	padding-top: 1px;
	width: 9em;
}

#primaryNavigation ul ul a:hover {
	
}

#primaryNavigation ul ul .current {
	font-weight: bold;
}

#primaryNavigation ul ul .currentAncestor {	
}

/* Child - Level 2 */

#primaryNavigation ul ul ul {	
}

#primaryNavigation ul ul ul li {
	
}

#primaryNavigation ul ul ul li a {
	
}

#primaryNavigation ul ul ul li a:hover {
	
}

#primaryNavigation ul ul ul .current {
	font-weight: bold;
}

#primaryNavigation ul ul ul ul {
	
}

/* @end */



/* @group Vertical Navigation */

#verticalNavigation {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#verticalNavigation .current:hover,
#verticalNavigation ul .current:hover,
#verticalNavigation ul ul .current:hover,
#verticalNavigation ul ul ul .current:hover {
	font-weight: bold;
	text-decoration: none;
}

#verticalNavigation .current,
#verticalNavigation ul .current,
#verticalNavigation ul ul .current,
#verticalNavigation ul ul ul .current {
	font-weight: bold;
	text-decoration: none;
}

/* Parent - Level 0 */

#verticalNavigation ul {
	list-style: none;
	margin: 0 0 20px;
	padding: 0;
}

#verticalNavigation li {
	position: relative;
	display: inline;
}

#verticalNavigation a {
	display: none;
	height: 20px;
	text-decoration: none;
	padding: 0 5px;
}

#verticalNavigation a:hover {
	text-decoration: underline;
	font-style: normal;
}

/* Child - Level 1 */

#verticalNavigation ul a {
	display: none;
	background-image: none;
	font-style: normal;
}

#verticalNavigation ul a:hover {
	display: none;
	background-image: none;
	font-style: normal;
}

/* Child - Level 2 */

#verticalNavigation ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
	line-height: 1.50em;
}

/* Child - Level 3 */

#verticalNavigation ul ul ul a {
	display: block;
	background-image: none;
	font-style: normal;
	padding-right: 30px;
	padding-left: 30px;
}

#verticalNavigation ul ul ul a:hover {
	display: block;
	background-image: none;
	font-style: normal;
}

/* @end */

/* Global Classes (RW HTML Formatting Menu) CSS Settings */

blockquote, .standout {
	font-style: italic;
	color: #000000;
	padding: 10px;
	margin: 10px;
}

h1 {
}

h2 {
}

h3 {
}

h4 {
}

/* Main content area unordered list styles */
#contentContainer #content ul {
}

#contentContainer #content li {
}

ul.disc {
	list-style-type: disc;
}

ul.circle {
	list-style-type: circle;
}

ul.square {
	list-style-type: square;
}

ol.arabic-numbers {
	list-style-type: decimal;
}

ol.upper-alpha {
	list-style-type: upper-alpha;
}

ol.lower-alpha {
	list-style-type: lower-alpha;
}

ol.upper-roman {
	list-style-type: upper-roman;
}

ol.lower-roman {
	list-style-type: lower-roman;
}
/* Sidebar area unordered list styles */
#sidebarContainer #sidebar ul {
}

#sidebarContainer #sidebar li {
}


/* Table Styles */
table {
	font-size: 1em;
}
/* @end */

/* @group Blog */

/* @group Archive Page */

.blog-archive-background {
}

.blog-entry-summary {
	margin-bottom: 15px;
}
.blog-archive-headings-wrapper {
	border-bottom: 1px solid;
}

.blog-archive-entries-wrapper {
}

.blog-archive-entries-wrapper .blog-entry {
}.blog-archive-month {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.blog-archive-link {
}.blog-archive-link a:link, .blog-archive-link a:visited {
}
	
/* @end */

/* @group Tag Cloud */
ul.blog-tag-cloud {
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

ul.blog-tag-cloud li {
	display: inline;
	padding-right: 5px;
}

.blog-tag-size-1 {	
	font-size: 0.8em;
}

.blog-tag-size-2 {	
	font-size: 0.85em;
}

.blog-tag-size-3 {	
	font-size: 0.9em;
}

.blog-tag-size-4 {	
	font-size: 0.95em;
}

.blog-tag-size-5 {	
	font-size: 1em;
}

.blog-tag-size-6 {	
	font-size: 1.05em;
}

.blog-tag-size-7 {	
	font-size: 1.1em;
}

.blog-tag-size-8 {	
	font-size: 1.15em;
}

.blog-tag-size-9 {	
	font-size: 1.2em;
}

.blog-tag-size-10 {	
	font-size: 1.25em;
}

.blog-tag-size-11 {	
	font-size: 1.3em;
}

.blog-tag-size-12 {	
	font-size: 1.35em;
}

.blog-tag-size-13 {
	font-size: 1.4em;
}

.blog-tag-size-14 {	
	font-size: 1.45em;
}

.blog-tag-size-15 {
	font-size: 1.5em;
}

.blog-tag-size-16 {	
	font-size: 1.55em;
}

.blog-tag-size-17 {	
	font-size: 1.6em;
}

.blog-tag-size-18 {	
	font-size: 1.65em;
}

.blog-tag-size-19 {
	font-size: 1.7em;
}

.blog-tag-size-20 {	
	font-size: 1.75em;
}

/* @end */

.blog-entry {
	padding-bottom: 15px;
}

.blog-entry-title {
	font-size: 1.75em;
	font-weight: normal;
	margin: 0px 0px 4px;
	line-height: 1.1em;
}

.blog-entry-title a {
	text-decoration: none;
}

.blog-entry-date {
	font-size: 1.0em;
	font-style: italic;
}

.blog-read-more {
	display: inline;
	padding-top: 15px;
	font-style: italic;
}

.blog-entry-body {
}

.blog-entry-comments {
}

p.blog-entry-tags {
	font-style: italic;
}

/*styles the category link in the main entry */
.blog-entry-category a {
}

.blog-entry-category a:link, .blog-entry-category a:visited {
}

#blog-archives br,
#blog-categories br,
#blog-rss-feeds br {
	display: none;
}

/* styles the archives in the blog sidebar */
#blog-archives {
	margin-bottom: 15px;
}

.blog-archive-link-enabled {
	background-repeat: no-repeat;
	display: block;
}

.blog-archive-link-disabled {
	background-repeat: no-repeat;
	display: block;
}

/* Styles the blog categories in the blog sidebar */
#blog-categories {
	padding: 10px;
}

.blog-category-link-enabled {
	display: block;
}

.blog-category-link-disabled {
	display: block;
}

/* Styles the blog RSS feeds in the blog sidebar */
#blog-rss-feeds {
	margin-top: 10px;
}

.blog-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
	padding-right: 15px;
}

.blog-comments-rss-link {
	background-repeat: no-repeat;
	background-image: url(images/rss_icon.png);
	background-position: left center;
	padding-left: 15px;
}

/* @end */

/* @group File Sharing */

.filesharing-description {
}

.filesharing-item {
	padding-top: 15px;
}

.filesharing-item-title a:link {
	font-size: 1.10em;
}

.filesharing-item-title a:hover {
}

.filesharing-item-title a:visited {

}

.filesharing-item-description {
}

/* @end */

/* @group Photo Album */

/* @group Index Page (Thumbnail view) */

.album-title {
	font-size: 2.2em;
	letter-spacing: -1px;
}

.album-description {
	margin-bottom: 75px;
}


.album-wrapper {
	display: block;
	width: auto;
	position: relative;
}

.thumbnail-wrap {
	text-align: center;
	position: relative;
	float: left;
	margin-bottom: 60px;
	margin-right: 20px;
}

.thumbnail-frame {
	position: absolute;
    bottom: 0;
    left: 0;
}

.thumbnail-frame:hover {
}

.thumbnail-frame a {
}

.thumbnail-frame a:hover {
	background: transparent;
}

.thumbnail-frame img {
	margin: auto;
	padding: 1px;
}

.thumbnail-caption {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 38px;
	display: block;
}
	
/* @end */

/* @group Single Page (Photo view) */

.photo-background {
	text-align: left;
}

.photo-navigation {
	width: 200px;
	float: left;
	margin: 15px 15px 0;
	padding: 15px;
}

.photo-links {
	padding-top: 15px;
}

.photo-navigation a:link,
.photo-navigation a:visited {
}

.photo-navigation a:hover {
	background: transparent;
}

.photo-frame {
	border: 3px solid;
	padding: 1px;
	position: absolute;
	left: 260px;
	top: 15px;
}

.photo-title {
	margin: 0;
	font-size: 1.5em;
	font-weight: normal;
}

.photo-caption {
	margin: 0;
	font: italic normal 1em Georgia, "Times New Roman", Times, serif;
}

/* @group EXIF data */
/* Data wrapper */
.exif-data {
	clear: left;
	margin: 0 0 0 15px;
	padding: 0 15px 15px;
	float: left;
	width: 200px;
}

.exif-data p {
	margin: 0;
	padding: 0;
}

/* p tag classes for all exif data */
p.exif-version {
}

p.exif-colour-space {
}

p.exif-focal-length {
}

p.exif-dimensions {
}

p.exif-pixel-y-dimension {
}

p.exif-pixel-x-dimension {
}

p.exif-oecf-value {
}

p.exif-subsec-time-original {
}

p.exif-exposure-mode {
}

p.exif-spatial-frequency-response {
}

p.exif-scene-capture-type {
}

p.exif-subject-location {
}

p.exif-shutter-speed {
}

p.exif-datetime-original {
}

p.exif-subsec-time {
}

p.exif-compressed-bits-per-pixel {
}

p.exif-flash-energy {
}

p.exif-saturation {
}

p.exif-brightness {
}

p.exif-exposure-time {
}

p.exif-f-number {
}

p.exif-file-source {
}

p.exif-gain-control {
}

p.exif-subject-area {
}

p.exif-cfa-pattern {
}

p.exif-scene-type {
}

p.exif-white-balance {
}

p.exif-flash {
}

p.exif-exposure-index {
}

p.exif-flashpix-version {
}

p.exif-device-setting-description {
}

p.exif-focalplane-x-resolution {
}

p.exif-image-uniqueid {
}

p.exif-components-configuration {
}

p.exif-light-source {
}

p.exif-sensing-method {
}

p.exif-aperture {
}

p.exif-sharpness {
}

p.exif-exposure-program {
}

p.exif-subject-distance {
}

p.exif-subsec-time-digitized {
}

p.exif-contrast {
}

p.exif-focalplane-resolution-unit {
}

p.exif-gamma {
}

p.exif-35mm-focal-length {
}

p.exif-datetime-digitized {
}

p.exif-subject-distance-range {
}

p.exif-custom-rendered {
}

p.exif-max-aperture {
}

p.exif-sound-file {
}

p.exif-metering-mode {
}

p.exif-spectral-sensitivity {
}

p.exif-exposure-bias {
}

p.exif-focalplane-y-resolution {
}

p.exif-iso-rating {
}

p.exif-maker-note {
}

p.exif-digital-zoom-ratio {
}

p.exif-user-comment {
}
/* @end */

/* @end */
	
/* @end */

/* @group Quicktime Page */

.movie-description {

}
	
/* @end */

/* @group Quicktime Album */

/* @group Index Page (Movie Thumbnail view) */

.movie-page-title {
	font-size: 2.2em;
	letter-spacing: -1px;
}.movie-page-description {
	padding-bottom: 15px;
}.movie-thumbnail-frame {
	width: 132px;
	height: 132px;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
}

.movie-thumbnail-frame:hover {
}

.movie-thumbnail-frame img {
	padding: 1px;
	border: 3px solid;
	margin-bottom: 5px;
}

.movie-thumbnail-caption {
}
	
/* @end */

/* @group Single Page (Movie View) */

.movie-background {
	margin: 10px;
}

.movie-title {
	font-size: 2.2em;
	letter-spacing: -1px;
	font-weight: normal;
	margin: 0;
}

.movie-frame {
}
	
/* @end */


/* @end */

/* @group Contact Form */
form {
	margin: 0;
}
.message-text {
	font-weight: bold;
	font-style: italic;
} 

.required-text {
} 

.form-input-field {
	background: #f4f4f4;
	width: 100%;
	font-size: 1em;
} 

.form-input-button {
	font-size: 1.3em;
} 
/* @end */